<div class="forgot-password-section min-height">
  <ng-container [ngSwitch]="step">
    <div class="forgot-password-title-content forgot-password-section_content">
      {{'Recovery.ForgotPassword' | translate}}
    </div>
    <div *ngSwitchCase="1" class="forgot-password-section_content">
      <span class="icon-close-modal" (click)="back()"></span>
      <img class="recovery-logo" [src]="logoUrl"  defaultImageFallBack [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
      <h2 class="forgot-password-title-bottom">{{'Recovery.Password_recovery' | translate}}</h2>
      <div class="forgot-password-section_block">
        <div class="change_block">
          <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="submit()">
            <div *ngIf="!showSuccessMessage" class="form_row">
              <div class="form_field">
                <input #inputElement [ngClass]="showErrorMessage ? 'invalid-field' : ''" type="text" class="recovery_input"
                       placeholder="{{'Register.ForgotPasswordPlaceholder' | translate}}" formControlName="fEmail"/>
                <label *ngIf="!showSuccessMessage" [ngClass]="showErrorMessage ? 'label-on-error' : ''">
                  {{'Recovery.Label' | translate}}
                </label>
              </div>
              <div class="error_message">
                {{errorMessage}}
              </div>

            </div>

            <div class="registration_complete" *ngIf="showSuccessMessage">
              <fa-icon class="check-circle-icon" [icon]="['fas', 'check-circle']"></fa-icon>
              <h1>{{successMessage}}</h1>
            </div>

            <div *ngIf="!showSuccessMessage" class="form_row number-info">
              {{'Recovery.Number-format' | translate}}
            </div>

            <div class="help_block">
              <p *ngIf="!showSuccessMessage">
                {{'Recovery.Help-message' | translate}}
              </p>
              <a class="support" [innerHTML]="'Recovery.Support'| translate | sanitizer: 'html'" (click)="openNotLoginNewTicket($event)"></a>
            </div>

            <div class="form_row">
              <button type="submit"
                      class="recovery-btn bg_recovery craft_btn">{{'Recovery.Btn-title' | translate}}</button>
              <div class="reg-buttons">
                <span (click)="showSignUp('open', $event)">{{'Register.Registration' | translate}}</span>
                <span (click)="openLoginPopup($event)">{{'Login.Sign In' | translate}}</span>
              </div>
            </div>
            <div class="forgot-error_message error_message" >
              {{showErrorMessage}}
            </div>
          </form>

        </div>

      </div>
    </div>
    <div *ngSwitchCase="2" class="forgot-password-section_content">
      <img class="recovery-logo"   [src]="logoUrl"   defaultImageFallBack [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
      <h2 class="forgot-password-title-bottom">{{'Recovery.Password_recovery' | translate}}</h2>
      <div class="forgot-password-section_block">
        <div class="change_block">
          <div class="registration_complete" *ngIf="showSuccessMessage">
            <fa-icon class="check-circle-icon" [icon]="['fas', 'check-circle']"></fa-icon>
            <h1>{{successMessage}}</h1>
          </div>
          <div class="form_row">
            <button type="submit"
                    class="recovery-btn bg_recovery craft_btn hide-forgot-btn">{{'Recovery.Btn-title' | translate}}</button>
            <div class="reg-buttons">
              <span (click)="showSignUp('open', $event)">{{'Register.Registration' | translate}}</span>
              <span (click)="openLoginPopup($event)">{{'Login.Sign In' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngSwitchCase="3">
      <ng-template #verifyOtpRef></ng-template>
    </ng-container>
    <ng-container  *ngSwitchCase="4">
      <div class="forgot-password-section_content">
        <img class="recovery-logo" [src]="logoUrl"   defaultImageFallBack [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
        <div *ngIf="showQuestionsView">
          <h2 class="forgot-password-title-bottom">{{'Recovery.Security-questions' | translate}}</h2>
          <div class="security-questions-modal" *ngFor="let item of securityQuestions">
            <p>{{item.QuestionText}}</p>
            <div class="security-questions-form">
              <input [(ngModel)]="item.Answer" type="text" placeholder="{{'Recovery.security-questions-placeholder' | translate}}">
              <label for="">{{'Recovery.security-questions-answer' | translate}}</label>
            </div>
          </div>
        </div>
        <div class="password-sec">
          <h2 class="forgot-password-title-bottom forgot-password-title-bottom-opacity">{{'Recovery.Password_recovery' | translate}}</h2>
          <div class="forgot-password-section_block">
            <div class="change_block">
              <form class="form password-part" novalidate
                    [formGroup]="resetPasswordFormGroup">
                <div class="form_row form_row_recovery">

                  <div class="form_field">
                    <input type="{{showPassword ? 'text' : 'password'}}" class="recovery_input"
                           formControlName="Password"
                           [formGroup]="resetPasswordFormGroup"
                           maxlength="20"
                           placeholder="{{'Recovery.New-password-placeholder' | translate}}"/>
                    <label>{{'Recovery.New-password' | translate}}</label>
                    <div (click)="showPassword = !showPassword" class="password-eye-show">
                      <span [ngClass]="showPassword ? 'icon-eye-password-close' : 'icon-eye-password'"></span>
                    </div>
                  </div>
                  <div class="error_message text-align-center" *ngIf="resetPasswordFormGroup.get('Password').touched && resetPasswordFormGroup.get('Password').hasError('pattern')">
                    {{'Error.Password_Validation' | translate}}
                  </div>
                </div>

                <div class="form_row form_row_recovery">

                  <div class="form_field">
                    <input type="{{showConfirmPass ? 'text' : 'password'}}" class="recovery_input"
                           formControlName="ConfirmPassword"
                           [formGroup]="resetPasswordFormGroup"
                           maxlength="20"
                           placeholder="{{'Recovery.Confirm-password-placeholder' | translate}}"/>
                    <label>{{'Recovery.Confirm-password' | translate}}</label>
                    <div (click)="showConfirmPass = !showConfirmPass" class="password-eye-show">
                      <span [ngClass]="showConfirmPass ? 'icon-eye-password-close' : 'icon-eye-password'"></span>
                    </div>
                  </div>

                  <div class="error_message text-align-center"
                       *ngIf="resetPasswordFormGroup.get('ConfirmPassword').hasError('matchTo')"> {{'Recovery.Password-not-match' | translate}}
                  </div>
                  <div class="message" *ngIf="errorMessage">
                    <span class="icon-exclamation security-questions-icon"></span>
                    <span>{{'Error.' + errorMessage | translate}}</span>
                  </div>
                </div>
                <button type="submit" class="craft_btn change-password_btn" (click)="resetPassword()">
                  {{'Recovery.Change' | translate}}
                </button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </ng-container>
    <ng-container *ngSwitchCase="5">
      <div class="forgot-password-section_content forgot-password-section_content1">
      <img class="recovery-logo" [src]="logoUrl"  defaultImageFallBack [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
      <div class="recovery-success-message">
        <fa-icon class="check-circle-icon" [icon]="['fas', 'check-circle']"></fa-icon>
        <p class="successfully-registered">{{'Recovery.successfully-changed-password' | translate}}</p>
      </div>
      </div>
    </ng-container>
  </ng-container>
</div>
