<form class="change-password_form" [formGroup]="changePasswordForm" novalidate (ngSubmit)="saveResetPassword()"
      autocomplete="off">
  <div class="change-password-inputs">
    <div class="form_row">
      <label>{{'Settings.Old-password' | translate}}</label>
      <div class="form_field">
        <input type="password" placeholder="{{'Settings.Old-password' | translate}}" formControlName="uOldPassword"
               [ngClass]="{'invalid-filed': ((changePasswordForm.get('uOldPassword').hasError('required')  || changePasswordForm.get('uOldPassword').hasError('minlength') || changePasswordForm.get('uOldPassword').hasError('maxlength')) && changePasswordForm.get('uOldPassword').touched)}"/>
      </div>
      <div class="error_message"
           *ngIf="changePasswordForm.get('uOldPassword').hasError('required') && !changePasswordForm.get('uOldPassword').hasError('uOldPassword') && !changePasswordForm.get('uOldPassword').hasError('maxlength') && changePasswordForm.get('uOldPassword').touched">
        <span>{{ 'Error.Required-field' | translate }}</span>
      </div>
      <div class="comment">
        {{'Error.Password_Validation' | translate}}
      </div>
    </div>

    <div class="form_row">
      <label>{{'Settings.New-password' | translate}}</label>
      <div class="form_field">
        <input type="password" placeholder="{{'Settings.New-password' | translate}}" formControlName="uNewPassword"
               [ngClass]="{'invalid-filed': ((changePasswordForm.get('uNewPassword').hasError('required')  || changePasswordForm.get('uNewPassword').hasError('minlength') || changePasswordForm.get('uNewPassword').hasError('maxlength')) && changePasswordForm.get('uNewPassword').touched)}"/>
      </div>
      <div class="error_message"
           *ngIf="changePasswordForm.get('uNewPassword').hasError('required') && !changePasswordForm.get('uNewPassword').hasError('uNewPassword') && !changePasswordForm.get('uNewPassword').hasError('maxlength') && changePasswordForm.get('uNewPassword').touched">
        <span>{{ 'Error.Required-field' | translate }}</span>
      </div>

      <div class="comment">
        {{'Error.Password_Validation' | translate}}
      </div>
    </div>


    <div class="form_row">
      <label>{{'Settings.Confirm-password' | translate}}</label>
      <div class="form_field">
        <input type="password" formControlName="confirmPassword"
               placeholder="{{'Settings.Confirm-password' | translate}}"
               [ngClass]="{'invalid-filed': ((changePasswordForm.get('confirmPassword').hasError('required')  || changePasswordForm.get('confirmPassword').hasError('minlength') || changePasswordForm.get('confirmPassword').hasError('maxlength')) && changePasswordForm.get('confirmPassword').touched)}"/>
      </div>
      <div class="error_message"
           *ngIf="changePasswordForm.get('confirmPassword').hasError('matchTo') && changePasswordForm.get('confirmPassword').dirty && !changePasswordForm.get('confirmPassword').hasError('required')">
        <span>{{ 'Error.PasswordMatchTo' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="form_row">
    <div class="form_field">
      <button type="submit"
              class="craft_btn change-btn setting_btn">{{'Settings.Change-password' | translate}}</button>
      <div class="{{changePasswordMessage?.className}}">{{changePasswordMessage?.message}}</div>
    </div>
  </div>


</form>
