<!--<div class="modal-content modal-content_tickets"  [ngClass]="{'leftTORight': !rightToLeftOrientation, 'rightToLeft': rightToLeftOrientation}">-->
<div  [ngClass]="{'leftTORight': !rightToLeftOrientation, 'rightToLeft': rightToLeftOrientation}">
  <!--  <div class="modal-body ticket-body flex_between">-->
  <!--    <h2>{{'User.New-Ticket' | translate}}</h2>-->
  <!--    <fa-icon [icon]="['fas', 'times']" (click)="close()"></fa-icon>-->
  <!--  </div>-->

  <div class="new_ticket">
    <form [formGroup]="ticketForm" novalidate >
      <div class="form_row" *ngIf="data?.notLogin">
        <label>{{'Register.Email' | translate}}</label>
        <div class="form_field">
          <input type="text" class="ticket_input" name="Email" formControlName="Email"/>
        </div>
      </div>

      <div class="form_row">
        <label>{{'User.Subject' | translate}}</label>
        <div class="form_field">
          <input type="text" class="ticket_input" name="Subject" formControlName="Subject"/>
        </div>
      </div>

      <div class="form_row">
        <label>{{'User.Ticket' | translate}}</label>
        <div class="form_textarea">
          <textarea name="Message" formControlName="Message"></textarea>
        </div>
      </div>

      <div class="form_row">
        <div class="form_field">
          <button type="submit" class="setting_btn" [disabled]="ticketForm.invalid || clicked" (click)="submit();clicked = true;">{{'User.Send' | translate}}</button>
        </div>
      </div>
    </form>
    <div class="success-message" *ngIf="statusMessage">{{statusMessage}}</div>


  </div>
</div>
