<div>
    <ngx-slick-carousel class="carousel"
                        [config]="fragmentConfig.Config"
                        [class.vertical]="fragmentConfig.Config.vertical"
                        (beforeChange)="currentSlide = $event.currentSlide">
        <div ngxSlickItem *ngFor="let banner of banners; let i = index" class="banner"   (click)="navigateByBanner(banner.Link, $event)">
            <div class="banner_image">
                <picture>
                    <source *ngFor="let source of banner.sources" [media]="source.media" [srcset]="source.srcset">
                    <img [src]="bannerService.bannersPath + banner?.Image">
                </picture>
                <div class="banner-wrapper"></div>
                <div class="banner-wrapper2"></div>
                <div class="banner-content">
                    <div class="banner-description" [innerHTML]="banner.Head | sanitizer: 'html'"></div>
                    <div class="banner-content-description" [innerHTML]="banner.Body | sanitizer: 'html'"></div>
                    <div *ngIf="banner.ShowRegistration" class="banner-action distans-right"
                         (click)="onRegisterOpen(); $event.stopPropagation()">{{'Login.Sign Up' | translate}}</div>

                    <div *ngIf="banner.ShowLogin" class="banner-action"
                         (click)="onLoginOpen(); $event.stopPropagation()">{{'Login.Sign In' | translate}}</div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
