::ng-deep body
{
  min-width: 1275px;
  overflow-x: auto;
  .rightToLeft
  {
    direction:rtl;
    .footer-section
    {
      .footer-column
      {
        &_title
        {
          text-align: right;
        }
        &_item
        {
          text-align: right;
        }
      }
    }
  }
}


.leftTORight {
  direction: ltr;
}


@media screen and (min-width: 600px) and (max-width: 1280px) {
  ::ng-deep body
  {
    min-width: auto;
    overflow-x: auto;
  }
}