<div class="mobile-credit-tab">
    <div class="mobile-credit-section">
        <div class="titles" *ngIf="!connected">
            <span class="credit-tab-text">{{ 'User.Payment-top-title' | translate }}</span>
        </div>
        <div class="container-part" *ngIf="!connected">
            <form class="pay3000-section-form" [formGroup]="formGroup" novalidate (ngSubmit)="savePay3000()">
                <div class="form_field">
                    <label>{{ 'Settings.PayId' | translate }}</label>
                    <input type="text" formControlName="WalletNumber" placeholder="{{'Settings.PayId-Placeholder' | translate}}"/>
                </div>
                <p class="form_field-checkbox">
                    <input type="checkbox" class="pay3000-checkbox distans-right" formControlName="AcceptTerms"/>
                    <span [innerHTML]="'Settings.Accept-terms' | translate | sanitizer: 'html'" class="reg-conditions"></span>
                </p>
            </form>
            <div class="pay3000-confirm">
                <button class="craft_btn setting_btn" type="submit" (click)="savePay3000()"
                        [disabled]="!formGroup.valid">
                    <span>{{ 'Settings.Further' | translate }}</span>
                </button>
                <div class="error_message pay3000-error">{{ statusMessage }}</div>
            </div>
<!--            <div class="pay3000-download">-->
<!--                <div class="pay3000-download-title">{{ 'Settings.havent-registered' | translate }}</div>-->
<!--                <div class="pay3000-download-items" [innerHTML]="'Settings.Download-items' | translate | sanitizer: 'html'"></div>-->
<!--            </div>-->
        </div>
        <div class="container-part" *ngIf="connected" style="margin: 10px 0;">
            <div class="showed-texts">{{ 'User.Status' | translate }}: <span class="status-{{playerDetails?.State}}">{{playerDetails?.StateName}}</span></div>
<!--            <div class="showed-text-id">{{ 'Settings.Player-Account-Id' | translate }} <span class="show-id">{{playerDetails?.NickName}} </span></div>-->
            <div class="showed-texts">{{ 'Settings.Player-Account-Id' | translate }} <span class="show-id">{{playerDetails?.NickName}} </span></div>
            <div class="showed-texts">{{ 'Settings.Expire-Date' | translate }} <span class="show-id">{{playerDetails?.CardExpireDate | date: 'dd.MM.yyyy'}} </span></div>
<!--            <div class="showed-text-id">{{ messageBalanceKey }}</div>-->
<!--            <div class="showed-text-id">{{ 'Settings.Have-Questions' | translate }} <span class="show-id"-->
<!--                 [innerHTML]="'Settings.Contact-Support' | translate | translate | sanitizer: 'html'"></span></div>-->
<!--            <div class="showed-text-id">{{ messageDateKey }}</div>-->
        </div>
        <div class="delete-btn-part" *ngIf="connected">
            <button class="delete-btn" (click)="deleteBinding()">{{ 'Settings.Delete-Binding' | translate }}</button>
        </div>
        <div class="delete-btn-part" *ngIf="connected" class="error_message pay3000-error" style="top: 4px;">{{ statusMessage }}</div>
    </div>
</div>