@import "../../../../../styles/helpers/variables";
@import "../../../../../../../../styles/helpers/variables";
.winners-widget
{
  margin-top: 36px;
  header
  {
    color: itemColor(bets-widget-header-text, #FFFFFF);
    display: flex;
    align-items: center;
    >*
    {
      &:nth-child(1)
      {
        color: itemColor(bets-widget-header-icon, #FFFFFF);
        font-size: fontSize(bets-widget-header, 16px);
      }
      &:nth-child(2)
      {
        margin-left: 16px;
        font-size: fontSize(bets-widget-header, 16px);
      }
      &:nth-child(3)
      { flex: 1;
        border: 1px solid itemColor(bets-widget-header-border, #000000);
        opacity: 0.3;
        margin-left: 24px;
      }
    }
  }
  main
  {
    .widget-container
    {
      overflow:hidden;
      ::ng-deep ngx-slick-carousel.widget-carousel .slick-list{
        margin: 0 -8px;
      }

      .widget-item {
        background: backgroundColor(bets-widget-item, #000000);
        padding: 8px;
        color: itemColor(bets-widget-item, #FFFFFF);
        border-radius: 6px;
        margin: 0 8px;

        .content {
          display: flex;
          gap: 12px;

          >img {
            border-radius: 6px;
            max-width: 100px;
          }

          .details {
            width: calc(100% - 96px);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >div {
              &:nth-child(1) {
                display: flex;
                justify-content: space-between;
                color: #000;
                font-size: 10px;

                >span:last-child {
                  color: #000;
                }
              }
              &:nth-child(2) {
                font-size: 16px;
                margin-bottom: 8px;
              }
              &:nth-child(3) {
                font-size: 10px;
                color: #000;
              }
              &:nth-child(4) {
                font-size: 20px;
              }
            }
          }
        }

      }
    }
  }
}
