.Reset_Password_Info {

  &.big-size {
    width: 620px;
  }

  &.small-size {
    width: 100%;
  }
}

.modal-body {
  width: 100%;

  .Reset_Password_Info_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
  }

  .fa {
    font-size: 30px;
    color: #000000;
    cursor: pointer;
  }
}

.modal_content {
  min-height: 350px;
  height: auto;
  text-align: left;
  color: #000;
  font-size: 17px;
  font-weight: 400;
  padding: 5px;
  width: 90%;
}
