<div class="announcements-content mobile-section">
  <div class="announcements-content__caption">
    <h2 class="mobile-tickets-section_title">{{'Announcements.Announcements' | translate}}</h2>
  </div>
  <form class="announcements-content__filterBlock announcement-mobile-form" [formGroup]="form">
    <div class="announcements-content__filterBlock_top announcement-mobile-form-top">
      <input type="datetime-local" formControlName="FromDate">
    </div>

    <div class="announcements-content__filterBlock_top announcement-mobile-form-top">
      <input type="datetime-local" formControlName="ToDate">
    </div>
    <div class="announcements-content__filterBlock_top announcement-mobile-form-top">
      <button class="craft_btn show-btn" (click)="submit()">{{'User.Show' | translate}}</button>
    </div>

  </form>
  <ul class="announcements-content__tabNav">
    <li class="announcements-content__tabNav_li" (click)="changeTab('4')" [ngClass]="{'active': activeTabItem == '4'}">
      {{'Announcements.Normal Announcements' | translate}}
    </li>
    <li class="announcements-content__tabNav_li" (click)="changeTab('3')" [ngClass]="{'active': activeTabItem == '3'}">
      {{'Announcements.Special Announcements' | translate}}
    </li>
    <li class="announcements-content__tabNav_li" (click)="changeTab('2')" [ngClass]="{'active': activeTabItem == '2'}">
      {{'Announcements.Personal Announcements' | translate}}
    </li>
  </ul>

  <div class="announcements-content__messageContainer">
    <div class="announcements-content__messageContainer_noInfo" *ngIf="announcementsList.length == 0">
      No information is available
    </div>
    <div class="announcements-content__table" *ngIf="announcementsList.length > 0">
      <div class="tableHead">
        <div class="points-small">ID</div>
        <div class="date">Date</div>
        <div class="text-auto">Message</div>
      </div>

      <div class="tableBody">
        <div class="tableRow"
             *ngFor="let item of announcementsList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: announcementsItemsCount }; let i = index">
          <div class="points-small">{{item?.Id}}</div>
          <div class="date">{{item?.CreationDate | date : 'd MMMM y HH:mm'}}</div>
          <div class="text-auto" [ngClass]="{'redFontColor': activeTabItem != '1'}">{{item?.Message}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination_section announcements-pagination" *ngIf="announcementsList.length > 0">
    <div class="">{{announcementsList.length}} of {{announcementsItemsCount}}
    </div>
    <pagination-controls
      autoHide="true"
      (pageChange)="getAnnouncementsData($event)"></pagination-controls>
  </div>

</div>
