<div class="deposit_payment_section deposit-cash">

  <div class="deposit_payment_section__form">
    <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()">
      <div class="scrallablePart amount-error-space">
        <div class="payment-form-field"
             [ngClass]="{'nominals-fields-3': ((nominals !== null) && (nominals && nominals.length <= 9)), 'nominals-fields-4': ((nominals !== null) && (nominals && nominals.length > 9))}">
          <div class="payment-form-field__column">
            <div class="payment-form-field__column all-amount">
              <input *ngIf="!nominals; else nominalsRef" type="text"
                     [(ngModel)] = "amount"
                     class="payment-input" placeholder="{{'Withdraw.Amount-placeholder' | translate}}"
                     formControlName="Amount" numbersOnly/>
              <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}} ({{currencyId}})</label>
              <div class="error_message" *ngIf="hasMinMaxError">
                <span class="text" *ngIf = "amount < maxMinAmount?.MinAmount">{{'Deposit.AmountLessThen' | translate : { amount: maxMinAmount?.MinAmount, currency: currencyId} }}</span>
                <span class="text" *ngIf = "this.amount > this.maxMinAmount?.MaxAmount">{{'Deposit.AmountMoreThen' | translate : { amount: maxMinAmount?.MaxAmount, currency: currencyId} }}</span>
              </div>
              <ng-template #nominalsRef>
                <app-common-payment-nominals [nominals]="nominals" (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
              </ng-template>
              <button type="button" (click)="fullWithdraw()" class="default_btn default_btn_red payment-btn">
                <span class="payment-btn__span"> {{'Withdraw.FullWithdraw' | translate}} </span>
              </button>
            </div>
          </div>
        </div>

        <div class="payment-form-field">
          <div class="payment-form-field__column" (click)="editField = true">
            <input type="text" class="payment-input" placeholder="{{'Withdraw.MobileNumber-placeholder' | translate}}"
                   [ngClass]="{'active': editField, 'disable-item': !editField}"
                   ngModel="{{MobileNumber}}"
                   formControlName="MobileNumber"/>
            <label class="payment-form-field__label">{{'Withdraw.MobileNumber' | translate}}</label>
          </div>
        </div>
      </div>

      <div class="payment-form-field">
        <div class="payment-form-field__column_btn">
          <button type="submit" [disabled]="submitted || paymentForm.invalid || this.hasMinMaxError" class="default_btn default_btn_red payment-btn">
            <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
          </button>
          <loader></loader>
          <div class="error_message longTag">
            {{errorMessage}}
          </div>
          <div class="success_message" *ngIf="successMessage">
            {{'Withdraw.'+ successMessage | translate}}
          </div>
        </div>
      </div>
    </form>
  </div>

</div>



