
<div class="mobile-promotions-section">
    <div class="mobile-promotions-section_top">

        <div class="products-list"  [ngStyle]="promotionFragment.Style">

            <div class="products-list_item"
                 *ngFor="let promotion of promotionFragment.Promotions"
                 [queryParams]="{id:promotion.Id}"
                 [routerLink]="['/promotions']"
                 [ngStyle]="promotion.Style">
                <div class="promotions_item" >
                    <img src="../../../../../../../assets/images/promotions/medium/{{promotion?.ImageName}}"/>
                    <div class="see-more-btn">
                        <i class="icon-specials"></i>
                        <button>{{'Promotion.See More' | translate}}</button>
                    </div>
                </div>
                <div class="promotions_text">
                    <div>
                        <p class="promotions_title" [innerHtml]="promotion.Title"></p>
                        <p [innerHtml]="promotion.Description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



