<form class="change-password_form" [formGroup]="formGroup" novalidate (ngSubmit)="saveResetPassword()"
      autocomplete="off">
    <div class="change-password-inputs">
        <div class="form_row">

            <div class="form_field">
                <label>{{'Settings.Old-password' | translate}}</label>
                <input type="{{passwordType['old'] ? 'text' : 'password'}}"
                       placeholder="{{'Settings.Old-password-placeholder' | translate}}"
                       formControlName="OldPassword"
                       [ngClass]="{'invalid-filed': ((formGroup.get('OldPassword').hasError('required')  || formGroup.get('OldPassword').hasError('minlength') || formGroup.get('OldPassword').hasError('maxlength')) && formGroup.get('OldPassword').touched)}"/>
                <div (click)="passwordType['old'] = !passwordType['old']"
                     class="mobile-change-password-field-type change-password-field-type2">
                    <span [ngClass]="passwordType['old'] ? 'icon-eye-password' : 'icon-eye-password-close'"></span>
                </div>
            </div>
            <div class="error_message error_message1"
                 *ngIf="formGroup.get('OldPassword').hasError('required') && !formGroup.get('OldPassword').hasError('OldPassword') && !formGroup.get('OldPassword').hasError('maxlength') && formGroup.get('OldPassword').touched">
                <span>{{ 'Error.Required-field' | translate }}</span>
            </div>
            <div class="comment error_message error_message1"
                 *ngIf="formGroup.get('OldPassword').touched && formGroup.get('OldPassword').hasError('pattern')">
                {{'Error.Password_Validation' | translate}}
            </div>
        </div>

        <div class="form_row">

            <div class="form_field">
                <label>{{'Settings.New-password' | translate}}</label>
                <input type="{{passwordType['new'] ? 'text' : 'password'}}"
                       placeholder="{{'Settings.New-password-placeholder' | translate}}"
                       formControlName="NewPassword"
                       [ngClass]="{'invalid-filed': ((formGroup.get('NewPassword').hasError('required')  || formGroup.get('NewPassword').hasError('minlength') || formGroup.get('NewPassword').hasError('maxlength')) && formGroup.get('NewPassword').touched)}"/>
                <div (click)="passwordType['new'] = !passwordType['new']"
                     class="mobile-change-password-field-type change-password-field-type2">
                    <span [ngClass]="passwordType['new'] ? 'icon-eye-password' : 'icon-eye-password-close'"></span>
                </div>
            </div>
            <div class="error_message error_message1"
                 *ngIf="formGroup.get('NewPassword').hasError('required') && !formGroup.get('NewPassword').hasError('NewPassword') && !formGroup.get('NewPassword').hasError('maxlength') && formGroup.get('NewPassword').touched">
                <span>{{ 'Error.Required-field' | translate }}</span>
            </div>

            <div class="comment error_message error_message1"
                 *ngIf="formGroup.get('NewPassword').touched && formGroup.get('NewPassword').hasError('pattern')">
                {{'Error.Password_Validation' | translate}}
            </div>
        </div>


        <div class="form_row">
            <div class="form_field">
                <label sty>{{'Settings.Confirm-password' | translate}}</label>
                <input type="{{passwordType['confirm'] ? 'text' : 'password'}}" formControlName="ConfirmPassword"
                       placeholder="{{'Settings.Confirm-password-placeholder' | translate}}"
                       [ngClass]="{'invalid-filed': ((formGroup.get('ConfirmPassword').hasError('required')  || formGroup.get('ConfirmPassword').hasError('minlength') || formGroup.get('ConfirmPassword').hasError('maxlength')) && formGroup.get('ConfirmPassword').touched)}"/>
                <div (click)="passwordType['confirm'] = !passwordType['confirm']"
                     class="mobile-change-password-field-type change-password-field-type2">
                    <span [ngClass]="passwordType['confirm'] ? 'icon-eye-password' : 'icon-eye-password-close'"></span>
                </div>
            </div>
            <div class="error_message error_message1"
                 *ngIf="formGroup.get('NewPassword').touched &&formGroup.get('OldPassword').touched && formGroup.get('OldPassword').value === formGroup.get('NewPassword').value">
                <span>{{ 'Error.PasswordSame' | translate }}</span>
            </div>
            <div class="error_message error_message1"
                 *ngIf="formGroup.get('ConfirmPassword').hasError('matchTo') && formGroup.get('ConfirmPassword').dirty && !formGroup.get('ConfirmPassword').hasError('required')">
                <span>{{ 'Error.PasswordMatchTo' | translate }}</span>
            </div>
        </div>
<!--        <div class="form_row">-->
<!--            <div class="form_field">-->
<!--                <div class="{{changePasswordMessage?.className}} error_message1">{{changePasswordMessage?.message}}</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>


</form>
<div class="change-password_page">
    <button class="craft_btn setting_btn" type="submit" (click)="saveResetPassword()"
            [disabled]="!(formGroup.get('OldPassword').value || formGroup.get('NewPassword').value || formGroup.get('ConfirmPassword').value)">
        <span>{{'Settings.Change-Password-Changes' | translate}}</span>
    </button>
    <div class="form_field">
        <div class="{{changePasswordMessage?.className}} error_message1">{{changePasswordMessage?.message}}</div>
    </div>
</div>
