@import "../../../styles/helpers/variables";
@import "../../../../../../styles/helpers/variables";
.mobile-payment-balance-section {
  margin: var(--m-payment-balance-info-margin, 0);
  box-shadow: var(--amount-withdraw-box-shadow, none);
  background: var(--payment-balance-info-background, #314566) !important;
  min-height: var(--payment-balance-info-min-height, 100%) !important;
  width: var(--m-payment-balance-info-width, 100%) !important;
  border: var(--m-payment-balance-info-border, none);
  padding: var(--m-payment-balance-info-padding, 14px);
  .payment-systems__userAccount {
    .selected {
      background: var(--m-payment-balance-info-selected-background, transparent);
    }
    .radio-input {
      margin: var(--m-payment-balance-info-radio-margin, 0);
      display: var(--m-payment-balance-info-radio-display, none);
    }
    .mobile-balance-part {
      display: var(--mobile-balance-part-display, flex);
      flex-direction: var(--mobile-balance-part-flex-direction, row);
      gap: var(--mobile-balance-part-gap, 0);
    }
    .check-icon {
      display: var(--mobile-balance-check-icon-display, none);
      margin-left: var(--mobile-balance-check-icon-margin-left, auto);
      margin-right: var(--mobile-balance-check-icon-margin-right, 10px);
    }
    &__name {
      font-size: var(--m-payment-balance-info-items-font-size, 12px);
      margin-bottom: var(--m-payment-balance-info-items-margin-bottom, 0);
      border-bottom: var(--m-payment-balance-info-items-border-bottom, none);
      padding: var(--m-payment-balance-info-items-padding, 0px);
      gap: var(--m-payment-balance-info-items-gap, 5px);
      justify-content: var(--m-payment-balance-info-items-justify-content, space-between);
      .item-cell-account-name {
        margin-right: var(--m-payment-balance-info-name-margin-right, 0);
      }
      .mobile-balance-name-currency-id {
        display: var(--m-payment-balance-info-currency-id-display, block);
      }
      .mobile-balance-name-currency-symbol {
        display: var(--m-payment-balance-info-currency-symbol-display, none);
      }
      .item-cell-account-img {
        width: var(--m-account-statement-item-img-width, 22px);
        height: var(--m-account-statement-item-img-height, 20px);
        margin: var(--m-account-statement-item-img-margin, 0);
        display: var(--m-account-statement-item-img-display, none);
      }
    }
    &__name:last-child {
      border-bottom: none;
    }
    &_balance {
      font-size: var(--m-payment-balance-info-items-font-size, 12px);
    }
  }
}
.mobile-account-statement-section {
  margin-top: var(--m-user-views-margin-top, 62px);
  padding: 0 10px;
  min-height: calc(100vh - 62px);
  background: color(m-user-views-background);

  .account_title {
    //padding: 15px 0;
    text-align: center;
    color: color(m-user-views-title);
    text-transform: var(--user-right-panel-title-text-transform, unset);
    margin: var(--m-account-page-title-margin, 0);
    font-size: var(--m-account-page-title-font-size, 24px);
    font-weight: var(--m-account-page-title-font-weight, 400);
  }

  &_table {
    color: $font-color;
    display: table;
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }

  &_row {
    display: table-row;
    &_title {
      display: table-row;
      color: color(m-account-statement-title);
      font-weight: var(--m-account-statement-title-font-weight, 500);
      font-size: var(--m-account-statement-title-font-size, 16px);
      background: color(m-user-table-header-background);

      .item_cell {
        padding: 10px;
        &:nth-child(1){
          border-right: 1px solid rgba(0, 0, 0, .08);
        }
      }
    }
    .item_cell{color: color(m-user-account-text);}
  }

  .item_cell {
    display: table-cell;
    margin-left: 2px;
    vertical-align: middle;
    padding: 10px;
    white-space: nowrap;
  }

  .mobile-payment-system-block
  {
    background: $account-content-item-bg-color;
    color: $account-content-item-color;
    border-radius: 8px;
    box-shadow: var(--amount-withdraw-box-shadow, none);
    width: 90%;
    min-height: 120px;
    height: auto;
    margin: 0 auto;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: var(--payment-client-info-gap, 34px);
    font-style: var(--payment-client-info-font-style, italic);

    .payment-systems__userAccount {
      width: 100%;
      &__name {
        @include flex-distance-between;
        font-size: var(--payment-client-info-font-size, 20px);
        margin-bottom: var(--payment-client-info-name-margin-bottom, 8px);
        padding: var(--payment-client-info-name-padding, 0px);
        background: var(--payment-client-info-name-background, unset);
      }

      .payment-systems__infoText {
        color: var(--payment-system-info-color, #FF5E5E);
        padding: var(--payment-client-info-name-padding, 0px);
        margin-bottom: var(--payment-client-info-used-margin-bottom, 0px);
        background: var(--payment-client-info-used-background, unset);
      }

      &_balance {
        @include flex-distance-between;
        font-size: var(--payment-client-info-font-size2, 18px);
        margin-bottom: var(--payment-client-info-balance-margin-bottom, 4px);
        margin-top: var(--payment-client-info-balance-margin-top, 0px);
        padding: var(--payment-client-info-name-padding, 0px);
        background: var(--payment-client-info-name-background, unset);
        i {
          font-style: var(--payment-client-info-font-style, italic);
        }
      }
    }
    .payment-systems__totalItem {
      @include flex-distance-between;
      width: 100%;
      font-size: var(--payment-client-info-font-size, 20px);
      padding: var(--payment-client-info-name-padding, 0px);
      background: var(--payment-client-info-name-background, unset);
      &_balance {
        color: var(--account-payment-amount-colors, #fff);
        i {
          font-style: var(--payment-client-info-font-style, italic);
        }
      }
    }
    .payment-systems__userAccount2 {
      &__name {
        @include flex-distance-between;
        font-size: var(--payment-client-info-font-size, 20px);
        margin-bottom: var(--payment-client-info-name-margin-bottom, 8px);
        padding: var(--payment-client-info-name-padding, 0px);
        background: var(--payment-balance-info-items-background, unset);
      }
      .payment-systems__infoText {
        color: var(--payment-system-info-color, #FF5E5E);
        padding: var(--payment-client-info-name-padding, 0px);
        margin-bottom: var(--payment-client-info-used-margin-bottom, 0px);
        background: var(--payment-client-info-used-background, unset);
      }

      &_balance {
        @include flex-distance-between;
        font-size: var(--payment-client-info-font-size2, 18px);
        margin-bottom: var(--payment-client-info-balance-margin-bottom, 4px);
        margin-top: var(--payment-client-info-balance-margin-top, 0px);
        padding: var(--payment-client-info-name-padding, 0px);
        background: var(--payment-client-info-name-background, unset);
        i {
          font-style: var(--payment-client-info-font-style, italic);
        }
      }
    }
    .payment-systems__totalItem2 {
      @include flex-distance-between;
      width: 100%;
      font-size: var(--payment-client-info-font-size, 20px);
      padding: var(--payment-client-info-name-padding, 0px);
      margin: var(--m-payment-balance-info-items-total-margin, 20px auto 0);
      background: var(--payment-balance-info-items-total-background, unset);
    }
    .payment-systems__infoText {
      @include flex-distance-between;
      font-size: 11px;
      width: 100%;
      i {
        font-style: var(--payment-client-info-font-style, italic);
      }
    }
  }


}
