.mobile-sports-section, .mobile-lottery-sports-section {
  height: calc(100% - 64px);
  margin-top:64px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: backgroundColor(m-product-bg,  #FFFFFF);

  .sports_iframe {
    width: 100%;
    border: none;
    height: 100%;
    flex-grow: 1;
  }
  .mobile
  {
    .sportsbook-content router-outlet+*
    {
      padding-bottom: 64px!important;
    }
  }
}

app-mobile-full-window {
  width: 100%;
  height: 100%;
}

.mobile-lottery-sports-section {
  width: 100%;
  overflow-x: hidden;
  word-break: break-word;

  //.sports_iframe {
  //  width: 100%;
  //  border: none;
  //  height: 100%;
  //  flex-grow: 1;
  //}
}
