@import "../../../styles/helpers/variables";
@import "../../../../../../styles/helpers/variables";


.mobile-right-sidebar-section {
  .flex_container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .flex_child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .signup_signin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;

      & > div, button {
        border: none;
        padding: 0 25px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: color(m-right-side-bar-button-text);
        border-radius: 8px;
        font-size: 13px;
      }

      .signin {
        background: color(m-register-sign-in-background);
        color: color(m-right-side-bar-sign-in-button-text);
      }

      .signup {
        background: color(m-register-sign-up-background);
      }

    }

    .additional-deposit-btn {
      display: var(--right-sidebar-deposit-btn-diplay, none);
      width: var(--right-sidebar-deposit-btn-width, 90%);
      margin: var(--right-sidebar-deposit-btn-margin, 30px auto 0);
      text-align: var(--right-sidebar-deposit-btn-text-align, center);
      background: var(--right-sidebar-deposit-btn-background, #ED1C24);
      color: var(--right-sidebar-deposit-btn-color, #fff);
      font-size: var(--right-sidebar-deposit-btn-font-size, 16px);
      font-weight: var(--right-sidebar-deposit-btn-font-weight, 600);
      padding: var(--right-sidebar-deposit-btn-padding, 14px 0);
      border-radius: var(--right-sidebar-deposit-btn-border-radius, 2px);
      text-decoration: var(--right-sidebar-deposit-btn-text-decoration, none);
      cursor: pointer;
    }

    .close_sidebar {
      background-image: backgroundImage(m-close-sidebar, unset);

      &.only-icon {
        display: display(right-sidebar-header-only-icon-tab, none);
      }

      &.right-close-sidebar {
        display: display(right-sidebar-header-tab, flex);
        color: var(--right-sidebar-header-tab-color, #fff);
        align-items: center;
        flex-direction: column;
      }


      &.only-icon-close-sidebar {
        display: displayEvents(left-close-sidebar, none);
        border-bottom-width: borderBottomWidth(left-close-sidebar, 1px);
        border-bottom-style: borderBottomStyle(left-close-sidebar, solid);
        border-bottom-color: borderBottomColor(left-close-sidebar, #000);
        text-align: textAlign(left-close-sidebar, right);

        padding-top: paddingTop(left-close-sidebar, 10px);
        padding-bottom: paddingBottom(left-close-sidebar, 20px);
        padding-left: paddingLeft(left-close-sidebar, 20px);
        padding-right: paddingRight(left-close-sidebar, 20px);

        justify-content: justifyContent(left-close-sidebar, space-between);
        flex-direction: flexDirection(left-close-sidebar, row);
        align-items: itemAlign(left-close-sidebar, center);

        height: height(left-close-sidebar, auto);
        background-color: backgroundColor(left-close-sidebar, #fff);


        .sidebar_heading {
          font-size: fontSize(left-sidebar-heading, 20px);
          font-weight: fontWeight(left-sidebar-heading, 500);
          color: itemColor(left-sidebar-heading, #19212c);
          margin-left: marginLeft(left-sidebar-heading, 0);
          display: display(left-sidebar-heading, none);
        }

        span.sidebar_heading_icon {
          color: itemColor(left-sidebar-heading-icon, #19212c);
          font-weight: fontWeight(left-sidebar-heading-icon, bold);
          font-size: fontSize(left-sidebar-heading-icon, initial);

          &.icon-more {
            display: displayEvents(left-sidebar-more-icon, block);
          }

          &.icon-right-arrow {
            display: displayEvents(left-sidebar-right-arrow-icon, none);
          }

        }
      }
      .user_tickets {
        display: var(--right-sidebar-header-tab-tickets-display, block);
      }
      flex-direction: row;
      justify-content: space-between;
      padding: var(--right-sidebar-header-tab-padding, 10px 20px 20px 20px);
      margin: var(--right-sidebar-header-tab-margin, 0);
      border-bottom: 1px solid itemColor(right-sidebar-header-tab-border,black);
      align-items: center;
      text-align: right;

      .user_panel_title_top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: var(--right-sidebar-header-top-panel-flex-direction, row);
        i {
          color: color(m-drawer-menu-close-icon) !important;
          font-size: fontSize(m-drawer-menu-close-icon, 20px);
        }

        .user_panel_title {
          font-size: fontSize(m-drawer-menu-title-text, 20px);
          font-weight: fontWeight(m-drawer-menu-title-text, 500);
          color: itemColor(m-drawer-menu-title-text, #fff);
          margin-right: marginRight(m-drawer-menu-title-text, auto);
          margin-left: marginLeft(m-drawer-menu-title-text, 10px);
          display: var(--m-header-user-id-display, block);
          span:first-child {
            display: var(--header-user-id-display, block);
          }
        }
        .user_panel_title_name {
          display: var(--m-header-first-name-display, none);
        }
        .ng-fa-icon{
          color: itemColor(right-sidebar-user-icon,black);
          display: var(--right-sidebar-user-icon-display, block);
        }
      }
      .ticket-info-block {
        width: 100%;
        display: var(--right-sidebar-tickets-icon-display, flex);
        justify-content: var(--right-sidebar-tickets-icon-justify-content, space-between);
        align-items: center;
        position: var(--right-sidebar-tickets-icon-position, relative);
        right: var(--right-sidebar-tickets-icon-right, 0);
        .ticket-icon {
          position: relative;
          top: var(--right-sidebar-tickets-icon-top, 5px);
          color: itemColor(right-sidebar-tickets-icon,#fff);
          font-size: var(--right-sidebar-tickets-icon-font-size, 16px);
        }
      }
      .info-block-top {
        width: width(right-side-bar-top-title, 100%);
        text-align: textAlign(right-side-bar-top-title, left);
        margin-top: marginTop(right-side-bar-top-title, 10px);
        display: display(right-side-bar-top-title, block);
        .info-block-top-label {
          color: itemColor(right-side-bar-top-title-label, #fff);
          font-size: fontSize(right-side-bar-top-title-label, 16px);
          font-weight: fontWeight(right-side-bar-top-title-label, 600);
        }
        .info-block-top-value {
          color: itemColor(right-side-bar-top-title-value, #fff);
          font-size: fontSize(right-side-bar-top-title-value, 16px);
          font-weight: fontWeight(right-side-bar-top-title-value, 600);
        }
      }

    }

    .general-menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-top: var(--right-general-menu-container-margin-top, 10px);
      height: var(--right-general-menu-container-height, calc(100% - 100px));
      overflow-y: var(--right-general-menu-container-overflow, hidden);

      .menu_items {
        //flex-grow: flexGrow(right-general-menu, 1);
        flex-grow: flexGrow(right-general-menu, unset);

        //height: height(right-general-menu, calc(100% - 44px));
        height: height(right-general-menu, auto);
        overflow-y: var(--right-general-menu-overflow, auto);
      }

      .logout_button {
        background: backgroundColor(m-logout-button, lightgray);
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: itemColor(m-logout-button, black);
        margin-right: marginRight(m-logout-button, 0);
        margin-left: marginLeft(m-logout-button, 0);

        i {
          float: right;
          line-height: 23px;
          display: display(m-logout-button-icon, block);
        }

        .icon-log-out {
          display: display(m-logout-icon-log-out, none);
          margin-right: marginRight(m-logout-icon-log-out, 16px);
          font-size: fontSize(m-logout-icon-log-out, 14px);
          color: var(--m-logout-icon-log-out-color, #000);
        }
        .log-out-link {
          margin-right: var(--m-logout-icon-log-out-link-margin-right, 0);
          color: var(--right-menu-title-color, var(--right-menu-item-color));
        }
        .log-out-logo {
          margin-right: var(--m-logout-icon-log-out-icon-margin-right, 0);
          display: var(--m-logout-icon-log-out-icon-display, block);
        }
      }

      .active {

        * {
          outline: none;
        }

      }
      .right-menu-language-bar {
        display: var(--right-menu-language-bar-display, none);
        border-top: var(--right-menu-title-border-top, none);
        border-right: var(--right-menu-title-border-right, none);
        border-left: var(--right-menu-title-border-left, none);
        padding: var(--right-menu-language-bar-padding, 0);
        height: var(--right-menu-language-bar-height, 100%);
        margin: var(--right-menu-title-margin, 0);
        align-items: var(--right-menu-title-align-items, center);
        font-weight: var(--right-menu-title-font-weight, 400);
        font-size: var(--right-menu-title-font-size, 14px);
        color: var(--right-menu-title-color, var(--right-menu-item-color));
        background: var(--m-right-menu-item-title-background, transparent);
        app-global-language .custom_language_dropdown {
          width: var(--m-right-menu-language-bar-width, 100%);
          z-index: 1;
          display: var(--m-right-menu-language-bar-container-display, flex);
          justify-content: space-between;
          align-items: center;
          color: var(--m-right-menu-language-bar-container-color, #000);
          border: var(--m-right-menu-language-bar-container-border, 1px solid #bcbcbc);
          padding: var(--m-right-menu-language-bar-container-padding, 10px 15px);
          border-radius: var(--m-right-menu-language-bar-container-border-radius, 0);
          position: relative;
          &.opened {
            .custom_dropdown_list {
              display: block;
            }
          }
          .custom_dropdown_img {
            height: var(--m-right-menu-language-bar-img-height, 22px);
            width: var(--m-right-menu-language-bar-img-width, 22px);
            border-radius: var(--m-right-menu-language-bar-img-border-radius, 50%);
          }
          .dropdown-header-title {
            margin-right: var(--m-right-menu-language-bar-title-margin-right, auto);
            margin-left: var(--m-right-menu-language-bar-title-margin-left, 10px);
          }
          .drop_down_icon {
            font-size: var(--m-right-menu-language-bar-icon-font-size, 20px);
            color: var(--m-right-menu-language-bar-icon-color, #000);
          }
          .language-custom-ul {
            top: var(--right-menu-language-custom-ul-top, 48px);
            left: var(--right-menu-language-custom-ul-left, 0);
            border: var(--right-menu-language-custom-ul-border, 1px solid #bcbcbc);
            padding: var(--right-menu-language-custom-ul-padding, 0);
            border-radius: var(--right-menu-language-custom-ul-border-radius, 0);
            width: var(--right-menu-language-custom-ul-width, 100%);
            display: none;
            .lang_grid {
              width: 100%;
              height: 100%;
              .over {
                height: 1px;
              }
              .custom_dropdown_list_item {
                width: var(--right-menu-language-custom-ul-items-width, 100%);
                border-bottom: var(--right-menu-language-custom-ul-items-border-bottom, 1px solid #bcbcbc);
                height: var(--right-menu-language-custom-ul-items-height, 40px);
                margin: var(--right-menu-language-custom-ul-items-margin, 0);
                .menu-list-section {
                  display: flex;
                  align-items: center;
                  height: 100%;
                  padding: var(--right-menu-language-custom-ul-items-section-padding, 0 16px);
                }
                .lang_list_img {
                  height: var(--m-right-menu-language-bar-img-height, 22px);
                  width: var(--m-right-menu-language-bar-img-width, 22px);
                  border-radius: var(--m-right-menu-language-bar-img-border-radius, 50%);
                }
                .lang_name {
                  margin-left: var(--right-menu-language-custom-ul-items-lang-name-margin-left, 10px);
                }
              }
              .custom_dropdown_list_item:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
      .last-login {
        border-bottom: var(--right-menu-title-border-bottom, 1px lightgray solid);
        display: var(--right-menu-last-login-display, none);
        border-top: var(--right-menu-title-border-top, none);
        border-right: var(--right-menu-title-border-right, none);
        border-left: var(--right-menu-title-border-left, none);
        padding: var(--right-menu-title-padding, 0);
        margin: var(--right-menu-title-margin, 0);
        align-items: var(--right-menu-title-align-items, center);
        font-weight: var(--right-menu-title-font-weight, 400);
        font-size: var(--right-menu-title-font-size, 14px);
        color: var(--right-menu-title-color, var(--right-menu-item-color));
        background: var(--m-right-menu-item-title-background, transparent);
      }
      .title_menu {
        border-bottom: var(--right-menu-title-border-bottom, 1px lightgray solid);
        display: var(--right-menu-title-display, block);
        justify-content: var(--right-menu-title-justify-content, space-between);
        border-top: var(--right-menu-title-border-top, none);
        border-right: var(--right-menu-title-border-right, none);
        border-left: var(--right-menu-title-border-left, none);
        padding: var(--right-menu-title-padding, 0);
        margin: var(--right-menu-title-margin, 0);
        align-items: var(--right-menu-title-align-items, center);
        font-weight: var(--right-menu-title-font-weight, 400);
        font-size: var(--right-menu-title-font-size, 14px);
        width: var(--right-menu-title-width, auto);
        color: var(--right-menu-title-color, var(--right-menu-item-color));
        .title_menu_img {
          width: var(--right-menu-title-img-width, auto);
          height: var(--right-menu-title-img-height, auto);
          margin-right: var(--right-menu-title-img-margin-right, 10px);
        }
        .drop_down_icon {
          font-size: var(--right-menu-title-icon-font-size, 20px);
          color: var(--right-menu-title-icon-color, #A9A9A9);
          width: var(--right-menu-title-icon-width, 30px);
          text-align: var(--right-menu-title-icon-text-align, center);
        }
        .title_menu_text {
          width: 100%;
        }
      }
      .user-left-panel {
        display: none;
      }
      .opened-side {
        transform: rotate(180deg);
      }
      .open {
        display: block
      }

      .general-menu_item .item_menu {
        display: flex;
        flex-direction: row;

        font-size: fontSize(right-menu-item, 14px);
        font-weight: fontWeight(right-menu-item, 500);
        color: itemColor(right-menu-item, #000000);
        justify-content: justifyContent(right-menu-item, space-between);
      }

      .help_menu {
        padding: 10px 25px 10px 45px;

        i {
          line-height: 24px;
        }
      }

      &_header {
        color: color(m-menu-header-text);
        background: var(--m-right-menu-item-title-background, transparent);
        margin-right: marginRight(m-right-menu-item-title, 25px);
        margin-left: marginLeft(m-right-menu-item-title, 25px);
        margin-top: marginTop(m-right-menu-item-title, 0);
        margin-bottom: marginBottom(m-right-menu-item-title, 0);
      }

      .balance_row {
        display: flex;
        justify-content: space-between;
      }

      &_item {
        display: flex;
        align-items: center;

        justify-content: justifyContent(right-menu-item, space-between);

        &.logout {
          justify-content: justifyContent(right-menu-logout-field, space-between);
          flex-direction: flexDirection(right-menu-logout-field, row);
          padding-left: var(--right-menu-item-logout-padding-left, var(--right-menu-item-padding-left, 15px));
          padding-right: var(--right-menu-item-logout-padding-right, var(--right-menu-item-padding-right, 15px));
          width: var(--right-menu-item-logout-width, auto);
          margin: var(--right-menu-item-logout-margin, 0);
          background: var(--right-menu-item-logout-width, transparent);
        }

        font-size: fontSize(right-menu-item, 14px);
        padding-left: paddingLeft(right-menu-item, 15px);
        padding-right: paddingRight(right-menu-item, 15px);
        padding-bottom: paddingBottom(right-menu-item, 10px);
        padding-top: paddingTop(right-menu-item, 10px);
        font-weight: fontWeight(right-menu-item, 500);
        border-bottom: var(--right-menu-item-border-bottom, none);

        color: itemColor(right-menu-item, #000000);
        background: var(--right-menu-item-background, transparent);
        border-radius: var(--right-menu-item-border-radius, 0);
        width: var(--right-menu-item-width, auto);
        margin: var(--right-menu-item-margin, 0);

        &__icon {
          font-weight: fontWeight(right-menu-item-icon, normal);
          font-size: fontSize(right-menu-item-icon, 22px);
          margin-right: marginRight(right-menu-item-icon, 16px);
        }

        a {
          color: itemColor(right-menu-item, #000000);
        }

        .fa-money {
          float: right;
          line-height: 19px;
        }

      }
    }

  }
}

.left-part-menuItem {
  display: flex;
  align-items: center;
  img {
    margin-right: marginRight(right-menu-item-icon, 16px);
  }

  .item_menu__icon {
    font-weight: fontWeight(right-menu-item-icon, normal);
    font-size: fontSize(right-menu-item-icon, 22px);
    margin-right: marginRight(right-menu-item-icon, 16px);
    display: var(--right-menu-item-icon-display, block);
  }
}
.left-part-menuItem-icon {
  display: var(--right-menu-item-arrow-icon-display, block);
}
