@import "../../../styles/helpers/variables";
@import "../../../../../../styles/helpers/variables";

.mobile-payment-section {
  margin-top: var(--m-user-views-margin-top, 62px);
  min-height: var(--m-user-views-min-height, calc(100vh - 62px));
  background: color(m-user-views-background);
  color: color(m-user-common);

  .account_title {
    padding-top: 15px;
    color: color(m-user-views-title);
    text-align: center;
    margin: var(--m-withdraw-title-margin, 0);
    display: var(--m-withdraw-title-display, block);
  }

  &_content {
    display: flex;
    margin: var(--m-withdraw-section-content-margin, 0 15px);
    app-common-accounts {
      .payment-system-block {
        width: var(--m-payment-client-info-width, 100%);
        padding: var(--m-payment-client-info-padding, 14px);
        border: var(--m-payment-client-info-border, none);
        margin-left: var(--m-payment-client-info-margin-left, 0);
        margin-right: var(--m-payment-client-info-margin-right, 0);
      }
    }
    app-common-bonuses {
      .mobile-default-scroll {
        width: var(--m-default-scroll-width, auto);
        margin: var(--m-default-scroll-margin, 0);
        padding: var(--m-default-scroll-padding, 0);
      }
    }

    .payment_header {
      background: $account-deposit-section-bg;
      width: 100%;
      height: 42px;
    }

    .header_row {
      font-size: 18px;
      font-weight: bold;
      color: $account-deposit-header-bg;
    }
    .additional-payment-system-title {
      color: var(--m-withdraw-additional-payment-title-color, #fff);
      text-align: var(--m-withdraw-additional-payment-title-text-align, center);
      display: var(--m-withdraw-additional-payment-title-display, none);
      margin: var(--m-withdraw-additional-payment-title-margin, 0);
    }

    &_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: var(--m-withdraw-block-min-height, 600px);
      height: auto;
      margin-bottom: var(--m-withdraw-block-margin-bottom, 0);
      .bonus-refused {
        display: var(--bonus-refused-display, flex);
        align-items: center;
        gap: 14px;
        justify-content: flex-start;
        position: relative;
        padding-left: var(--m-bonus-refused-padding-left, 36px);
        padding-right: var(--m-bonus-refused-padding-right, 0px);
        cursor: pointer;
        line-height: var(--m-bonus-refused-line-height, 18px);
        font-size: var(--m-bonus-refused-font-size, 16px);
        color: var(--account-content-item-color, #fff);
        margin-top: var(--m-bonus-refused-margin-top, 5px);
        margin-bottom: var(--m-bonus-refused-margin-bottom, 0px);
        margin-left: var(--m-bonus-refused-margin-left, 0px);
        margin-right: var(--m-bonus-refused-margin-right, 0px);
        width: var(--m-bonus-refused-width, 100%);
      }
      .bonus-refused input[type="checkbox"] {
        position: absolute;
        left: var(--m-bonus-refused-input-left, -1px);
        top: var(--m-bonus-refused-input-top, -3px);
        width: var(--m-bonus-refused-input-width, 18px);
        height: var(--m-bonus-refused-input-height, 18px);
        border: var(--m-user-radio-unchecked-border, none);
        border-radius: 100%;
        background: var(--m-user-radio-unchecked-color, #131A2C);
        cursor: pointer;
      }
      .bonus-refused input[type="checkbox"]:checked::after {
        content: '';
        width: var(--m-user-radio-checked-width, 8px);
        height: var(--m-user-radio-checked-height, 8px);
        background: var(--m-user-radio-checked-color, linear-gradient(180deg, #DBEDFF 0%, #7A9EC2 49.48%, #6295C8 100%));
        position: absolute;
        top: var(--m-user-radio-checked-top, 5px);
        left: var(--m-user-radio-checked-left, 5px);
        border: var(--m-user-radio-checked-border, none);
        border-radius: 100%;
        transition: all 0.1s ease;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      .bonus-refused input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
      }

      .bonus-refused input[type="checkbox"]::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      .info-item {
        .left-part {
          display: flex;
          align-items: center;
          gap: var(--m-info-item-left-part-gap, 14px);
          input[type="radio"]:checked,
          input[type="radio"]:not(:checked) {
            position: absolute;
          }
          input[type="radio"]:checked,
          input[type="radio"]:not(:checked)
          {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 18px;
            display: inline-block;
            color: var(--m-user-radio-unchecked-color, #131A2C);
          }
          input[type="radio"]:checked:before,
          input[type="radio"]:not(:checked):before {
            content: '';
            position: absolute;
            left: var(--m-user-radio-unchecked-left, -2px);
            top: var(--m-user-radio-unchecked-top, -3px);
            width: var(--m-user-radio-unchecked-width, 18px);
            height: var(--m-user-radio-unchecked-height, 18px);
            border: var(--m-user-radio-unchecked-border, none);
            border-radius: 100%;
            background: var(--m-user-radio-unchecked-color, #131A2C);
          }
          input[type="radio"]:checked:after,
          input[type="radio"]:not(:checked):after {
            content: '';
            width: var(--m-user-radio-checked-width, 8px);
            height: var(--m-user-radio-checked-height, 8px);
            background: var(--m-user-radio-checked-color, linear-gradient(180deg, #DBEDFF 0%, #7A9EC2 49.48%, #6295C8 100%));
            position: absolute;
            top: var(--m-user-radio-checked-top, 2px);
            left: var(--m-user-radio-checked-left, 3px);
            border: var(--m-user-radio-checked-border, none);
            border-radius: 100%;
            transition: all 0.1s ease;
          }
          input[type="radio"]:not(:checked):after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          input[type="radio"]:checked:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          .bonus-name {
            color: $account-content-item-color;
            font-size: var(--m-bonus-name-font-size, $font-size-3);
            max-width: var(--m-bonus-name-max-width, 450px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .right-part {
          .info-icon {
            font-size: $font-size-2;
            font-weight: normal;
            border: 1px solid var(--deposit-info-border-color, #DBEDFF);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 4px 8px;
            cursor: pointer;
            position: relative;
            .selected {
              color: var(--account-content-item-color, #fff);
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid var(--bonus-info-bg,#3B5175);
              position: absolute;
              bottom: -6px;
              left: 37%;
            }
          }
          .bonus-info {
            position: absolute;
            z-index: 999;
            width: 300px;
            right: var(--account-content-row-paddding);
            border-radius: 4px;
            background-color: var(--bonus-info-bg, #3B5175);
            padding: 10px;
            margin-top: 3px;
            font-size: $font-size-2;
            display: flex;
            justify-content: space-between;
            gap: 6px;
            &__text {
              line-height: 16px;
              color: $account-content-item-color;
              opacity: 0.85;
            }
            &__close {
              font-size: var(--m-bonus-info-font-size, 8px);
              cursor: pointer;
            }
          }
        }
      }

      .content_col {
        margin-top: var(--m-withdraw-content-column-margin-top, 15px);
        text-align: var(--m-withdraw-text-align, justify);

        &:last-child {
          border-top: var(--m-withdraw-content-last-item-border, 1px solid $account-deposit-section-bg);
        }

        .form_field {

          .amount-input {
            box-sizing: border-box;
          }
        }

        //&:last-child {
        //  padding: 0 10px;
        //}


        .payment-confirm {
          width: 100%;
          height: 100px;
        }

        input {
          color: color(m-user-common-input);
          border: 1px solid $border-color;
          border-radius: 3px;
          box-shadow: inset 0 0 1px 0 $account-deposit-input-shadow;
        }

        .craft_btn {
          width: 100%;
          color: $color-white;
          padding: 0 32px;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
  }

  .payment_list {
    display: grid;
   /* grid-template-columns: repeat(auto-fit, 33.33%);*/
    justify-content: center;
    grid-template-columns: var(--m-deposit-payment-grid-template-columns, repeat(2, 1fr));
    grid-gap: var(--m-deposit-payment-grid-gap, 10px);

    .selected_payment {

      img {
        border: 5px solid color(m-selected-payment-img-border);
      }
    }

    li {
      text-align: center;
      height: height(m-payment-list-item-img, 90.13px);

      &.selected_payment {
        border: 3px solid color(m-deposit-selected-payment-border);
        border-radius: var(--m-deposit-payment-selected-border-radius, 3px);
      }

      img {
        background: white;
        height: 100%;
        width: 100%;
        border-radius: var(--m-deposit-payment-border-radius, 3px);
        border: var(--m-payment-img-border-width, 5px) solid color(m-payment-img-border);
      }
    }
  }

  .checkbox
  {
    position: static;
    margin-top: 8px;
  }

}

.mobile-search-field {
  position: relative;


  &__icon {
    position: absolute;
    top: 19%;
    left: 12px;
    width: 26px;
  }
}


.mobile-payment {
  .payment-form-field__column_btn {
    position: relative;
  }
}

.flex-items-mobile{
  display: block;
  select{
    width: 100%;
    margin-bottom: 16px;
    border-radius: var(--activate-bonus-btn-border-radius, 0px);
  }
}


.mobile-payment-section2 {
  margin-top: 62px;
  min-height: var(--m-account-content-item-min-height, calc(100vh - 62px));
  font-size: var(--m-account-content-item-font-size);
  color: var(--m-account-content-item-color, $account-content-item-color);
  background: var(--m-user-views-background-color, #FFFFFF);
  .account_title {
    text-align: var(--m-user-views-title-payments-text-align, center);
    color: color(m-user-views-title);
    font-size: var(--m-user-views-title-payments-font-size, 24px);
    font-weight: var(--m-user-views-title-payments-font-weight, normal);
    margin-top: var(--m-user-views-title-payments-margin-top, 20px);
    padding: var(--m-user-views-title-payments-padding, 15px 0);
  }
  .mobile-payment-section_content
  {
    .mobile-payment-section_content_block {
      width: 100%;
      display: flex;
      gap: $account-small-gap;
      min-height: 600px;
      height: auto;
      align-items: start;

      .payment-list-column {
        overflow-y: hidden;
        padding: 0;
        border-radius: unset;
        width: 100%;

        .payment_list {
          display: flex;
          flex-direction: column;
          gap: 0;
          width: 100%;
          overflow-y: auto;

          &_item {
            width: width(m-account-payment-row, 100%);
            display: block;
            padding-left: paddingLeft(m-account-payment-row, 0);
            padding-right: paddingRight(m-account-payment-row, 0);
            padding-top: paddingTop(m-account-payment-row, 0);
            padding-bottom: paddingBottom(m-account-payment-row, 0);
            box-shadow: var(--m-account-payment-row-box-shadow, none);
            min-height: unset;
            background: var(--m-account-payment-row-background, linear-gradient(to left,rgba(44,44,53,.48),rgba(58,65,85,.48)));
            cursor: pointer;
            margin-bottom: marginBottom(m-account-payment-row, 10px);



            .payment_list_item_content
            {
              padding-left: paddingLeft(m-account-payment-list, 16px);
              padding-right: paddingRight(m-account-payment-list, 0);
              padding-top: paddingTop(m-account-payment-list, 0);
              padding-bottom: paddingBottom(m-account-payment-list, 0);

              .payment-row
              {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                fa-icon
                {
                  justify-self: center;
                  align-self: center;
                  width: var(--m-account-payment-list-row-icon-line-width, 15%);
                  font-size: var(--m-account-payment-list-row-icon-font-size, 5vw);
                  text-align: var(--m-account-payment-list-row-icon-text-align, center);
                  line-height: var(--m-account-payment-list-row-icon-line-height, 27vw);
                  color: var(--m-account-payment-list-row-icon-color, #fff);
                  background-color: var(--m-account-payment-list-row-icon-background-color, #283042);
                }
                .payment-row-item
                {
                  .payment-img{
                    background: var(--m-payment-list-item-img-background, #fff);
                    width: width(m-payment-list-item-img,90px);
                    height: height(m-payment-list-item-img, 60px);
                    background-size: 100% 100%;
                    border-bottom-left-radius: borderBottomLeftRadius(m-payment-list-item-img, 4px);
                    border-bottom-right-radius: borderBottomRightRadius(m-payment-list-item-img, 4px);
                    border-top-left-radius: borderTopLeftRadius(m-payment-list-item-img, 4px);
                    border-top-right-radius: borderTopRightRadius(m-payment-list-item-img, 4px);
                  }
                }

                .payment-row-item
                {
                  height: 100%;
                  padding: var(--m-payment-row-item-padding, 0);
                  .payment-row-header
                  {
                    color: itemColor(m-payment-row-header,#fff);
                    font-size: fontSize(m-payment-row-header, 14px);
                    font-weight: fontWeight(m-payment-row-header, 400);
                    margin-bottom: marginBottom(m-payment-row-header, 6px);

                  }
                  .hide-commission-percent {
                    display: var(--m-payment-row-item-commission-display, block);
                  }
                  .balance_info {
                    color: var(--m-account-payment-amount-color, #bbc6e9);
                    font-size: var(--m-account-payment-amount-font-size, 14px);
                    font-weight: var(--m-account-payment-amount-font-weight, 400);
                    line-height: var(--m-account-payment-amount-line-height, 20px);
                    span:nth-child(2)
                    {
                      margin-left: 6px;
                    }
                  }
                  .info_text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    padding-right: 0;
                    color: var(--m-account-payment-amount-color, #bbc6e9);
                    font-size: var(--m-account-payment-amount-font-size, 14px);
                    line-height: var(--m-account-payment-amount-line-height, 20px);
                  }
                }
              }
            }

            .content_row {
              overflow-x: hidden;
              height: fit-content;
              position: relative;
              border-radius: unset;
              padding: var(--m-account-content-row-paddding, 20px);
              color: $account-content-item-color;
              background-color: var(--m-product-background-color, #FFFFFF);
              display: none;
              .bonus-refused {
                display: var(--bonus-refused-display, flex);
                align-items: center;
                gap: 14px;
                justify-content: flex-start;
                position: relative;
                padding-left: var(--m-bonus-refused-padding-left, 33px);
                cursor: pointer;
                line-height: var(--m-bonus-refused-line-height, 18px);
                color: var(--account-content-item-color, #fff);
                margin-top: var(--m-bonus-refused-margin-top, 5px);
              }
              .bonus-refused input[type="checkbox"] {
                position: absolute;
                left: var(--m-bonus-refused-input-left, 4px);
                top: -3px;
                width: 18px;
                height: 18px;
                border: none;
                border-radius: 100%;
                background: var(--m-user-radio-unchecked-color, #131A2C);
                cursor: pointer;
              }
              .bonus-refused input[type="checkbox"]:checked::after {
                content: '';
                width: 8px;
                height: 8px;
                background: var(--m-user-radio-checked-color, linear-gradient(180deg, #DBEDFF 0%, #7A9EC2 49.48%, #6295C8 100%));
                position: absolute;
                top: 5px;
                left: 5px;
                border-radius: 100%;
                transition: all 0.1s ease;
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              .bonus-refused input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
              }

              .bonus-refused input[type="checkbox"]::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
              }
              &.form-column
              {
                padding-top: var(--m-account-content-row-padding-top, 20px);
                padding-right: var(--m-account-content-row-padding-right, 0);
                padding-left: var(--m-account-content-row-padding-left, 0);
                padding-bottom: var(--m-account-content-row-padding-bottom, 0);
                .content_row_header
                {
                  padding-left: var(--m-account-content-row-header-padding-left, 12px);
                  border-bottom: var(--m-account-content-row-header-border-bottom, 1px solid #dee6e8);
                  font-size: var(--m-account-content-row-header-font-size, 14px);
                  height: var(--m-account-content-row-header-height, 46px);
                  line-height: var(--m-account-content-row-header-line-height, 46px);
                  margin-bottom: var(--m-account-content-row-header-margin-bottom, 24px);
                }
              }
              .payment_field {
                padding: 0;
                text-indent: 10px;
              }

              .info-item {
                .left-part {
                  display: flex;
                  align-items: center;
                  gap: var(--m-info-item-left-part-gap, 14px);
                  input[type="radio"]:checked,
                  input[type="radio"]:not(:checked) {
                    position: absolute;
                  }
                  input[type="radio"]:checked,
                  input[type="radio"]:not(:checked)
                  {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 18px;
                    display: inline-block;
                    color: var(--m-user-radio-unchecked-color, #131A2C);
                  }
                  input[type="radio"]:checked:before,
                  input[type="radio"]:not(:checked):before {
                    content: '';
                    position: absolute;
                    left: -2px;
                    top: -3px;
                    width: 18px;
                    height: 18px;
                    border: none;
                    border-radius: 100%;
                    background: var(--m-user-radio-unchecked-color, #131A2C);
                  }
                  input[type="radio"]:checked:after,
                  input[type="radio"]:not(:checked):after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: var(--m-user-radio-checked-color, linear-gradient(180deg, #DBEDFF 0%, #7A9EC2 49.48%, #6295C8 100%));
                    position: absolute;
                    top: 2px;
                    left: 3px;
                    border-radius: 100%;
                    transition: all 0.1s ease;
                  }
                  input[type="radio"]:not(:checked):after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                  }
                  input[type="radio"]:checked:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                  }
                  .bonus-name {
                    color: $account-content-item-color;
                    font-size: $font-size-3;
                    max-width: var(--m-bonus-name-max-width, 450px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .right-part {
                  .info-icon {
                    font-size: var(--m-deposit-info-font-size, $font-size-2);
                    font-weight: var(--m-deposit-info-font-weight, normal);
                    border: var(--m-deposit-info-border, 1px solid var(--deposit-info-border-color, #DBEDFF));
                    box-sizing: border-box;
                    border-radius: var(--m-deposit-info-border-radius, 4px);
                    padding: var(--m-deposit-info-padding, 4px 8px);
                    cursor: pointer;
                    position: relative;
                    .selected {
                      color: var(--account-content-item-color, #fff);
                      width: 0;
                      height: 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-bottom: 5px solid var(--bonus-info-bg,#3B5175);
                      position: absolute;
                      bottom: -6px;
                      left: 37%;
                    }
                  }
                  .bonus-info {
                    position: absolute;
                    z-index: 999;
                    width: 300px;
                    right: var(--account-content-row-paddding);
                    border-radius: 4px;
                    background-color: var(--bonus-info-bg, #3B5175);
                    padding: 10px;
                    margin-top: 3px;
                    font-size: $font-size-2;
                    display: flex;
                    justify-content: space-between;
                    gap: 6px;
                    &__text {
                      line-height: 16px;
                      color: $account-content-item-color;
                      opacity: 0.85;
                    }
                    &__close {
                      font-size: var(--m-bonus-info-font-size, 8px);
                      cursor: pointer;
                    }
                  }
                }
              }
              .bonus-label {
                color: $account-content-item-color;
                font-size: $font-size-4;
                font-weight: var(--field-label-text-font-weight, normal);
              }



              .payment-confirm {
                border-top: 2px solid color(settings-table-border-color);
                width: 90%;
                position: absolute;
                bottom: 0;
                left: 15px;
                height: 100px;
              }

              input[type=text] {
                border: var(--m-payment-form-input-border, none);
                background-color: backgroundColor(m-payment-form-field, #fff);
                color: var(--m-payment-form-input-color, #333);
                text-indent: var(--m-payment-form-input-text-indent, 10px);
              }
              .payment-select {
                border: var(--m-payment-form-input-border, none);
                background-color: backgroundColor(m-payment-form-field, #fff);
                color: var(--m-payment-form-input-color, #333);
                opacity: 1;
              }

              .craft_btn {
                padding: 0 32px;
                text-transform: uppercase;
                font-size: 16px;
              }

              ::-webkit-scrollbar {
                width: 4px;
              }
              ::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background-color: var(--user-scrollbar-thumb-color, #DBEDFF);
              }
              ::-webkit-scrollbar-track {
                border-radius: 6px;
                background-color: $account-content-item-bg-color;
              }
            }
            &.opened
            {
              .payment_list_item_content
              {
                .payment-row
                {
                  fa-icon
                  {
                    svg
                    {
                      transform: rotate(-180deg);
                      transition: all 0.1s;
                    }

                  }
                }
              }
              .content_row{display: block}
            }
            &:hover
            {box-shadow: none}
          }



        }

      }
    }
  }

  .scrallablePart {
    max-height: 705px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;

    &.amount-error-space {
      padding-bottom: 21px;

      & + .payment-form-field{
        margin-top: -10px !important;
      }
    }

    &.shortHeight {
      max-height: 370px;
    }

  }

  .betshops-list {
    margin-top: 25px;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 35px;


    ul {
      li {
        font-size: 14px;
        padding: 0 14px;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

  .user-account-item {
    width: 100%;
    margin-top: 12px;
    padding: 5px 7px;

    span {
      font-weight: 500;
      font-size: 14px;
      display: inline-block;
      margin: 0 13px;
    }
  }

  .activate-bonus-header {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
  }

  .activate-bonus-btn {
    width: 100%;
    margin-top: 8px;
    padding: 0 32px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    background-color: backgroundColor(activate-bonus-btn, #02887e);
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    opacity: 0.9;
    border: none;
    cursor: pointer;
  }

  .activate-bonus-type-box {
    display: flex;
    justify-content: space-between;

    button {
      outline: none;
      flex: 1;
      margin-top: 10px;
      padding: 0 32px;
      text-transform: uppercase;
      font-size: 16px;
      background: -webkit-linear-gradient(90deg, var(--payment-button-background-gradient-first-color) 0, var(--payment-button-background-gradient-second-color) 100%);
      font-weight: 600;
      height: 40px;
      line-height: 40px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      opacity: .8;

      &:first-of-type {
        margin-right: 5px
      }

      &:last-of-type {
        margin-left: 5px
      }

      &.selected {
        opacity: 1
      }
    }
  }
}

.mobile-withdraw_payment_section2 {
  height: 100%;
  width: 100%;
  &__form {
    height: 100%;
    form {
      height: 100%;
      width: 100%;
      .scrallablePart
      {
        width: 50%;
        .payment-system-block
        {
          margin-bottom: 0;
        }
      }
      .payment-form
      {
        display: flex;
        flex-direction: column;
        .payment-form-field
        {
          display: flex;
          gap: var(--m-payment-form-floating-label-gap, 38px);
          flex-direction: var(--m-payment-form-floating-label-flex-direction, row);
          &.iban
          {
            position: relative;
            align-items: center;
            .iban-error
            {
              position: absolute;
              color: red;
              bottom: -16px;
              right: 0;
            }
            fa-icon{height: fit-content}
            button
            {
              background: #ff172d;
              padding: 8px 16px;
              color: white;
              cursor: pointer;
              border: none;
              outline: none;
            }
          }
          label
          {
            font-size: var(--payment-form-floating-label-font-size, 14px);
            pointer-events: none;
            color: rgba(255, 255, 255, 0.4);
            white-space: nowrap;
          }
          .payment-form-field__column
          {
            width: 100%;
            height: auto;
            line-height: 40px;
            min-height: 40px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: var(--payment-form-field-border-bottom, 1px solid rgba(154, 168, 196, 0.3803921569));
            margin-bottom: var(--payment-form-field-margin-bottom, 24px);
            input, select {

              &.search-input {
                padding: 0 0 0 45px;
              }

              border: none;
              outline: none;
              background: none;
              padding: 0;
              text-indent: 10px;
              height: 100%;
              min-height: 40px;
              width: 84%;
              color: white;
            }
            select
            {
              width: 100%;
              border: none;
              outline: none;
              color: white;
              padding-right: 10px;
              background-color: transparent!important;
              option{color: black!important;}
            }
            input:focus ~ .floating-label,select:focus ~ .floating-label
            {
              top: -25px;
              font-size:  fontSize(payment-form-floating-label-focused, 13px)
            }
            input:valid ~ .floating-label,select:valid ~ .floating-label
            {
              top: -25px;
              font-size: fontSize(payment-form-floating-label-focused, 13px)
            }

            input:not(:focus):valid ~ .floating-label, select:not(:focus):valid ~ .floating-label
            {
              top: var(--m-payment-form-floating-label-focused, -25px);
              font-size:  fontSize(payment-form-floating-label-focused, 13px);
            }


            .floating-label {
              position: absolute;
              left: 0;
              top: 0;
              font-size: fontSize(payment-form-floating-label, 14px);
              pointer-events: none;
              color: var(--m-payment-form-floating-label-color, rgba(255,255,255,.4));
              -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
            }
            .error_message
            {
              position: absolute;
              top: 38px;
              left: 0;
              overflow: unset;
            }
            &.search-field
            {
              img
              {
                height: 20px;
                width: 20px;
              }
              .search-input
              {
                width: 95%;
                padding: 0;
              }
              .search-label
              {
                left: 36px;
              }
            }
          }

          &.payment-form-select{display: block}
        }
        .payment-form-field__column_btn
        {
          cursor: default;
          margin-top: auto;
          button
          {
            border-radius: 4px;
            width: 100%;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            height: var(--payment-form-button-height, 48px);
            background: #ff172d;
            border: none;
            outline: none;
            &:not([disabled]){ cursor: pointer};
          }
          .success_message
          {
            bottom: itemBottom(withdraw-success-message, 0);
            left: itemLeft(withdraw-success-message, auto);
          }
        }
      }
    }
    &_top
    {
      height: 100%;
      overflow-y: auto;
    }
  }
}