<div class="mobile-history-section">
  <h2 class="mobile-history-section_title">{{'User.Transactions' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="submit(1)">
    <div class="history-tools-panel">
      <div class="history-tools history-tools-field">
        <label>{{'User.Period-of-time' | translate}}</label>
        <select formControlName="timeFilter">
          <option *ngFor="let item of historyTimeFilter, let i = index" [ngValue]="i">
            {{item.Name | translate}}
          </option>
        </select>
      </div>

      <div class="history-tools history-tools-field">
        <label>{{'User.Type' | translate}}</label>
        <select formControlName="operationFilter"
                [ngClass]="{'disable_item': getTransactionsService.operationTypes.length <= 0}">
          <option *ngFor="let item of getTransactionsService.operationTypes; let i = index" [ngValue]="item?.Id">
            {{item?.Name}}
          </option>
        </select>
      </div>

      <div *ngIf="customFilterShow" class="history-tools custom-tool">
        <label>{{'User.From' | translate}}</label>
        <input type="datetime-local" formControlName="changedate">
      </div>

      <div *ngIf="customFilterShow" class="history-tools custom-tool">
        <label>{{'User.To' | translate}}</label>
        <input type="datetime-local" formControlName="changetTodate">
      </div>

      <div class="history-tools">
        <label></label>
        <button class="craft_btn show-btn">{{'User.Show' | translate}}</button>
      </div>
    </div>
  </form>
  <table>
    <tbody>
    <tr>
      <td><span>{{'User.Date' | translate}}</span></td>
      <td><span>{{'User.BetId' | translate}}</span></td>
      <td><span>{{'User.Type' | translate}}</span></td>
      <td><span>{{'User.AccountTypeName' | translate}}</span></td>
      <td><span>{{'User.Amount' | translate}}</span></td>
    </tr>
    <tr
      *ngFor="let item of getTransactionsService.transactionsList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: getTransactionsService.transactionsListCount }, let i = index">
      <td>{{item?.CreationTime | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{item?.DocumentId}}</td>
      <td>{{item?.OperationTypeName}}</td>
      <td>{{item?.AccountTypeName}}</td>
      <td>{{ CurrencyId }} {{item?.Amount | number:'1.2-2'}}</td>
    </tr>
    </tbody>

  </table>
  <div class="empty-bets empty-block" *ngIf="getTransactionsService.transactionsList.length == 0">
    <section class="empty-bets empty-block">
      <span class="icon-transactions icon"></span>
      <span class="empty-block-text">{{'User.Transactions-empty' | translate}}</span>
      <span class="empty-history-text">{{noHistory}}</span>
    </section>
  </div>

<!--  <loader></loader>-->

  <div class="pagination_section">
    <pagination-controls previousLabel="{{'User.Previous' | translate}}" nextLabel="{{'User.Next' | translate}}"
      autoHide="true"
      (pageChange)="getTransactionsHistory($event)"></pagination-controls>
  </div>

</div>

