
.m-progress-bar
{
  width: 100%;
  height: 152px;
  background-color: var(--m-product-background-color, #FFFFFF);
  margin: 10% 0;
  .progress-bar-container
  {
    width: 100%;
    height: 100%;
    background-image:  var(--progress-bar-box-bg, linear-gradient(90deg, #0084FF -3.07%, #00C5FF 99.36%));
    position: relative;
    margin-top: 26%;

    .progress-bar-info
    {
      width: fit-content;
      position: absolute;
      bottom: 90px;
      right: 90px;

      img
      {
        width: 18px;
        height: 18px;
      }
      div
      {
        display: flex;
        align-items: center;
        gap: 13px;
        justify-content: flex-end;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
        line-height: 16px;
        &.point
        {
          font-size: 20px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    .progress-bar-thumb
    {
      width: 74vw;
      height: 20px;
      background-color: var(--progress-bar-thumb-color, #2CC9FF);
      box-shadow: 0px 4px 4px 0px #00A8FF inset;
      border-radius: 50px;
      border-bottom-right-radius: unset;
      border-top-right-radius: unset;
      display: flex;
      position: relative;
      top: 68px;
      right: -48px;
      .progress
      {
        color: #FFFFFF;
        font-size: 16px;
        position: absolute;
        bottom: -16px;
      }
      .layout-range
      {
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.12);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-around;
        .step{
          color: #FFFFFF;
          font-size: 13px;
          position: relative;
          bottom: -12px;
          opacity: 0.5;
          &:after
          {
            content: "";
            position: absolute;
            top: -14px;
            right: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--m-progress-layout-range-step-background-color, #64D7FF);
          }
          &.item-opacity{opacity: 1;
          &:after{background-color: var(--m-progress-layout-range-step-op-background-color, #FFD36F);}}
          &:last-child{right: 12px}
        }
      }

      .show-map
      {
        padding: 0 9px;
        height: 26px;
        line-height: 26px;
        background: linear-gradient(252deg, var(--m-show-button-gradient1-color,#FFCA33) 13.87%, var(--m-show-button-gradient2-color,#FFA800) 89.6%);
        border-radius: var(--m-sow-button-radius, 4px);
        color: #FFFFFF;
        font-size: 12px;
        cursor: pointer;
        border: none;
        outline: none;
        position: absolute;
        top: 43px;
        left: 98%;
        white-space: nowrap;
      }
      .data-progress
      {
        height: 100%;
        background: linear-gradient(252deg, #FFCA33 13.87%, #FFA800 89.6%);
        border-radius: 50px;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
        margin-left: auto;
      }
      img
      {
        width: 70px;
        position: absolute;
        bottom: -17px;
        right: -54px;
        z-index: 1;
      }
    }

    .character-level-box
    {
      height: 40px;
      width: 84vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 83px;
      padding-left: 46px;
      .next-level, .previous-level
      {
        width: 100px;
        height: 28px;
        border-radius: 76px;
        background: var(--m-character-box-level-background, #2CC9FF);
        padding: 0 4px 0 12px;
        color: #FFF;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.8;
        .next-character, .previous-character
        {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--m-next-prev-characters-bg-color,#D9D9D9);
          img
          {
            width: 20px;
            height: 20px;
            margin-top: 2px;
            margin-left: 2px;
          }
        }
      }
      .previous-level
      {
        background: var(--m-previous-level-level-background, #B7B7B7);
      }
      .character-name
      {
        color: var(--charckters-name-color, #fff);
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 8px;
      }
    }

    .progress-length
    {
      position: absolute;
      left: 4px;
      top: 52%;
      display: flex;
      transform: translateY(-50%);
      flex-direction: column;
      gap: 4px;
      color: #FFF;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      i{color: rgba(255, 168, 0, 1)}
    }
    &:after
    {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-left: 100vw solid var(--m-product-background-color, #FFFFFF);
      border-bottom: 52px solid transparent;
    }
  }
}
