<div class="deposit_payment_section deposit-cash">

    <div class="deposit_payment_section__form">
        <div class="deposit_payment_section__form_top">
            <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit(paymentForm)">
                <div class="scrallablePart" [ngClass]="{'shortHeight': nominals}">
                    <div class="payment-form-field">
                        <label class="payment-form-field__label">{{'Withdraw.BankName' | translate}}</label>
                        <div class="payment-form-field__column">
                            <select formControlName="BankName" class="payment-select" (ngModelChange)="selectBank($event)">
                                <option *ngFor="let bank of banks"
                                        [value]="bank?.BankName">{{bank?.BankName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="payment-form-field">
                        <label class="payment-form-field__label">{{'Withdraw.NameSurname' | translate}}</label>
                        <div class="payment-form-field__column">
                            <input type="text" class="payment-input" placeholder="{{'Withdraw.NameSurname-placeholder' | translate}}"
                                   disabled ngModel="{{NameSurname}}" [ngModelOptions]="{standalone:true}"
                            />
                        </div>
                    </div>


                    <div class="payment-form-field">
                        <label class="payment-form-field__label">{{'Withdraw.AccountNumber' | translate}}</label>


                        <div class="payment-form-field__column relative-section">


                            <input type="text" [(ngModel)]="bankNumberFilter.BankAccountNumber" [ngModelOptions]="{standalone: true}" numbersOnly
                                   class="payment-input"
                                   (ngModelChange)="reSearch($event)"
                                   placeholder="{{'Withdraw.Choose_Bank_Account_Number' | translate}}">

                            <div *ngIf="showList">
                                <div *ngFor="let account of accounts | filterBy: bankNumberFilter"
                                     class="bank-account-container">
                                    <div class="BankAccountNumber-item" (click)="chooseBankAccountNumber(account)" *ngIf="showList">
                                        {{account.BankAccountNumber}}</div>
                                </div>
                            </div>

                        </div>

                    </div>



                    <div class="payment-form-field">
                        <label class="payment-form-field__label">{{'Withdraw.CardNumber' | translate}}</label>
                        <div class="payment-form-field__column">
                            <input type="text" class="payment-input" placeholder="{{'Withdraw.CardNumber-placeholder' | translate}}"
                                   formControlName="CardNumber" numbersOnly/>
                        </div>
                    </div>

                    <div class="payment-form-field">
                        <label class="payment-form-field__label">{{'Withdraw.ShebaNumber' | translate}}</label>
                        <div class="payment-form-field__column">
                            <input type="text" class="payment-input" placeholder="{{'Withdraw.ShebaNumber-placeholder' | translate}}"
                                   formControlName="BankACH" numbersOnly/>
                        </div>
                    </div>
                    <app-common-accounts [templateType]="2"></app-common-accounts>
                </div>

                <div class="payment-form-field"
                     [ngClass]="{'nominals-fields-3': ((nominals !== null) && (nominals && nominals.length <= 9)), 'nominals-fields-4': ((nominals !== null) && (nominals && nominals.length > 9))}">

                    <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}} ({{currencyId}})</label>
                    <div class="payment-form-field__column">
                        <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input"
                               [(ngModel)] = "amount" placeholder="{{'Withdraw.Amount-placeholder' | translate}}"
                               formControlName="Amount" numbersOnly/>
                        <div class="error_message" *ngIf="hasMinMaxError">
                            <span class="text" *ngIf = "amount < maxMinAmount?.MinAmount">{{'Deposit.AmountLessThen' | translate : { amount: maxMinAmount?.MinAmount, currency: currencyId} }}</span>
                            <span class="text" *ngIf = "this.amount > this.maxMinAmount?.MaxAmount">{{'Deposit.AmountMoreThen' | translate : { amount: maxMinAmount?.MaxAmount, currency: currencyId} }}</span>
                        </div>
                        <ng-template #nominalsRef>
                            <app-common-payment-nominals [nominals]="nominals"
                                                         (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
                        </ng-template>
                    </div>
                </div>


                <div class="payment-form-field">
                    <div class="payment-form-field__column_btn">
                        <button type="submit" [disabled]="submitted || paymentForm.invalid || this.hasMinMaxError" class="default_btn default_btn_red payment-btn">
                            <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
                        </button>

                        <div class="error_message longTag">
                            {{errorMessage}}
                        </div>
                        <div class="success_message" *ngIf="successMessage">
                            {{'Withdraw.' + successMessage | translate}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




