<div class="forgot-password-section">
    <!--  password-recovery-section-->
    <div class="forgot-password-title-content forgot-password-section_content">
        {{'Recovery.ForgotPassword' | translate}}
    </div>
    <div class="forgot-password-section_content">
        <!--    password-recovery-section_form-->
        <h2 class="forgot-password-title-top" *ngIf="!isChangePass">{{'Recovery.Password_recovery' | translate}}</h2>
        <img class="recovery-logo"   [src]="logoUrl" defaultImageFallBack [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
        <h2 class="forgot-password-title-bottom" *ngIf="!isChangePass">{{'Recovery.Password_recovery' | translate}}</h2>
        <div class="forgot-password-section_block">
            <div class="change_block">
                <form *ngIf="!isChangePass" class="form" novalidate (keyup.enter)="resetPassword()"
                      [formGroup]="resetPasswordFormGroup">


                    <div class="form_row form_row_hidden">
                        <div class="form_field">
                            <input type="text" class="recovery_input"
                                   [formGroup]="resetPasswordFormGroup"
                                   formControlName="RecoveryToken"
                                   [attr.disabled]="urlKey"/>
                            <label>{{'Recovery.Code' | translate}}</label>
                            <!--              placeholder="{{'Recovery.Code' | translate}}"-->
                        </div>
                    </div>
                    <div class="form_row form_row_recovery">

                        <div class="form_field">
                            <input type="{{showPassword ? 'text' : 'password'}}" class="recovery_input"
                                   formControlName="Password"
                                   [formGroup]="resetPasswordFormGroup"
                                   maxlength="20"
                                   placeholder="{{'Recovery.New-password-placeholder' | translate}}"/>
                            <label>{{'Recovery.New-password' | translate}}</label>
                            <div (click)="showHidePassword()" class="password-eye-show">
                                <span [ngClass]="showPassword ? 'icon-eye-password-close' : 'icon-eye-password'"></span>
                            </div>
                        </div>


                    </div>

                    <div class="form_row form_row_recovery">

                        <div class="form_field">
                            <input type="{{showConfirmPass ? 'text' : 'password'}}" class="recovery_input"
                                   formControlName="ConfirmPassword"
                                   [formGroup]="resetPasswordFormGroup"
                                   maxlength="20"
                                   placeholder="{{'Recovery.Confirm-password-placeholder' | translate}}"/>
                            <label>{{'Recovery.Confirm-password' | translate}}</label>
                            <div (click)="showConfPassword()" class="password-eye-show">
                                <span [ngClass]="showConfirmPass ? 'icon-eye-password-close' : 'icon-eye-password'"></span>
                            </div>
                        </div>

                        <div class="error_message text-align-center"
                             *ngIf="resetPasswordFormGroup.get('ConfirmPassword').hasError('matchTo')"> {{'Recovery.Password-not-match' | translate}}
                        </div>

                    </div>

                    <!--          <div class="form_row">-->
                    <button type="submit" class="craft_btn change-password_btn"
                            (click)="resetPassword()">
                        <!--              [ngClass]="{'disable-item':resetPasswordFormGroup.status == 'INVALID'}"-->
                        {{'Recovery.Change' | translate}}
                    </button>
                    <!--          </div>-->
                    <div class="form_row" *ngIf="!isChangePass">
                        <div class="error_message text-align-center" *ngIf="responceMessage !== 'Success'">{{responceMessage}}</div>
                        <div class="success_message text-align-center" *ngIf="responceMessage === 'Success'">{{'Recovery.successfully-changed-password' | translate}}</div>
                    </div>

                </form>
            </div>

<!--            <div class="registration_complete" *ngIf="isChangePass">-->
<!--                <fa-icon [icon]="['fas', 'check']"></fa-icon>-->
<!--                <h1>{{"Auth.ChangePasswordSuccessMessage" | translate}}</h1>-->
<!--            </div>-->
        </div>

    </div>
</div>
