<div class="deposit_payment_section deposit-cash">

    <div class="deposit_payment_section__form">
        <div class="deposit_payment_section__form_top">
            <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()">
                <div class="scrallablePart amount-error-space">
                    <div class="payment-form-field">
                        <div class="payment-form-field__column all-amount">
                            <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input"
                                   [(ngModel)] = "amount"
                                   placeholder="{{'Withdraw.Amount-placeholder' | translate}}"
                                   formControlName="Amount" numbersOnly
                                   />
                            <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}} ({{currencyId}})</label>
                            <div class="error_message" *ngIf="hasMinMaxError">
                                <span class="text" *ngIf = "amount < maxMinAmount?.MinAmount">{{'Deposit.AmountLessThen' | translate : { amount: maxMinAmount?.MinAmount, currency: currencyId} }}</span>
                                <span class="text" *ngIf = "this.amount > this.maxMinAmount?.MaxAmount">{{'Deposit.AmountMoreThen' | translate : { amount: maxMinAmount?.MaxAmount, currency: currencyId} }}</span>
                            </div>
                            <ng-template #nominalsRef>
                                <app-common-payment-nominals [nominals]="nominals"
                                                             (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
                            </ng-template>
                            <button type="button" (click)="fullWithdraw();$event.stopPropagation()" class="default_btn default_btn_red payment-btn">
                                {{'Withdraw.FullWithdraw' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="payment-form-field">
                    <div class="payment-form-field__column">
                        <input type="text" class="payment-input"
                               formControlName="WalletNumber"
                               placeholder="{{'Withdraw.WalletNumber-placeholder' | translate}}"
                               />
                        <label class="payment-form-field__label">{{'Withdraw.WalletNumber' | translate}}</label>
                    </div>
                </div>
                <div class="payment-form-field">
                    <div class="payment-form-field__column">
                        <input type="text" class="payment-input"
                               placeholder="{{'Withdraw.' + paymentSystemId + 'SelectAccountType' | translate}}"
                               formControlName="AccountType"
                               />
                        <label class="payment-form-field__label">{{'Withdraw.' + paymentSystemId + 'SelectAccountType' | translate}}</label>
                    </div>
                </div>
                <div class="payment-form-field__column_btn">
                    <button type="submit"  [disabled]="submitted || paymentForm.invalid || this.hasMinMaxError" class="default_btn default_btn_red payment-btn">
                        <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
                    </button>

                    <div class="error_message longTag">
                        {{errorMessage}}
                    </div>
                    <div class="success_message" *ngIf="successMessage">
                        {{'Withdraw.' + successMessage | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


