<div class="modal-content triggers" style="padding-right: 32px">
    <div class="modal-body">
        <h1>{{'User.BonusInfo' | translate}}</h1>
        <fa-icon [icon]="['fas', 'times']" (click)="close()" class="popup-icon-bonus"></fa-icon>
    </div>
    <div class="modal_content">
        <ul>
            <li class="trigger-item">
                <div class="trigger-row">
                    <div>{{'User.Id' | translate}}</div>
                    <div>{{bonusInfo.Id}}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.Name' | translate}}</div>
                    <div class="wrap-text">{{bonusInfo.Name}}</div>
                </div>
                <div class="trigger-row" *ngIf="bonusInfo.TypeId == 10 || bonusInfo.TypeId == 13">
                    <div>{{'User.Turnover_left' | translate}}</div>
                    <div>{{bonusInfo.TurnoverAmountLeft}}</div>
                </div>
                <div class="trigger-row" *ngIf="bonusInfo.TypeId == 12">
                    <div>{{'User.Remaining_Credit' | translate}}</div>
                    <div>{{bonusInfo.RemainingCredit}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-body" *ngIf="triggers.length !== 0">
        <h1>{{data.title | translate}}</h1>
    </div>
    <div class="modal_content">
        <ul>
            <li *ngFor="let trigger of triggers" class="trigger-item">
                <div class="trigger-row">
                    <div>{{'User.Name' | translate}}</div>
                    <div>{{trigger.Name}}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.Type' | translate}}</div>
                    <div>{{trigger.TypeName}}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.Percent' | translate}}</div>
                    <div>{{trigger.Percent}}</div>
                </div>
                <div class="trigger-row" *ngIf="trigger?.MinBetCount">
                    <div *ngIf="trigger?.Type !== 15">{{'User.Bets' | translate}}</div>
                    <div *ngIf="trigger?.Type === 15">{{'User.Deposits' | translate}}</div>
                    <div>{{trigger?.BetCount}} / {{trigger?.MinBetCount}}</div>
                </div>
                <div class="trigger-row" *ngIf="trigger?.WageringAmount != null">
                    <div *ngIf="trigger?.Type !== 15">{{'User.WageringAmount' | translate}}</div>
                    <div *ngIf="trigger?.Type === 15">{{'User.MinDepositAmount' | translate}}</div>
                    <div>{{trigger?.WageringAmount}} / {{trigger?.RoundedMinAmount | number:'1.1-1' }}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.StartTime' | translate}}</div>
                    <div>{{trigger.StartTime | date : 'd-MM-y HH:mm'}}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.FinishTime' | translate}}</div>
                    <div>{{trigger.FinishTime | date : 'd-MM-y HH:mm'}}</div>
                </div>
                <div class="trigger-row">
                    <div>{{'User.Status' | translate}}</div>
                    <div>{{trigger.StatusName}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
