<div [ngClass]="{'leftTORight': !rightToLeftOrientation, 'rightToLeft': rightToLeftOrientation}">
  <!--  <div class="modal-body ticket-body flex_between">-->
  <!--    <h2>{{'User.Add_Account' | translate}}</h2>-->
  <!--    <fa-icon [icon]="['fas', 'times']" (click)="close()"></fa-icon>-->
  <!--  </div>-->
  <div class="bank-required-fields">
    {{'User.Bank-Accounts-Required-Text' | translate}}
  </div>
  <div class="new_ticket new-bank-account" *ngIf="!addNewTicket">
    <form [formGroup]="addBankAccountForm" novalidate (ngSubmit)="submit()">
      <div class="form_row">

        <div class="form_field">
          <input type="text" class="ticket_input" name="NickName" formControlName="NickName"/>
          <label>{{'Deposit.NameSurname' | translate}} *</label>
        </div>
      </div>
      <div class="form_row">

        <div class="form_field">
          <input type="text" class="ticket_input" name="NickName" formControlName="LastName"/>
          <label>{{'Deposit.Surname' | translate}} *</label>
        </div>
      </div>
      <div class="form_row">
        <div class="form_field payment-select-field">
          <select formControlName="PaymentSystemId" class="payment-select" (change)="changedPayment($event.target.value)">
            <option *ngFor="let paymentSystem of paymentSystemList"
                    [value]="paymentSystem.PaymentSystemId">{{'Withdraw.' + 'PAYMENT_MESSAGE' + paymentSystem.PaymentSystemId | translate}}</option>
          </select>
          <label>{{'User.Select_payment' | translate}} *</label>
        </div>
      </div>

      <div class="form_row">

        <div class="form_field payment-select-field">
          <!--<input type="text" class="ticket_input" name="BankName" formControlName="BankName"/>-->
          <select formControlName="BankName" class="payment-select" (change)="changedBankName($event.target.value)"
                  [disabled]="clientBanksList.length === 0"
            [ngClass]="{'disable_item':paymentSystemId === null, 'active_item': paymentSystemId !== null, 'disable_item':clientBanksList.length === 0}">
            <option *ngFor="let clientBank of clientBanksList | orderBy:'BankName'"
                    [value]="clientBank.BankName">{{clientBank.BankName }}</option>
          </select>
          <label>{{'User.BankName' | translate}} *</label>
        </div>
      </div>

      <div class="form_row">

        <div class="form_field payment-select-field">
          <select formControlName="BranchName" class="payment-select"
                  [ngClass]="{'disable_item':paymentSystemId === null, 'active_item': paymentSystemId !== null,
                   'disable_item':bankBranches.length === 0}">
            <option *ngFor="let branch of bankBranches | orderBy:'BranchName'"
                    [value]="branch.BranchName">{{branch?.BranchName }}</option>
          </select>
          <label>{{'User.BranchName' | translate}} *</label>
        </div>
      </div>
      <div class="form_row hide-account-types">
        <div class="form_field payment-select-field">
          <select formControlName="BankAccountType" class="payment-select">
            <option *ngFor="let bankAccountType of bankAccountTypes"
                    [value]="bankAccountType?.Value">{{bankAccountType?.Name }}</option>
          </select>
          <label>{{'User.AccountType' | translate}} *</label>
        </div>
      </div>
      <div class="form_row">
        <div class="form_field">
          <input type="text" class="ticket_input" placeholder="{{maskType ? maskType : ' '}}" mask="{{maskType}}" formControlName="BankAccountNumber" numbersOnly
                 (keypress)="keyCode($event)"/>
          <label>{{'User.BankAccountNumber' | translate}} *</label>
        </div>
      </div>

      <div class="form_row hide-form-row">
        <div class="form_field">
          <input type="text" class="ticket_input" name="Iban" formControlName="Iban" placeholder=" "/>
          <label>{{'User.Iban' | translate}}</label>
        </div>
      </div>
      <div class="hide-form-row"></div>



      <!--      <div class="form_row">-->
      <!--        <label>{{'User.Code' | translate}}</label>-->
      <!--        <div class="form_field flex_center">-->
      <!--          <input type="text" style="flex:1; width:unset; margin-right: 10px" class="ticket_input" name="Code" formControlName="Code"/>-->
      <!--          <button type="button" class="setting_btn" [ngClass]="{'disabled' : isCodeSend}" (click)="sendVerificationCode()">{{'User.Send_Code' | translate}}</button>-->
      <!--        </div>-->
      <!--      </div>-->

      <div *ngIf="statusMessage" class="show-message">{{statusMessage}}</div>
      <div class="form_row">
        <div class="form_field">
          <button type="submit" [ngClass]="{'disabled' : !addBankAccountForm.valid}" class="craft_btn">
            <span>{{'User.Add_Bank_Account' | translate}}</span>
            <span class="icon-arrow-to-left to-right"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="add-bank-success-message" *ngIf="addNewTicket && !isEditMode">
    <fa-icon class="check-circle-icon" [icon]="['fas', 'check-circle']"></fa-icon>
    {{'Register.Success-Message' | translate}}
    <p class="successfully-registered">{{'Deposit.Your-bank-profile-successfully-registered' | translate}}</p>
  </div>
  <div class="add-bank-success-message" *ngIf="addNewTicket && isEditMode">
    <fa-icon class="check-circle-icon" [icon]="['fas', 'check-circle']"></fa-icon>
    {{'Register.Success-Message' | translate}}
    <p class="successfully-registered">{{'Deposit.Your-bank-profile-successfully-edited' | translate}}</p>
  </div>
</div>
