<div class="deposit_payment_section deposit-cash mobile-device">

  <div class="deposit_payment_section__form">
    <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()">

      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" placeholder="{{'Deposit.VoucherNumber-placeholder' | translate}}"
                 formControlName="VoucherNumber"/>
          <label class="payment-form-field__label">{{'Deposit.VoucherNumber' | translate}}</label>
        </div>
      </div>

      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" placeholder="{{'Deposit.ActivationCode-placeholder' | translate}}"
                 formControlName="ActivationCode"/>
          <label class="payment-form-field__label">{{'Deposit.ActivationCode' | translate}}</label>
        </div>
      </div>

      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input"
                 formControlName="ExpirationDate" placeholder="MM/YYYY" mask="00/0000"/>
          <label class="payment-form-field__label">{{'Deposit.ExpirationDate' | translate}}</label>
        </div>
      </div>

      <div class="payment-form-field" *ngIf="promoData.length > 0">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" placeholder="{{'Deposit.PromoCode-placeholder' | translate}}"
                 formControlName="PromoCode"/>
          <label class="payment-form-field__label">{{'Deposit.PromoCode' | translate}}</label>
        </div>
      </div>

      <div class="payment-form-field">
        <div class="payment-deposit-btn-field">
          <button type="submit" [disabled]="submitted" class="payment-deposit-btn">
            <span class="payment-btn__span"> {{'Deposit.Confirm' | translate}} </span>
          </button>

          <div class="error_message">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </form>
  </div>

</div>



