<!--<img class="login-bg"   [src]="bgUrl"  (error)="errorHandlerBg($event)"/>-->
<div class="mobile-login-section {{className}}"
     [ngClass]="{'showPaddingTop': this.configService.defaultOptions.ShowMobileNavPanel == '1' }">
    <div class="mobile-login-top-part">
        <span class="top-login-text-part">{{'Login.Sign In' | translate}}</span>
        <span class="icon-close-modal close-icon" (click)="goBack()"></span>
    </div>
    <img class="login-logo" [src]="logoUrl" defaultImageFallBack
         [defaultSrc]="'../../../../../../../assets/images/logo.png'"/>
    <img class="mobile-login-logo-svg" src="../../../../../../../assets/images/logo.svg"/>

    <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()" class="mobile-login-section_form" *ngIf="formReady">
        <div class="authentication-buttons">
            <button class="authentication-button" (click)="openModal('Login', $event)"
                    [ngClass]="{'active': openedLogin}">{{'Login.Sign In' | translate}}</button>
            <button class="authentication-button"
                    (click)="openModal('Register', $event)">{{'Register.Registration' | translate}}</button>
        </div>
        <div class="login_password">
            <div *ngFor="let formItem of loginFieldsList">
                <div [ngSwitch]="formItem.Type">
                    <div *ngSwitchCase="'text'" class="mobile-login-section_field form_field" [ngClass]="{'valid-input': loginForm.get(formItem?.Title).valid,
                'invalid-filed': (loginForm.get(formItem?.Title).hasError('required') && loginForm.get(formItem?.Title).dirty) }">
                        <div class="mobile-login-section_field_top flex_between common-field">
                            <input type="text" [name]="formItem?.Title" [formControlName]="formItem?.Title"
                                   class="input_field"
                                   [ngClass]="{'invalid-filed': ((loginForm.get(formItem?.Title).hasError('required') && submitted) || (loginForm.get(formItem?.Title).touched && loginForm.get(formItem?.Title).hasError('required'))) }"
                                   [placeholder]="'Login.' + formItem.Title | translate"/>
                            <span class="floating-label" *ngIf="formItem?.HasLabel">{{'Login.' + formItem.Title | translate}}</span>
                        </div>
                    </div>
                    <div *ngSwitchCase="'password'" class="mobile-login-section_field form_field" [ngClass]="{'valid-input': loginForm.get('Password').valid,
    'invalid-filed': ((loginForm.get('Password').hasError('required') && submitted) ||
    (loginForm.get('Password').touched && loginForm.get('Password').hasError('required'))) }">
                        <div class="mobile-login-section_field_top flex_between common-field">
                            <input class="input_field password" type="{{changePasswordType ? 'text' : 'password'}}"
                                   [placeholder]="'Login.' + formItem.Title | translate"
                                   [ngClass]="{'valid-input': loginForm.get('Password').valid,
    'invalid-filed': ((loginForm.get('Password').hasError('required') && submitted) ||
    (loginForm.get('Password').touched && loginForm.get('Password').hasError('required'))) }"
                                   [formControlName]="formItem?.Title"/>
                            <span class="floating-label" *ngIf="formItem?.HasLabel">{{'Login.' + formItem.Title | translate}}</span>
                            <div (click)="changePassType()" class="change-password-field-type">
                                <span [ngClass]="changePasswordType ? 'icon-close-password-type' : 'icon-open-password-type'"></span>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'checkbox'" class="mobile-form_field_checked remember-me">
                        <input type="checkbox" class="login-checkbox distans-right" [checked]="formItem.Title"
                               [formControlName]="formItem.Title"/>
                        <label class="reg-conditions">{{'Login.' + formItem.Title | translate}}</label>
                    </div>
                </div>
            </div>
<!--            <div class="forgot_container" *ngIf="isSignUpButton?.Type == 'signupBtn_button'">-->
            <div class="forgot_container">
                <a class="forgot_password" [routerLink]="['/forgot-password']">
                    {{'Login.ForgotPassword' | translate}}
                </a>
            </div>
            <div class="form-accept-terms" [innerHTML]="'Login.AcceptTerms' | translate | sanitizer: 'html'">
            </div>
        </div>
        <div class="form_field">
            <div class="login-submit-btn">
                <button
                        type="submit"
                        class="craft_btn login_btn"
                        [disabled]="submitted || (configService.defaultOptions['FormValidationType'] === 'blur' && !loginForm.valid)"
                        [ngClass]="{'signin_abled': configService.defaultOptions['FormValidationType'] === 'submit' || loginForm.valid}">
                    {{'Login.Sign In' | translate}}
                </button>
            </div>
        </div>
        <div class="line">
            <span class="left-line"></span>
            <span class="text">OR</span>
            <span class="right-line"></span>
        </div>
        <div class="form_field btn-after">
            <button type="button" class="craft_btn forgotPassword_btn"
                    [routerLink]="['/forgot-password']">{{'Login.ForgotPassword' | translate}}</button>
        </div>
        <div class="form_field btn-after">
            <button type="button" class="craft_btn signUp_btn"
                    [routerLink]="['/signup']">{{ 'Login.Sign Up' | translate }}</button>
        </div>
        <div class="line line2">
            <span class="left-line"></span>
            <span class="text">OR</span>
            <span class="right-line"></span>
        </div>
        <div class="error-message" *ngIf="errorMessage">
            <span class="icon-error-message"></span>
            <span class="error-message-text">{{errorMessage}}</span>
            <!--        <span class="icon-close-modal"></span>-->
        </div>
        <div class="dont-have-account">
            <div>
                {{'Login.Dont_have_an_account' | translate}} <a class="dont-have-account-register"
                                                                (click)="router.navigate(['/signup'])">{{'Login.Sign Up' | translate}}</a>
            </div>
        </div>
        <div class="error-message"
             *ngIf="(loginForm.get('ClientIdentifier').hasError('required') && loginForm.get('ClientIdentifier').touched) || (loginForm.get('Password').hasError('required') && loginForm.get('Password').touched)">
            <span class="icon-error-message"></span>
            <span class="error-message-text">{{'Login.Required-field' | translate}}</span>
            <span class="icon-close-modal"></span>
        </div>
        <ng-container *ngIf="configService?.defaultOptions?.SocialNetworkProviders.length">

            <div class="social-login-text">{{'Login.You Can Join With' |translate}}</div>
            <ul>
                <li *ngFor="let provider of configService?.defaultOptions?.SocialNetworkProviders"
                    (click)="redirectToSocialProviderLoginPage(provider)"
                    [ngStyle]="{'background': 'url(../../../../../../../assets/images/register/' + provider?.Title +
                    '.png'+')' + 'no-repeat 50% 50% / cover'}">
                </li>
            </ul>
            <p class="divider-line"></p>
        </ng-container>
        <div class="login-bottom-text">
            <p class="icon-safety-text" [innerHTML]="'Login.Safe-and-Secure-Text' | translate | sanitizer: 'html'"></p>
            <span class="icon-safety"></span>
            <span>{{ 'Login.Safe and Secure' | translate }}</span>
        </div>
        <div class="login-language-bar">
            <app-global-language></app-global-language>
        </div>
    </form>

</div>
