<div class="withdraw_payment_section2 deposit-cash">

  <div class="withdraw_payment_section2__form">
    <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()" (click)="$event.stopPropagation()">
      <div class="scrallablePart" [ngClass]="{'shortHeight': nominals}">
        <app-common-accounts [templateType]="2"></app-common-accounts>
      </div>
      <div class="payment-form">
      <div class="payment-form-field"
           [ngClass]="{'nominals-fields-3': ((nominals !== null) && (nominals && nominals.length <= 9)), 'nominals-fields-4': ((nominals !== null) && (nominals && nominals.length > 9))}">
          <div class="payment-form-field__column all-amount">
            <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input"
                   [(ngModel)] = "amount" required
                   formControlName="Amount" numbersOnly/>
            <span class="floating-label">{{'Withdraw.Amount' | translate}}</span>
            <span class="currency">{{currencyId}}</span>
            <div class="error_message" *ngIf="hasMinMaxError">
              <span class="text" *ngIf = "amount < maxMinAmount?.MinAmount">{{'Deposit.AmountLessThen' | translate : { amount: maxMinAmount?.MinAmount, currency: currencyId} }}</span>
              <span class="text" *ngIf = "this.amount > this.maxMinAmount?.MaxAmount">{{'Deposit.AmountMoreThen' | translate : { amount: maxMinAmount?.MaxAmount, currency: currencyId} }}</span>
            </div>
            <ng-template #nominalsRef>
              <app-common-payment-nominals [nominals]="nominals"
                                           (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
            </ng-template>
          </div>
          <button type="button" (click)="fullWithdraw()" class="default_btn default_btn_red payment-btn">
            <span class="payment-btn__span"> {{'Withdraw.FullWithdraw' | translate}} </span>
          </button>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" formControlName="AccountNumber" required/>
          <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'AccountNumber' | translate}}</span>
        </div>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" required
                 formControlName="DocumentId"/>
          <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'DocumentId' | translate}}</span>
        </div>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" required
                 formControlName="MobileNumber"/>
          <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'MobileNumber' | translate}}</span>
        </div>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <label class="payment-form-field__label">{{'Withdraw.' + paymentSystemId + 'BankName' | translate}}</label>
          <select *ngIf="banks.length; else bankNameRef" formControlName="BankId" class="payment-select">
            <option *ngFor="let bank of banks"
                    [value]="bank?.Branches[0]?.Id">{{bank?.BankName}}</option>
          </select>
          <ng-template #bankNameRef>
            <input type="text" class="payment-input" required
                   formControlName="BankBranchName"/>
            <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'BankBranchName' | translate}}</span>
          </ng-template>
        </div>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" required
                 formControlName="BeneficiaryName"/>
          <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'BeneficiaryName' | translate}}</span>
        </div>
      </div>
      <div class="payment-form-field">
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" required
                 formControlName="BankAccountNumber"/>
          <span class="floating-label">{{'Withdraw.' + paymentSystemId + 'BankAccountNumber' | translate}}</span>
        </div>
      </div>

        <div class="payment-form-field__column_btn">
          <button type="submit" [disabled]="submitted || paymentForm.invalid" class="default_btn default_btn_red payment-btn">
            <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
          </button>

          <!-- <loader></loader>-->

          <div class="error_message longTag">
            {{errorMessage}}
          </div>
          <div class="success_message" *ngIf="successMessage">
            {{'Withdraw.' + successMessage | translate}}
          </div>
        </div>
    </div>
    </form>
  </div>

</div>



