
.modal-content {
  .modal-body {
    display: flex;
    float: unset;
    justify-content: space-between;
    align-items: center;
    .cms-popup-icon {
      color: var(--cms-popup-close-icon-color, #000);
      font-size: var(--cms-popup-close-icon-font-size, 16px);
    }
  }
  .modal_content {
    .cms-popup-container {
      color: var(--cms-popup-container-color, #000);
      background: var(--cms-popup-container-background, transparent);
    }
    .cms-popup-image {
      width: var(--cms-popup-image-width, 100%);
      height: var(--cms-popup-image-height, 100%);
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .modal-content {
    width: 95%;
    min-width: 95%;
  }
}