<div class="modal-content register {{popupWidthName}}"
      [ngClass]="{'leftTORight': !rightToLeftOrientation, 'rightToLeft': rightToLeftOrientation}">
  <div class="modal-body">
    <span class="icon-close-modal" (click)="close()"></span>
  </div>
  <div class="modal_content">
    <p class="login-title" *ngIf="showLogin"></p>
    <div *ngIf="!showLogin">
      <app-registration></app-registration>
      <div *ngIf="showRegister" class="{{popupWidthName}}_redirect">{{'Login.Already_have_an_account' | translate}}  <a
        (click)="redirectPage(true)">{{'Login.Sign In' | translate}}</a></div>
    </div>
    <div *ngIf="showLogin">
      <app-login [mainClass]="'modal_section login_modal_section'"></app-login>
      <div *ngIf="showRegister" class="{{popupWidthName}}_redirect">
        <div>
          {{'Login.Dont_have_an_account' | translate}} <a
                (click)="redirectPage(false)">{{'Login.Sign Up' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
