<div class="deposit_payment_section deposit-cash mobile-device">
    <app-common-accounts [templateType]="2" style="position: relative; top:5px"></app-common-accounts>
    <div class="deposit_payment_section__form">
        <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()">
            <div class="payment-form-field">
                <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}}</label>
                <div class="payment-form-field__column">
                    <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input"
                           placeholder="{{'Withdraw.Amount-placeholder' | translate}}" [(ngModel)]="amountValue"
                           formControlName="Amount" numbersOnly/>
                    <ng-template #nominalsRef>
                        <app-common-payment-nominals [nominals]="nominals"
                                                     (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
                    </ng-template>
                </div>

                <div class="info-message" *ngIf="amountValue && CommissionPercent > 0">
                    {{'Withdraw.Tax-amount' | translate}}
                    : {{ (amountValue * CommissionPercent) / 100 | number: '.2'}} {{'Withdraw.Payout' | translate}}
                    : {{amountValue - (amountValue * CommissionPercent) / 100 | number: '.2'}}
                </div>

            </div>

            <div class="payment-form-field">
                <label class="payment-form-field__label">{{'Withdraw.WalletNumber' | translate}}</label>
                <div class="payment-form-field__column">
                    <input type="text" class="payment-input"
                           placeholder="{{'Withdraw.WalletNumber-placeholder' | translate}}"
                           *ngIf="clientPaymentMethods.length == 0"
                           formControlName="WalletNumber"/>

                    <select formControlName="BankName" class="payment-select" *ngIf="clientPaymentMethods.length > 0" formControlName="WalletNumber">
                        <option value="">{{'Withdraw.Select_Wallet'}}</option>
                        <option *ngFor="let bank of clientPaymentMethods"
                                [value]="bank?.WalletNumber">{{bank?.WalletNumber}}</option>
                    </select>
                </div>
            </div>

            <div class="payment-form-field">
                <div class="payment-deposit-btn-field">
                    <button type="submit" [disabled]="submitted" class="payment-deposit-btn">
                        <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
                    </button>

                    <div class="error_message longTag">
                        {{errorMessage}}
                    </div>

                    <div class="success_message" *ngIf="successMessage">
                        {{'Withdraw.' + successMessage | translate}}
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>



