@font-face {
  font-family: 'internal';
  src:  url('../../assets/fonts/internal.eot?ycyx8m');
  src:  url('../../assets/fonts/internal.eot?ycyx8m#iefix') format('embedded-opentype'),
  url('../../assets/fonts/internal.ttf?ycyx8m') format('truetype'),
  url('../../assets/fonts/internal.woff?ycyx8m') format('woff'),
  url('../../assets/fonts/internal.svg?ycyx8m#internal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
