$footerBottomSize: var(--footer--height);

.footer-section {
  background-color: color(footer-background);
  background-image: var(--footer-background-image, linear-gradient(itemColor(footer-gradient-first, transparent) 70%, itemColor(footer-gradient-last, transparent)));
  height: height(footer, 450px);
  width: 100%;
  padding: paddingTop(homa-page-content,0) paddingRight(homa-page-content, 10px) paddingBottom(homa-page-content,0) paddingLeft(homa-page-content, 10px);
  top: auto;
  clear: both;
  z-index: 2;
  background-repeat: var(--footer-background-image-repeat, no-repeat);
  background-size: var(--footer-background-image-size, unset);
  background-position: var(--footer-background-image-position, center);
  background-attachment: var(--footer-background-image-attachment, unset);
  border-top: var(--footer-border-top, none);

  .footer-open-button {
    margin-left: auto;
    margin-right: auto;
    background-color: color(footer-open-button-background);
    /*background-image: url("~/assets/images/footer-arrow.png");*/
    background-position: center 31px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 14px;
    text-align: center;
    line-height: 0;
    border: 1px solid color(header-menu-item-active-border);
    height: 45px;
    width: 75px;
    margin-top: -50px;
    transition: box-shadow 500ms;
    position: fixed;
    left: 50%;
    bottom: -28px;
    z-index: 1;

    &.rotate-180 {
      transform: rotateZ(0deg);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: none;

      background-position: center 5px;

      &:hover {
        box-shadow: 0 -1px 0 1px color(footer-open-button-active-border);
      }
    }


    &.rotate-0 {
      transform: rotateZ(180deg);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top: none;

      &:hover {
        box-shadow: 0 1px 0 1px color(footer-open-button-active-border);
      }
    }
  }


  &.fixFooter {
    position: var(--fix-footer, inherit);
  }

  &.showFooter {
    position: fixed;
  /*  bottom: calc($footerBottomSize * (-1));*/
    transition: bottom 250ms;
    top: auto !important;
  }

  &.opened {
    bottom: 0;
    overflow-y: var(--footer-opened-overflow, hidden);
    height: var(--footer-opened-height, auto);
    background: var(--footer-opened-background-color, var(--footer-background-color));
    background-image: var(--footer-opened-background-image, unset);
    background-repeat: var(--footer-background-image-repeat, no-repeat);
    background-size: var(--footer-background-image-size, unset);
    background-position: var(--footer-background-image-position, center);
    background-attachment: var(--footer-background-image-attachment, unset);
  }

  &_boxMenu {
    display: grid;
    max-width: var(--footer-section-boxMenu-max-width, auto);
    margin-left: var(--footer-section-boxMenu-margin-left, auto);
    margin-right: var(--footer-section-boxMenu-margin-right, auto);
    &_top {
      //width: width(footer-top-section, 80%);
      //width: 90%;
      margin-left: marginLeft(footer-section-boxMenu-top, 149px);
      margin-right: marginRight(footer-section-boxMenu-top, 149px);
      width: calc(100% - var(--footer-section-boxMenu-top-margin-right) - var(--footer-section-boxMenu-top-margin-left));
      justify-content: justifyContent(footer-section-boxMenu-space, space-between);
      //margin: 0 auto;
      display: flex;
      color: color(header-language-dropdown-text);
      padding-top: var(--footer-section-boxMenu-top-padding-top, 22px);
      .footer-column
      {
        display: display(footer-column-item, block);
        &_title
        {
          cursor: default;
          margin-bottom: marginBottom(footer-column-title,0);
          line-height: var(--footer-column-title-line-height, 19px);
          font-size: var(--footer-column-title-font-size, 16px);
          font-weight: var(--footer-column-title-font-weight, 400);
          border-right: 1px solid itemColor(footer-column-border, transparent);
          padding-right: paddingRight(footer-column, 0);
          text-align: var(--footer-column-title-text-align, left);
          &:hover
          {
            color: color(footer-column-title-hover);
          }
        }
        &_line {
          border: 1px solid var(--footer-column-line-border-color, transparent);
          position: var(--footer-column-line-position, relative);
          left: var(--footer-column-line-left, 100px);
          height: var(--footer-column-line-height, 35px);
          top: var(--footer-column-line-top, 9px);
          width: var(--footer-column-line-width, 1px);
        }
        &_item
        {
          display: flex;
          align-items: center;
          justify-content: var(--footer-column-item-justify-content, unset);
          cursor: default;
          gap: 16px;
          color: color(footer-column-item);
          font-size: fontSize(footer-column-item, 14px);
          line-height: var(--footer-column-item-line-height,16px);
          background-repeat: no-repeat;
          .footer-menu-item-img-part {
            margin: var(--footer-column-item-img-margin, 0);
          }
          &:hover
          {
            color: color(footer-column-item-hover);
          }
        }
        &:first-child
        {
          .footer-column_item
            {
             padding-left: paddingLeft(--footer-column-item, 0);
             padding-top: paddingTop(--footer-social-item, 0px);
             width: width(footer-social-item, auto);
            }
        }
        &:last-child
        {
          .footer-column_title
          {
            border-right: none;
            padding-right: 0;
          }
        }
      }

    }

    &_bottom {
      margin: 32px 0 44px 0;
    }

    .license {
      width: 60px
    }
  }


  /*Footer dynamic styles*/

  .ft-text
  {
    display: flex;
    align-items: center;
    justify-content: center;

    &.ft-text-style1
    {
      color: color(ft-text-style1);
      height: height(ft-text-style1, 120px);
      border-top-width: borderTopWidth(ft-text-style1, 1px);
      border-bottom-width: borderBottomWidth(ft-text-style1, 1px);
      border-left-width: borderLeftWidth(ft-text-style1, 0);
      border-right-width: borderRightWidth(ft-text-style1, 0);

      border-top-color: borderTopColor(ft-text-style1, #133251);
      border-bottom-color: borderBottomColor(ft-text-style1, #133251);
      border-left-color: borderLeftColor(ft-text-style1, transparentize);
      border-right-color: borderRightColor(ft-text-style1, transparentize);

      border-bottom-style: borderBottomStyle(ft-text-style1, solid);
      border-top-style: borderTopStyle(ft-text-style1, solid);
      font-size: fontSize(ft-text-style1-text, 16px);
      width: width(ft-text-style1, auto);
      margin: var(--ft-text-style1-text-margin, 0);
      cursor: default;
      .info-text
      {
        width: width(ft-text-style1, 50%);
        margin-left: marginLeft(ft-text-style1, 0);
        margin-right: marginRight(ft-text-style1, 0);
        text-align: textAlign(ft-text-style1, center);
      }
    }
    &.ft-text-style2
    {
      color: color(ft-text-style2);
      font-size: fontSize(ft-text-style2, 16px);
      .info-text
      {
        margin-top: marginTop(ft-text-style2, 0);
        margin-bottom: marginBottom(ft-text-style2, 0);
        margin-left: marginLeft(ft-text-style2, auto);
        margin-right: marginRight(ft-text-style2, auto);
        width: width(ft-text-style2, 100%);
        text-align: textAlign(ft-text-style2, left);
        line-height: var(--footer-info-text-line-height, 20px);
        background-color: backgroundColor(ft-text-style2, none);
      }
      .info-text-see-more
      {
        margin-top: marginTop(footer-info-text-see-more, 15px);
        margin-bottom: marginBottom(footer-info-text-see-more, 15px);
        margin-left: marginLeft(footer-info-text-see-more, auto);
        margin-right: marginRight(footer-info-text-see-more, auto);
        width: width(footer-info-text-see-more, 100%);
        text-align: textAlign(footer-info-text-see-more, left);
        line-height: var(--footer-info-text-see-more-line-height, 20px);
        background-color: backgroundColor(footer-info-text-see-more, none);
        position: var(--footer-info-text-see-more-position, relative);
        input {
          opacity: 0;
          position: absolute;
          pointer-events: none;
        }

        p
        {
          overflow: hidden;
          display: var(--info-text-p-display, -webkit-box);
          -webkit-line-clamp: var(--info-text-p-line-clamp, 4);
          -webkit-box-orient: var(--info-text-p-box-orient, vertical);
          font-size: fontSize(ft-text-style2, 16px);
        }

        label
        {
          position: absolute;
          right: itemRight(info-text-label, 0px);
          bottom: itemBottom(info-text-label, -6px);
          background: backgroundColor(info-text-label, transparent);
          color: color(ft-text-style2-button);
          text-decoration: var(--info-text-label-text-decoration, underline);
          text-transform: var(--info-text-label-text-transform, capitalize);
          text-align: textAlign(info-text-label, center);
          width: width(info-text-label, auto);
          height: height(info-text-label, auto);
          opacity: var(--info-text-label-opacity, 1);
          border: none;
          outline: none;
          padding: var(--info-text-label-padding, 0 6px);
          border-radius: var(--info-text-label-border-radius, 0);
          font-size: var(--info-text-label-font-size, 16px);
          font-weight: var(--info-text-label-font-weight, 400);
        }
        .see-less {
          display: none;
        }
        .see-more {
          display: block;
          cursor: pointer;
        }
        input:checked + p {
          -webkit-line-clamp: unset;
        }

        input:checked ~ .see-more{
          display: none;
        }

        input:checked ~ .see-less{
          display: block;
          cursor: pointer;
          bottom: itemBottom(info-text-label-checked, -6px);
          height: height(info-text-label-checked, auto);
          background: backgroundColor(info-text-label-checked, transparent);
          color: color(ft-text-style2-button-checked);
          opacity: var(--ft-text-style2-button-checked-opacity, 1);
        }
      }
    }
  }
  .ft-images-back {

  }
  .ft-images
  {
    display: flex;
    align-items: center;
    justify-content: var(--ft-image-background-justify-content, center);
    flex-wrap: wrap;
    background-color: backgroundColor(ft-image-background, none);
    border-bottom: 2px solid itemColor(ft-border-bottom-color, none);
    border-top: var(--ft-image-border-top, none);
    border-left: var(--ft-image-border-left, none);
    border-right: var(--ft-image-border-right, none);
    gap: var(--ft-image-background-gap, 0px);
    width: var(--ft-image-background-width, auto);
    margin: var(--ft-image-background-margin, 0);

    &.ft-images-style1
    {
      position: var(--ft-images-style1-position, relative);
      .ft-images-title {
        display: var(--ft-images-style1-title-display, none);
        background: var(--ft-images-style1-title-background, transparent);
        color: var(--ft-images-style1-title-color, #000);
        padding: var(--ft-images-style1-title-padding, 5px 10px);
        font-size: var(--ft-images-style1-title-font-size, 16px);
        border-radius: var(--ft-images-style1-title-border-radius, 6px);
        border: var(--ft-images-style1-title-border, none);
        width: var(--ft-images-style1-title-width, auto);
        height: var(--ft-images-style1-title-height, auto);
        font-weight: var(--ft-images-style1-title-font-weight, 600);
        position: var(--ft-images-style1-title-position, absolute);
        top: var(--ft-images-style1-title-top, 0px);
      }
      .ft-images-type1
      {
        width: width(ft-images-style1, 128px);
        height: height(ft-images-style1, 64px);

        margin-top: marginTop(ft-images-style1, 16px);
        margin-bottom: marginBottom(ft-images-style1, 16px);
        margin-left: marginLeft(ft-images-style1, 16px);
        margin-right: marginRight(ft-images-style1, 16px);
        .ft-images-type1-item
        {
         /* width: 100%;
          height: 100%;*/
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          cursor: default;
          pointer-events: none;
          border-radius: 6px;
          display: inline-block;
          width: width(ft-images-img-style1, auto);
          height: height(ft-images-img-style1, auto);
          filter: var(--ft-images-img-style1-filter, none);
          &:active, &:visited {
            text-decoration: none;
            color: $color-white;
          }
          &:hover {
            border: var(--ft-images-img-style1-hover-border,1px solid #101729);
          }

        }
      }
    }
    &.ft-images-style2
    {
      position: var(--ft-images-style2-position, relative);
      .ft-images-title {
        display: var(--ft-images-style2-title-display, none);
        background: var(--ft-images-style2-title-background, transparent);
        color: var(--ft-images-style2-title-color, #000);
        padding: var(--ft-images-style2-title-padding, 5px 10px);
        font-size: var(--ft-images-style2-title-font-size, 16px);
        border-radius: var(--ft-images-style2-title-border-radius, 6px);
        border: var(--ft-images-style2-title-border, none);
        width: var(--ft-images-style2-title-width, auto);
        height: var(--ft-images-style2-title-height, auto);
        font-weight: var(--ft-images-style2-title-font-weight, 600);
        position: var(--ft-images-style2-title-position, absolute);
        top: var(--ft-images-style2-title-top, 0px);
      }
      .ft-images-type1:first-child {
        margin-right: var(--ft-image-style2-type1-first-item-margin-right, 0);
        margin-left: var(--ft-image-style2-type1-first-item-margin-left, 0);
      }
      .ft-images-type3
      {
        display: flex;
        justify-content: center;
        .ft-images-type3-item
        {
          display: flex;
          justify-content: center;
          align-items: center;
          width: width(ft-images-style2, 32px);
          height: height(ft-images-style2, 32px);
          background-color: backgroundColor(ft-images-style2, #23334f);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          cursor: default;
          outline: none;

          border-top-left-radius: borderTopLeftRadius(ft-images-style2, 4px);
          border-top-right-radius: borderTopRightRadius(ft-images-style2, 4px);
          border-bottom-left-radius: borderBottomLeftRadius(ft-images-style2, 4px);
          border-bottom-right-radius: borderBottomRightRadius(ft-images-style2, 4px);

          margin-top: marginTop(ft-images-style2, 44px);
          margin-bottom: marginBottom(ft-images-style2, 24px);
          margin-left: marginLeft(ft-images-style2, 0);
          margin-right: marginRight(ft-images-style2, 0);
          &:not(:last-child){margin-right: 10px}
        }
      }
    }
    &.ft-images-style3 {
      position: var(--ft-images-style3-position, relative);
      .ft-images-title {
        display: var(--ft-images-style3-title-display, none);
        background: var(--ft-images-style3-title-background, transparent);
        color: var(--ft-images-style3-title-color, #000);
        padding: var(--ft-images-style3-title-padding, 5px 10px);
        font-size: var(--ft-images-style3-title-font-size, 16px);
        border-radius: var(--ft-images-style3-title-border-radius, 6px);
        border: var(--ft-images-style3-title-border, none);
        width: var(--ft-images-style3-title-width, auto);
        height: var(--ft-images-style3-title-height, auto);
        font-weight: var(--ft-images-style3-title-font-weight, 600);
        position: var(--ft-images-style3-title-position, absolute);
        top: var(--ft-images-style3-title-top, 0px);
      }
      .ft-images-type1
      {
        width: width(ft-images-style3, 128px);
        height: height(ft-images-style3, 64px);

        margin-top: marginTop(ft-images-style3, 16px);
        margin-bottom: marginBottom(ft-images-style3, 16px);
        margin-left: marginLeft(ft-images-style3, 16px);
        margin-right: marginRight(ft-images-style3, 16px);
        .ft-images-type1-item
        {
          /* width: 100%;
           height: 100%;*/
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          cursor: default;
          pointer-events: none;
          border-radius: 6px;
          display: inline-block;
          width: width(ft-images-img-style3, auto);
          height: height(ft-images-img-style3, auto);
          &:active, &:visited {
            text-decoration: none;
            color: $color-white;
          }
          &:hover {
            border: var(--ft-images-img-style3-hover-border,1px solid #101729);
          }

        }
      }
    }
    &.ft-images-style4 {
      .ft-images-type1
      {
        width: width(ft-images-style4, 128px);
        height: height(ft-images-style4, 64px);

        margin-top: marginTop(ft-images-style4, 16px);
        margin-bottom: marginBottom(ft-images-style4, 16px);
        margin-left: marginLeft(ft-images-style4, 16px);
        margin-right: marginRight(ft-images-style4, 16px);
        .ft-images-type1-item
        {
          /* width: 100%;
           height: 100%;*/
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          cursor: default;
          pointer-events: none;
          border-radius: 6px;
          display: inline-block;
          width: width(ft-images-img-style4, auto);
          height: height(ft-images-img-style4, auto);
          &:active, &:visited {
            text-decoration: none;
            color: $color-white;
          }
          &:hover {
            border: 1px solid #101729;
          }

        }
      }
    }
  }
  .ft-contacts
  {
    &.ft-contacts-style1
    {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: marginTop(ft-contacts-style1, 0);
      margin-bottom: marginBottom(ft-contacts-style1, 0);

      img
      {
        margin-right: marginRight(ft-contacts-style1, 0);
        outline: none;
        height: height(ft-contacts-style1, 44px);
        width: width(ft-contacts-style1, auto);
      }

      .ft-contacts-item
      {
        color: color(ft-contacts-style1);
        cursor: default;
        pointer-events: none;

        margin-left: marginLeft(ft-contacts-style1, 0);
        margin-right: marginRight(ft-contacts-style1, 0);

        span
        {
          &:first-child
          {
            margin-right: 8px;
            font-size: 24px;
            vertical-align: middle;
          }
        }
        &:hover
        {
          color: itemColor(ft-contacts-style1-hover,#0c6be8);
        }
      }
    }
  }
  /*Footer dynamic styles end*/

}


@media screen and (min-width: 1200px) and (max-width: 1376px) {
  .footer-section {
    &.opened {
      height: var(--footer-opened-small-height, auto);
    }
    .ft-images-style1
    {
      margin-top: 16px;
      margin-bottom: 32px;
      .ft-images-type1
      {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
@media screen and (min-width: 1376px) and (max-width: 1600px) {
  .footer-section {
    &.opened {
      height: var(--footer-opened-medium-height, auto);
    }
    .ft-images-style1
    {
      margin-top: 32px;
      margin-bottom: 32px;
      .ft-images-type1
      {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .footer-section {
    height: calc(var(--footer-height, 450px) * 0.7);
    padding-left: calc(var(--homa-page-content-padding-left, 10px) * 0.7);
    padding-right: calc(var(--homa-page-content-padding-right, 10px) * 0.7);
    padding-top: calc(var(--homa-page-content-padding-top, 0) * 0.7);
    padding-bottom: calc(var(--homa-page-content-padding-bottom, 0) * 0.7);


    &_boxMenu {
      &_top {
        margin-left: calc(var(--footer-section-boxMenu-top-margin-left, 149px) * 0.7);
        margin-right: calc(var(--footer-section-boxMenu-top-margin-right, 149px) * 0.7);
        width: calc(100% - calc(var(--footer-section-boxMenu-top-margin-right, 149px) * 0.7) - calc(var(--footer-section-boxMenu-top-margin-left, 149px) * 0.7));
        padding-top: 22px;
        .footer-column
        {
          &_item
          {
            font-size: calc(var(--footer-column-item, 14px) * 0.7);
            line-height: 11px;
          }
        }
      }

      &_bottom {
        margin: 32px 0 44px 0;
      }

      .license {
        width: 60px
      }
    }


    /*Footer dynamic styles*/

    .ft-text
    {
      &.ft-text-style1
      {
        height: calc(var(--ft-text-style1-height, 120px) * 0.7);
        font-size: calc(var(--ft-text-style1-text-font-size, 16px) * 0.7);

        .info-text
        {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      &.ft-text-style2
      {
        font-size:  calc(var(--ft-text-style2, 16px) * 0.7);
      }
    }
    .ft-images
    {

      &.ft-images-style1
      {
        .ft-images-type1
        {
          width: calc(var(--ft-images-style1-width, 128px) * 0.7);
          height: calc(var(--ft-images-style1-height, 64px) * 0.7);

          margin-top: calc(var(--ft-images-style1-margin-top, 16px) * 0.7);
          margin-bottom: calc(var(--ft-images-style1-margin-bottom, 16px) * 0.7);
          margin-left: calc(var(--ft-images-style1-margin-left, 16px) * 0.7);
          margin-right: calc(var(--ft-images-style1-margin-right, 16px) * 0.7);

        }
      }
      &.ft-images-style2
      {
        .ft-images-type3
        {
          .ft-images-type3-item
          {
            width: width(ft-images-style2, 32px);
            height: height(ft-images-style2, 32px);

            margin-top: calc(var(--ft-images-style2-margin-top, 44px) * 0.7);
            margin-bottom: calc(var(--ft-images-style2-margin-bottom, 24px) * 0.7);
            margin-left: marginLeft(ft-images-style2, 0);
            margin-right: marginRight(ft-images-style2, 0);
            &:not(:last-child){margin-right: 10px}
          }
        }
      }
    }
    .ft-contacts
    {
      &.ft-contacts-style1
      {
        margin-top: calc(var(--ft-contacts-style1-margin-top, 0) * 0.7);
        margin-bottom: calc(var(--ft-contacts-style1-margin-bottom, 0) * 0.7);

        img
        {
          margin-right: calc(var(--ft-contacts-style1-margin-right, 0) * 0.7);
          height: 30.8px;
        }

        .ft-contacts-item
        {

          margin-left: calc(var(--ft-contacts-style1-margin-left, 0) * 0.7);
          margin-right: calc(var(--ft-contacts-style1-margin-right, 0) * 0.7);
        }
      }
    }
    /*Footer dynamic styles end*/

  }
}