.forgot-password-section {
  padding-top: paddingTop(forgot-password-section, 125px);
  padding-bottom: paddingBottom(forgot-password-section, 125px);
  background: color(forogot-password-background);
  .forgot-password-section_content1 {
    height: var(--forget-password-success-section-content, auto);
  }
  .forgot-password-title-content {
    display: var(--receovery-title-top-display, none);
    background: var(--receovery-title-top-background, #000);
    margin: var(--receovery-title-top-margin, 0);
    padding: var(--receovery-title-top-padding, 0);
    justify-content: center;
    align-items: center;
    color: var(--receovery-title-top-color, #fff);
    font-size: var(--receovery-title-top-font-size, 20px);
    font-weight: var(--receovery-title-top-font-weight, 600);
  }
  &_content {
    width: width(forgot-password-section, 504px);
    margin: 0 auto;
    position: relative;
    padding-top: paddingTop(forgot-password-content, 24px);
    padding-bottom: paddingBottom(forgot-password-content, 24px);
    padding-right: paddingRight(forgot-password-content, 32px);
    padding-left: paddingLeft(forgot-password-content, 32px);
    background: backgroundColor(forgot-password-section, #1d2e4a);
    max-height: height(forgot-password-section-max, auto);
    min-height: height(forgot-password-section-min, 350px);
    height: auto;
    border-radius: var(--forgot-password-content-border-radius, 6px);
    box-shadow: var(--forgot-password-content-box-shadow, none);
    border: var(--forgot-password-content-border, none);

    //h2 {
    //  margin: 0;
    //  color: itemColor(recovery-logo, #fff);
    //  font-size: fontSize(recovery-logo, 20px);
    //  font-weight: normal;
    //}
    .password-sec {
      margin-top: 10px;
    }
    .recovery-logo {
      margin-top: marginTop(recovery-logo, 37px);
      margin-bottom: marginBottom(recovery-logo, 44px);
      height: height(recovery-logo, 44px);
      width: width(recovery-logo, auto);
      display: display(recovery-logo, block);
      margin-left: auto;
      margin-right: auto;
    }
    .forgot-password-title-top {
      margin: var(--recovery-logo-margin, 0);
      color: itemColor(recovery-logo, #fff);
      font-size: fontSize(recovery-logo, 20px);
      font-weight: fontWeight(recovery-logo, normal);
      display: display(recovery-logo-top, block);
    }
    .forgot-password-title-bottom-opacity {
      opacity: var(--forget-password-title-bottom-opacity, 1);
    }
    .forgot-password-title-bottom {
      margin: var(--recovery-logo-title-margin, 0 0 15px 0);
      color: itemColor(recovery-logo, #fff);
      font-size: fontSize(recovery-logo, 20px);
      font-weight: fontWeight(recovery-logo, normal);
      display: display(recovery-logo-bottom, block);
      padding: var(--recovery-logo-bottom-padding, 0px);
      width: var(--recovery-logo-bottom-width, auto);
      text-align: var(--recovery-logo-bottom-text-align, left);
    }
  }
  .security-questions-modal {
    padding: var(--forgot-password-section-padding, 0);
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: rgba(29, 29, 27, 0.7);
    }
    .security-questions-form {
      position: relative;
      label {
        color: color(forgot-password-label);
        position: position(forgot-password-label, absolute);
        top: itemTop(forgot-password-label,10px);
        left: itemLeft(forgot-password-label, 0);
        font-size: fontSize(forgot-password-label, 16px);
        font-weight: fontWeight(forgot-password-label, 500);
        transition: transform 200ms, color 200ms;
        transform-origin: 0 50%;
        pointer-events: none;
        z-index: 1;
        padding: var(--forgot-password-label-padding, 0 8px);
        background-color: backgroundColor(forgot-password-label-f, none);
      }
      input:focus ~ .cut,
      input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
        display: block;
      }
      input:focus ~ .cut {
        display: block;
      }
      input:focus::placeholder {
        opacity: 1;
      }
      input::placeholder {
        opacity: 0;
      }
      input:focus ~ label {
        width: width(forgot-password-form-field-label, inherit);
        height: height(forgot-password-input-label-focused, 11px);
        background: var(--forgot-password-background-color, #FFFFFF);
        color: var(--forgot-password-field-focus-label, #fff);
        top: itemTop(forgot-password-input-label, 10px);
        font-size: var(--forgot-password-background-color-font-size, 16px);
      }
      input:focus ~ label,
      input:not(:placeholder-shown) ~ label {
        transform: var(--forgot-password-input-label-transform, translateY(-25px) translateX(10px) scale(0.75));
        background-color: var(--forgot-password-background-color, #1d2e4a);
        height: height(signin-label-focused, 20px);
        font-size: var(--register-background-color-font-size-label, 20px);
        color: var(--login-field-focus-label-focused, #fff);
        left: var(--login-field-focus-label-focused-left, -12px);
        width: var(--login-field-focus-label-focused-width, auto);
      }
      input {
        height: 48px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1D1D1B;
        padding: 0 24px;
      }
    }
  }

  .recovery-success-message {
    color: itemColor(recovery-success-message-text, green);
    position: position(recovery-success-message, relative);
    bottom: itemBottom(recovery-success-message, 21px);
    display: display(recovery-success-message-container, flex);
    justify-content: justifyContent(recovery-success-message, center);
    align-items: center;
    flex-direction: var(--recovery-success-message-flex-direction, column);
    gap: var(--recovery-success-message-gap, 10px);
    top: itemTop(recovery-success-message, unset);
    left: itemLeft(recovery-success-messasge, unset);
    width: width(recovery-success-messasge, auto);
    font-size: fontSize(recovery-success-messasge, 16px);
    font-weight: fontWeight(recovery-success-messasge, 400);
    padding: var(--recovery-success-messasge-container-padding, 0);
    .check-circle-icon {
      display: display(recovery-success-message-icon, block);
      font-size: fontSize(recovery-success-message-icon, 72px);
      color: var(--recovery-success-message-icon-color, itemColor(recovery-success-message-text, green));
    }
    .successfully-registered {
      display: display(recovery-success-message-changed, block);
      color: itemColor(recovery-success-message-changed, #fff);
      margin: var(--recovery-success-message-changed-margin, 0);
      font-size: fontSize(recovery-success-message-changed, 16px);
      font-weight: fontWeight(recovery-success-message-changed, 400);
      border: var(--recovery-success-message-changed-border, none);
      padding: var(--recovery-success-message-changed-padding, 0);
      border-radius: var(--recovery-success-message-changed-border-radius, 0);
    }
  }

  .forgot-password-section_block {
    padding: var(--forgot-password-section-padding, 0);
    margin: var(--forgot-password-section-margin, 0);
    .form_row_hidden {
      display: none;
    }
    .form_row{
      color: itemColor(forgot-password-section-text, #dbedff);
      line-height: 1.71;
      margin: 0;
      margin-bottom: marginBottom(forgot-password-section-text, 15px);
      &.number-info {
        margin: 0;
        margin-bottom: marginBottom(forgot-password-number-info, 116px);
        display: display(forgot-password-number-info, block);
      }
      &_recovery {
        position: relative;
        .password-eye-show {
          position: absolute;
          right: itemRight(forgot-password-eye-icon, 16px);
          top: itemTop(forgot-password-eye-icon, 11px);
          color: var(--forgot-password-eye-icon-color, #fff);
          cursor: pointer;
        }
      }
      .hide-forgot-btn {
        display: none;
      }
    }

    .change-password_btn {
      @include common-button;
      margin-top: marginTop(change-password-btn, 121px);
      width: 100%;
      font-weight: fontWeight(forgot-password-button-text, normal);
      border-radius: var(--forgot-password-button-text, 6px);
      font-size: fontSize(recovery-btn, 18px);
      cursor: pointer;
      height: height(forgot-password-button-text, 44px);
    }

    .change_block {
      .password-part {
        margin: var(--change-password-part-form-margin, 0);
      }
      >form {
        display: flow-root;
        .forgot-error_message {
          float: left;
          top: itemTop(forgot-password-error, 0);
          font-size: $font-size-2;
        }
      }

      label {
        color: color(forgot-password-label);
        position: position(forgot-password-label, absolute);
        top: itemTop(forgot-password-label,10px) !important;
        left: itemLeft(forgot-password-label, 0);
        font-size: fontSize(forgot-password-label, 16px);
        font-weight: fontWeight(forgot-password-label, 500);
        transition: transform 200ms, color 200ms;
        transform-origin: 0 50%;
        pointer-events: none;
        z-index: 1;
        padding: var(--forgot-password-label-padding, 0 8px);
        background-color: backgroundColor(forgot-password-label-f, none);
        &.label-on-error {
          color: itemColor(recovery-input-invalid, red);
        }
      }
      .recovery_input:focus ~ .cut,
      .recovery_input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
        display: block;
      }
      .recovery_input:focus ~ .cut {
        display: block;
      }
      .recovery_input:focus::placeholder {
        opacity: var(--forgot-password-input-placeholder-opacity, 1);
      }
      .recovery_input::placeholder {
        opacity: var(--forgot-password-form-field-label-show-opacity, 0);
      }
      .recovery_input:focus ~ label {
        width: width(forgot-password-form-field-label, inherit);
        height: height(forgot-password-input-label-focused, 11px);
        background: var(--forgot-password-background-color, #FFFFFF);
        color: var(--forgot-password-field-focus-label, #fff);
        top: itemTop(forgot-password-input-label, 10px);
        font-size: var(--forgot-password-background-color-font-size, 16px);
      }
      .recovery_input:focus ~ label,
      .recovery_input:not(:placeholder-shown) ~ label {
        transform: var(--forgot-password-input-label-transform, translateY(-25px) translateX(10px) scale(0.75));
        background-color: var(--forgot-password-background-color, #1d2e4a);
        height: height(signin-label-focused, 20px);
        font-size: var(--forgot-password-background-color-font-size-label, 20px);
        color: var(--forgot-password-field-label-focused-color, #fff);
        left: var(--login-field-focus-label-focused-left, -12px);
        width: var(--login-field-focus-label-focused-width, auto);
      }

      .recovery_input {
        border-radius: var(--recovery-input-border-radius, 6px);
        color: itemColor(recovery-input, #fff);
        height: var(--recovery-input-height, 44px);
        border: var(--recovery-input-border , 1px solid #dbedff);
        text-indent: var(--recovery-input-text-indent, 16px);
        &.invalid-field {
          border-color:  itemColor(recovery-input-invalid, red);
        }
        &::placeholder {
          color: var(--recovery-input-placeholder-color, #dbedff);
          //opacity: 0.3;
        }
      }
      .recovery-go-back-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: marginTop(recovery-go-back-btn, 10px);
        color: itemColor(recovery-go-back-btn, #1376f8);
        font-weight: fontWeight(recovery-go-back-btn, normal);
        font-size: fontSize(recovery-go-back-btn, 18px);
        text-decoration: underline;
      }
      .reg-buttons {
        display: var(--recovery-reg-buttons-display, flex);
        justify-content: space-between;
        align-items: center;
        span {
          text-decoration: var(--recovery-reg-buttons-text-decoration, underline);
          color: itemColor(recovery-go-back-btn, #1376f8);
          margin-top: var(--recovery-reg-buttons-margin-top, 30px);
          border: var(--recovery-reg-buttons-border, none);
          border-radius: var(--recovery-reg-buttons-border-radius, 0px);
          padding: var(--recovery-reg-buttons-padding, 0px);
          cursor: pointer;
        }
      }

      .recovery-btn {
        color: color(forgot-password-button-text);
        font-weight: fontWeight(forgot-password-button-text, normal);
        border-radius: var(--forgot-password-button-text, 6px);
        font-size: fontSize(recovery-btn, 18px);
        background-image: backgroundImage(recovery-btn, linear-gradient(to bottom, #1376f8, #194074));
        width: 100%;
        margin-top: marginTop(recovery-btn, 24px);
        margin-bottom: marginBottom(recovery-btn, 0px);
        height: height(forgot-password-button-text, 44px);
      }

    }

    .help_block {
      //padding: 36px 25px;

      p {
        font-size: $font-size-2;
        color: var(--forgot-password-help-text-color, #fff);
        margin-bottom: marginBottom(forgot-password-help-text, 8px);
        line-height: 1.71;
      }

      .support {
        color: itemColor(forgot-password-section-text, #dbedff);
        text-decoration: var(--forgot-password-section-text-decoration, underline);
        font-size: $font-size-3;
        cursor: pointer;
        display: display(forgot-password-section-text, block);
      }
    }
  }
  .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--recovery-security-questions-errors-message-margin, 0px);
    padding: 8px 16px;
    background: #F9EBED;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #C2394B;
    .security-questions-icon {
      font-size: 20px;
    }
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      margin-right: auto;
      margin-left: 20px;
    }
  }
  .registration_complete {
    text-align: textAlign(recovery-success-message, center);
    color: itemColor(recovery-success-message, #0acc4c);
    margin-top: marginTop(recovery-success-message, 35px);
    margin-bottom: marginBottom(recovery-success-message, 135px);
    margin-right: marginRight(recovery-success-message, 0px);
    display: display(recovery-success-message, block);
    align-items: center;
    background: backgroundColor(recovery-success-message, none);
    box-shadow: var(--recovery-success-message-box-shadow, none);

    i {
      font-size: 158px;
      color: var(--recovery-success-message-color, #0acc4c);
    }
    .check-circle-icon {
      font-size: fontSize(recovery-success-message-icon, 15px);
      margin-left: var(--recovery-success-message-icon-margin-left, 0px);
    }

    h1 {
      line-height: 1.71;
      font-size: var(--recovery-success-message-font-size, 14px);
      font-weight: var(--recovery-success-message-font-weight, 500);
      margin-left: var(--recovery-success-message-margin-left, 0px);
      color: var(--recovery-success-message-text-color, var(--recovery-success-message-color, #0acc4c));
    }
    p {
      color: itemColor(regForm-success-message-registered, #fff);
      margin: var(--regForm-success-message-registered-margin, 0);
      font-size: fontSize(regForm-success-message-registered, 16px);
      display: display(reg-success-message-registered, none);
    }
  }

}

@media screen and (min-width: 1280px) and (max-width: 1376px)
{
  .forgot-password-section {
    padding-top: calc(var(--forgot-password-section-padding-top, 125px) * 0.7);
    padding-bottom: calc(var(--forgot-password-section-padding-bottom, 125px) * 0.7);

    &_content {
      width: calc(var(--forgot-password-section-width, 504px) * 0.7);
      padding-top:  calc(var(--forgot-password-content-padding-top, 24px) * 0.7);
      padding-bottom:  calc(var(--forgot-password-content-padding-bottom, 24px) * 0.7);
      padding-right:  calc(var(--forgot-password-content-padding-right, 32px) * 0.7);
      padding-left:  calc(var(--forgot-password-content-padding-left, 32px) * 0.7);
      max-height: calc(var(--forgot-password-section-max-height, auto) * 0.7);
      min-height: calc(var(--forgot-password-section-min-height, 350px) * 0.7);

      h2 {
        font-size: calc(var(--recovery-logo-font-size, 20px) * 0.7);
      }
      .recovery-logo {
        margin-top: calc(var(--recovery-logo-margin-top, 37px) * 0.7);
        margin-bottom: calc(var(--recovery-logo-margin-bottom, 44px) * 0.7);
        height:calc(var(--recovery-logo-height, 44px) * 0.7);
        width: calc(var(--recovery-logo-width, auto) * 0.7);
      }
    }

    .forgot-password-section_block {

      .form_row{
        margin-bottom: calc(var(--forgot-password-section-text-margin-bottom, 10px) * 0.7);
        &.number-info {
          margin-bottom: calc(var(--forgot-password-number-info-margin-bottom, 116px) * 0.7);
          font-size: calc(var(--font-size-2, 14px) * 0.7);
        }
        &_recovery {
          .password-eye-show {
            position: absolute;
            right: 11px;
            top: 3px;
          }
        }
      }

      .change-password_btn {
        @include common-button;
        margin-top:  calc(var(--change-password-btn-margin-top, 121px) * 0.7);
        width: 100%;
      }

      .change_block {

        >form {
          .form_row
          {
            .form_field
            {
              position: relative;
            }
          }
          .forgot-error_message {
            top: calc(var(--forgot-password-error-top, 0) * 0.7);
            font-size: calc(var(--font-size-2, 14px) * 0.7);
          }
        }

        label {
          top: calc(var(--forgot-password-label-top,10px) * 0.7) !important;
          left: calc(var(--forgot-password-label-left, 10px) * 0.7);
          padding: 0 8px;
          font-size: calc(var(--forgot-password-label-font-size, 16px) * 0.7);
        }

        .recovery_input {
          border-radius: 6px;
          height: calc(var(--recovery-input-height, 44px) * 0.7);
        }

        .recovery-btn {
          font-size: calc(var(--recovery-btn-font-size, 18px) * 0.7);
          margin-top: calc(var(--recovery-btn-margin-top, 24px) * 0.7);
          height: 30.8px;
          line-height: 30.8px;
        }

      }

      .help_block {

        p {
          font-size: calc(var(--font-size-2, 14px) * 0.7);
          margin-bottom: calc(var(--forgot-password-help-text-margin-bottom, 8px) * 0.7);
        }
        .support {
          font-size: calc(var(--font-size-3, 16px) * 0.7);
        }
      }
      .reg-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .registration_complete {
      margin-top: calc(var(--recovery-success-message-margin-top, 35px) * 0.7);
      margin-bottom: calc(var(--recovery-success-message-margin-bottom, 135px) * 0.7);

      i {
        font-size: 110.6px;
      }

      h1 {
        font-size: calc(var(--font-size-2, 14px) * 0.7);
      }
    }

  }
}

@media screen and (min-width: 1377px) and (max-width: 1610px)
{
  .forgot-password-section {
    padding-top: calc(var(--forgot-password-section-padding-top, 125px) * 0.9);
    padding-bottom: calc(var(--forgot-password-section-padding-bottom, 125px) * 0.9);

    &_content {
      width: calc(var(--forgot-password-section-width, 504px) * 0.9);
      padding-top:  calc(var(--forgot-password-content-padding-top, 24px) * 0.9);
      padding-bottom:  calc(var(--forgot-password-content-padding-bottom, 24px) * 0.9);
      padding-right:  calc(var(--forgot-password-content-padding-right, 32px) * 0.9);
      padding-left:  calc(var(--forgot-password-content-padding-left, 32px) * 0.9);
      max-height: calc(var(--forgot-password-section-max-height, auto) * 0.9);
      min-height: calc(var(--forgot-password-section-min-height, 350px) * 0.9);

      h2 {
        font-size: calc(var(--recovery-logo-font-size, 20px) * 0.9);
      }
      .recovery-logo {
        margin-top: calc(var(--recovery-logo-margin-top, 37px) * 0.9);
        margin-bottom: calc(var(--recovery-logo-margin-bottom, 44px) * 0.9);
        height:calc(var(--recovery-logo-height, 44px) * 0.9);
        width: calc(var(--recovery-logo-width, auto) * 0.9);
      }
    }

    .forgot-password-section_block {

      .form_row{
        margin-bottom: calc(var(--forgot-password-section-text-margin-bottom, 10px) * 0.9);
        &.number-info {
          margin-bottom: calc(var(--forgot-password-number-info-margin-bottom, 116px) * 0.9);
          font-size: calc(var(--font-size-2, 14px) * 0.9);
        }
        //&_recovery {
          //.password-eye-show {
          //  position: absolute;
          //  right: 14px;
          //  top: 33px;
          //}
        //}
      }

      .change-password_btn {
        @include common-button;
        margin-top:  calc(var(--change-password-btn-margin-top, 121px) * 0.9);
        width: 100%;
      }

      .change_block {

        >form {
          .form_row
          {
            .form_field
            {
              input{font-size: 12.6px;}
            }
          }
          .forgot-error_message {
            top: calc(var(--forgot-password-error-top, 0) * 0.9);
            font-size: calc(var(--font-size-2, 14px) * 0.9);
          }
        }

        label {
          top: calc(var(--forgot-password-label-top,10px) * 0.9) !important;
          left: calc(var(--forgot-password-label-left, 10px) * 0.9);
          padding: 0 8px;
          //font-size: 10px;
        }

        .recovery_input {
          border-radius: 6px;
          height: calc(var(--recovery-input-height, 44px) * 0.9);
        }

        .recovery-btn {
          font-size: calc(var(--recovery-btn-font-size, 18px) * 0.9);
          margin-top: calc(var(--recovery-btn-margin-top, 24px) * 0.9);
          height: 39.6px;
          line-height: 39.6px;
        }

      }

      .help_block {

        p {
          font-size: calc(var(--font-size-2, 14px) * 0.9);
          margin-bottom: calc(var(--forgot-password-help-text-margin-bottom, 8px) * 0.9);
        }
        .support {
          font-size: calc(var(--font-size-3, 16px) * 0.9);
        }
      }
    }

    .registration_complete {
      margin-top: calc(var(--recovery-success-message-margin-top, 35px) * 0.9);
      margin-bottom: calc(var(--recovery-success-message-margin-bottom, 135px) * 0.9);

      i {
        font-size: 110.6px;
      }

      h1 {
        font-size: calc(var(--font-size-2, 14px) * 0.9);
      }
    }

  }
}

@media (max-width: 950px) {
  .forgot-password-section_content {
    width: var(--m-forgot-password-content-width, 90%);
    margin: var(--m-forgot-password-content-margin, 20px auto 0 auto);
    min-height: var(--m-forgot-password-content-min-height, 100%);
    .forgot-password-first-title {
      display: var(--m-change-passeword-title-display, block);
    }
  }
  .reg-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}