.mobile-forgot-password-section {
  .forgot-password-section_block {
    padding: var(--m-forgot-password-section-padding, 0);
  }
  .change_block {

    >form {
      display: flow-root;
      .recovery_token {
        display: var(--m-change-password-recovery-token-display, block);
      }
      .change-password_btn {
        @include common-button;
        margin-top:  calc(var(--change-password-btn-margin-top, 121px) * 0.7);
        width: 100%;
        font-weight: var(--m-change-password-btn-font-weight, 700);
      }
      .forgot-error_message {
        float: left;
        top: itemTop(forgot-password-error, 0);
        font-size: $font-size-2;
      }
    }

    label {
      color: color(forgot-password-label);
      position: position(forgot-password-label, absolute);
      top: itemTop(forgot-password-label,13px) !important;
      left: itemLeft(forgot-password-label, 0);
      font-size: fontSize(forgot-password-label, 16px);
      font-weight: fontWeight(forgot-password-label, 500);
      transition: transform 200ms, color 200ms;
      transform-origin: 0 50%;
      pointer-events: none;
      z-index: 1;
      padding: var(--forgot-password-label-padding, 0 8px);
      background-color: backgroundColor(forgot-password-label-f, none);
      &.label-on-error {
        color: itemColor(recovery-input-invalid, red);
      }
    }
    .recovery_input:focus ~ .cut,
    .recovery_input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
      display: block;
    }
    .recovery_input:focus ~ .cut {
      display: block;
    }
    .recovery_input:focus::placeholder {
      opacity: var(--forgot-password-form-field-label-show-focus-opacity, 1);
    }
    .recovery_input::placeholder {
      opacity: var(--forgot-password-form-field-label-show-opacity, 0);
    }
    .recovery_input:focus ~ label {
      width: width(forgot-password-form-field-label, inherit);
      height: height(forgot-password-input-label-focused, 11px);
      background: var(--forgot-password-background-color, #FFFFFF);
      color: var(--forgot-password-field-focus-label, #fff);
      top: itemTop(forgot-password-input-label, 10px);
      font-size: var(--forgot-password-background-color-font-size, 16px);
    }
    .recovery_input:focus ~ label,
    .recovery_input:not(:placeholder-shown) ~ label {
      transform: var(--forgot-password-input-label-transform, translateY(-25px) translateX(10px) scale(0.75));
      background-color: var(--forgot-password-background-color, #1d2e4a);
      height: height(signin-label-focused, 20px);
      font-size: var(--register-background-color-font-size-label, 20px);
      color: var(--login-field-focus-label-focused, #fff);
      left: var(--login-field-focus-label-focused-left, -12px);
      width: var(--login-field-focus-label-focused-width, auto);
    }

    .recovery_input {
      border-radius: var(--recovery-input-border-radius, 6px);
      color: itemColor(recovery-input, #fff);
      height: var(--recovery-input-height, 44px);
      border: var(--recovery-input-border , 1px solid #dbedff);
      text-indent: var(--recovery-input-text-indent, 16px);
      &.invalid-field {
        border-color:  itemColor(recovery-input-invalid, red);
      }
      &::placeholder {
        color: var(--recovery-input-placeholder-color, #dbedff);
        //opacity: 0.3;
      }
    }
    .recovery-go-back-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: marginTop(recovery-go-back-btn, 10px);
      color: itemColor(recovery-go-back-btn, #1376f8);
      font-weight: fontWeight(recovery-go-back-btn, normal);
      font-size: fontSize(recovery-go-back-btn, 18px);
      text-decoration: underline;

    }
    .hide-forgot-btn {
      display: none;
    }
    .reg-buttons {
      display: var(--m-recovery-reg-buttons-display, flex);
      justify-content: space-between;
      align-items: center;
      span {
        text-decoration: underline;
        color: itemColor(recovery-go-back-btn, #1376f8);
        margin-top: 30px;
        cursor: pointer;
      }
    }

    .recovery-btn {
      color: color(forgot-password-button-text);
      font-weight: fontWeight(forgot-password-button-text, normal);
      border-radius: var(--forgot-password-button-text, 6px);
      font-size: fontSize(recovery-btn, 18px);
      background-image: backgroundImage(recovery-btn, linear-gradient(to bottom, #1376f8, #194074));
      width: 100%;
      margin-top: marginTop(recovery-btn, 24px);
      height: calc(var(--forgot-password-button-text-height, 44px) - 10px);
    }
    .registration_complete {
      text-align: textAlign(recovery-success-message, center);
      color: itemColor(recovery-success-message, #0acc4c);
      margin-top: marginTop(recovery-success-message, 35px);
      margin-bottom: marginBottom(recovery-success-message, 135px);
      margin-right: marginRight(recovery-success-message, 0px);
      display: display(recovery-success-message, block);
      align-items: center;
      background: backgroundColor(recovery-success-message, none);
      box-shadow: var(--recovery-success-message-box-shadow, none);
      padding: var(--m-recovery-success-message-padding, 0);

      .ng-fa-icon {
        font-size: fontSize(recovery-success-message-icon, 15px);
        color: var(--recovery-success-message-color, #0acc4c);
      }

      h1 {
        font-size: var(--m-recovery-success-message-text-font-size, 23px);
        font-weight: var(--m-recovery-success-message-text-font-weight, 400);
        margin-left: var(--m-recovery-success-message-text-margin-left, 0px);
        word-break: var(--m-recovery-success-message-text-word-break, break-word);
      }
    }
  }
}
.password-recovery-section {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  color: color(header-menu-item-text);
  background-color: backgroundColor(recovery-section, transparent);

  label, h2 {
    color: color(page-form-title);
  }

  &_form {
    width: 612px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    .form_row{margin: 10px 0}

    form {
      width: 60%;
      margin: 20px auto;
      input{color: color(page-form-field-text);}

      label, h2 {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        width: 100%;
      }
    }
  }
  .registration_complete {
    text-align: center;
    color: $recovery-success-message;
    margin-top: 40px;

    i {
      font-size: 158px;
      color: $recovery-success-check;
    }

    h1 {
      font-size: 23px;
      font-weight: 400;
    }
  }
  &.mobile-device
  {
    label, h2{color:itemColor(m-page-form-title, #FFFFFF)};
    form {
      input{
        color: itemColor(m-page-form-field-text, #fff);
        text-indent: var(--m-page-form-field-text-indent, 16px);
      }
    }
  }
}

@media (max-width: 1200px)
{
  .password-recovery-section
  {
    &_form{width: 100%}
  }
}

.text-align-center {
  text-align: var(--forgot-password-error-validation-text-align, center);
  margin: var(--forgot-password-error-validation-margin, 0 auto);
  top: var(--forgot-password-error-validation-top, 8px);
  white-space: var(--forgot-password-error-validation-white-space, nowrap);
}
.success_message {
  position: relative;
}