.live-casino-section {
  background: color(product-background);
  .live-casino-flex_center {
    display: var(--grouped-products-content-display, flex);
    grid-template-columns: var(--grouped-products-content-grid-template-columns, none);
    align-items: var(--grouped-products-content-align-items, center);
    justify-content: var(--grouped-products-content-justify-content, center);
    gap: var(--grouped-products-content-gap, 0px);
  }
  .grouped-products-content {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    /*overflow-x: auto;
    overflow-y: hidden;*/
    &.no-justify{justify-content: var(--grouped-products-content-justify-content, normal)}

    &_item {
      margin: 0 28px;
      cursor: pointer;
      background-repeat: no-repeat;
      img
      {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
      }
      position: relative;
      transition: all 0.3s;
      .game-img-wrapper
      {
        transition: all .3s;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        background: rgba(39,51,70,.5);
      }
      &:hover
      {
        transform-origin: center center;
        transform: scale(1.05);
        .game-img-wrapper{opacity: 1; bottom: 4px}
        .game-btn{display: inline-block}
      }
      .game-btn
      {
       @include center-absolute;
        height: 32px;
        line-height: 32px;
        padding: 0 19px;
        border-radius: 16px;
        color: color(play-real-button-text);
        background: color(play-real-button-background);
        display: none;
      }
    }

  }
}
