<div class="modal-content user-info-content {{data.title}}" [ngClass]="{'leftTORight': !rightToLeftOrientation, 'rightToLeft': rightToLeftOrientation}">
  <!--<div class="modal-body ticket-info-header">

    <fa-icon [icon]="faTimes" (click)="close()"></fa-icon>
  </div>-->
  <div class="modal_content user_info_modal_content">
    <ng-container *ngIf="isLoaded">
      <ng-container *ngIf="userInfoList['Url']; else historyInfoRef">
        <iframe [src]="userInfoList['Url'] | sanitizer:'resourceUrl'"></iframe>
      </ng-container>
      <ng-template #historyInfoRef>
        <div class="user-history-content">
          <div class="content-details">
            <p>{{'User.Ticket_details' | translate}}</p>
            <div>{{'User.Transaction_Id' | translate}}:  <span>{{userInfoList['TransactionId']}}</span></div>
            <div>{{'User.Amount' | translate}}: <span>{{userInfoList['BetAmount'] | number: '1.2-2'}} {{CurrencySymbol}}</span></div>
            <div *ngIf="showBonus">{{'User.BonusAmount' | translate}}: <span>{{userInfoList['BonusAmount']}}</span></div>
            <div *ngIf="userInfoList['Status'] === 1">{{'User.Poss-Win' | translate}}: <span>{{userInfoList['PossibleWin'] | number: '1.2-2'}}</span></div>
            <div *ngIf="userInfoList['Status'] !== 1">{{'User.Win-Amount' | translate}}: <span>{{userInfoList['WinAmount'] | number: '1.2-2'}} {{CurrencySymbol}}</span></div>
            <div *ngIf="userInfoList['Coefficient'] !== 0">{{'User.Coefficient' | translate}}: <span>{{userInfoList['Coefficient']}}</span></div>
            <div>{{'User.Bet_Date' | translate}}: <span>{{userInfoList['BetDate'] | date: 'dd/MM/yyyy HH:mm'}}</span></div>
            <div>{{'User.Bet-status' | translate}}: <span class="status-name status-{{userInfoList['StatusName']}}">{{userInfoList['StatusName']}}</span></div>
            <div *ngIf="userInfoList['BetSelections'] !== null || userInfoList['BetSelections'].length !== 0">{{'User.Bet_selections' | translate}}: <span>{{userInfoList['BetSelections'].length}}</span></div>

          </div>

          <div class="bet-content">
            <div class="bet-selections" *ngIf="userInfoList['BetSelections'] !== null || userInfoList['BetSelections'].length !== 0">
                <div class="bet-selections_header">
                <div class="content-row">
                  <div class="short-column"><span class="column-text">{{'User.Round_Id' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'User.Unit_Name' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'User.Market_Name' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'User.Selection_Name' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'User.Coefficient' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'User.Result' | translate}}</span></div>
                  <div class="short-column"><span class="column-text">{{'Status' | translate}}</span></div>
                  <div class="short-column" *ngIf="userInfoList['Status'] !== 1"><span class="column-text">{{'User.Event_Date' | translate}}</span></div>
                    <div class="short-column" *ngIf="userInfoList['Status'] === 1"><span class="column-text">{{'User.Score' | translate}}</span></div>
                </div>

                </div>
                <div class="bet-selections_content">
                <div class="content-row"  *ngFor="let item of userInfoList['BetSelections']" [ngClass]="{'won': item.Status == 2, 'lost': item.Status == 3}">
                  <div class="short-column">{{item?.RoundId}}</div>
                  <div class="short-column">
                    <span class="column-text">{{item?.UnitName}}</span>
                      <span class="tooltip">{{item?.UnitName}}</span>
                  </div>
                  <div class="short-column"><span class="column-text">{{item?.MarketName}}</span></div>
                  <div class="short-column">
                    <span class="column-text">{{item?.SelectionName}}</span>
                    <span class="tooltip">{{item?.SelectionName}}</span>
                  </div>
                  <div class="short-column"><span class="column-text">{{item?.Coefficient}}</span></div>
                  <div class="short-column"><span class="column-text" *ngIf="item?.State != null">{{item?.State}}</span><span *ngIf="item?.State == null" class="empty-result">-</span></div>
                  <div class="short-column"><span class="column-text">{{item?.StatusName}}</span></div>
                  <div class="short-column" *ngIf="userInfoList['Status'] !== 1"><span class="column-text">{{item?.EventDate | date: 'dd/MM/yyyy HH:mm'}}</span></div>
                    <div class="short-column" *ngIf="userInfoList['Status'] === 1"><span class="column-text">{{item?.MatchState}}</span></div>
                </div>
                </div>

            </div>
          </div>

        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
