.change-password-field-type2 {
  position: var(--change-password-page-field-type-position, absolute);
  right: var(--change-password-page-field-type-item-right, 12px);
  color: var(--change-password-field-type-page-top-color, #fff)
}

.change-password_page {
  padding: 0 18px;

  button {
    width: var(--change-password-btn-width, 100%);
    margin: 0 auto;
    background: var(--change-password-btn-background, #F6A201);
    color: var(--change-password-btn-color, #000);
    font-size: 18px;
    font-weight: var(--change-password-btn-font-weight, 600);
    height: var(--change-password-btn-height, 35px);
    line-height: 35px;
    cursor: pointer;
    border-radius: var(--change-password-btn-border-radius, 7px);
  }

  input {
    margin: 0px
  }
}

.change-password_form {
  padding: 0 18px;
  .change-password-inputs {
    .form_row {
      .form_field {
        input {
          border: none;
          background: #f2f2f2;
        }
        label {
          display: block;
          text-align: left;
        }
      }
    }
  }
}

.change {
  padding: 0px 0 16px 0;
}
