.qr-payment-box
{
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  input
  {
    background: transparent;
    padding: 16px;
    border:1px solid #3e4450;
    color: rgba(222,228,236,.7);
    max-width: calc(100vw - 90px);
  }
  button
  {
    background: #ff172d;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
  }
  .address-box
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    >div
    {
      &:first-of-type
      {
        font-weight: 700;
      }
      &:nth-of-type(2)
      {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
ol
{
  li
  {
    padding: 8px 0;
  }
}
.qr-payment-desc
{
  padding: 10px 10px 10px 43px;
}