<div class="deposit_payment_section deposit-cash">

  <div class="deposit_payment_section__form">
    <div class="deposit_payment_section__form_top">
      <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit(paymentForm)">
        <div class="scrallablePart">
          <div class="payment-form-field">
            <div class="payment-form-field__column">
              <div class="custom_dropdown_reg" dropdown>
                  <div class="flex_between current_item">
                      <div>{{paymentForm.get('BankName')?.value}}</div>
                  </div>
                  <ul class="custom_dropdown_list right-top">
                      <li *ngFor="let bank of banks" (click)="selectBank(bank.key)">
                          {{bank?.key}}
                      </li>
                      <li class="custom-add-list" (click)="navigateToAddBank()">
                          <span class="icon-plus" aria-hidden="true"></span>
                          <span>{{'User.Add_New_Account' | translate}}</span>
                      </li>
                  </ul>
              </div>
              <label class="payment-form-field__label custom-label">{{'Withdraw.BankName' | translate}}</label>
            </div>
          </div>

          <div class="payment-form-field">
            <div class="payment-form-field__column">
              <select  [disabled]="!selectedBank" formControlName="BankAccountNumber" class="payment-select">
                <option *ngFor="let account of accounts"
                        [value]="account.BankAccountNumber">{{account.BankAccountNumber}}</option>
              </select>
              <label class="payment-form-field__label">{{'Withdraw.AccountNumber' | translate}}</label>
            </div>
          </div>

          <div class="payment-form-field">
            <div class="payment-form-field__column">
              <input type="text" class="payment-input" placeholder="{{'Withdraw.NameSurname-placeholder' | translate}}"
                     disabled ngModel="{{NameSurname}}" [ngModelOptions]="{standalone:true}"
              />
              <label class="payment-form-field__label">{{'Withdraw.NameSurname' | translate}}</label>
            </div>
          </div>
        </div>

        <div class="payment-form-field"
             [ngClass]="{'nominals-fields-3': ((nominals !== null) && (nominals && nominals.length <= 9)), 'nominals-fields-4': ((nominals !== null) && (nominals && nominals.length > 9))}">
          <div class="payment-form-field__column">
            <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input"
                   [(ngModel)] = "amount" placeholder="{{'Withdraw.Amount-placeholder' | translate}}"
                   formControlName="Amount" numbersOnly/>
            <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}} ({{currencyId}})</label>
            <div class="error_message" *ngIf="hasMinMaxError">
              <span class="text" *ngIf = "amount < maxMinAmount?.MinAmount">{{'Deposit.AmountLessThen' | translate : { amount: maxMinAmount?.MinAmount, currency: currencyId} }}</span>
              <span class="text" *ngIf = "this.amount > this.maxMinAmount?.MaxAmount">{{'Deposit.AmountMoreThen' | translate : { amount: maxMinAmount?.MaxAmount, currency: currencyId} }}</span>
            </div>
            <ng-template #nominalsRef>
              <app-common-payment-nominals [nominals]="nominals"
                                           (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
            </ng-template>
          </div>
        </div>


        <div class="payment-form-field">
          <div class="payment-form-field__column_btn">
            <button type="submit" [disabled]="submitted || paymentForm.invalid || this.hasMinMaxError" class="default_btn default_btn_red payment-btn">
              <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
            </button>

          <!--  <loader></loader>-->

            <div class="error_message longTag">
              {{errorMessage}}
            </div>
            <div class="success_message" *ngIf="successMessage">
              {{'Withdraw.' + successMessage | translate}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>




