<div class="payments-section history-section">
    <!--  <h2 class="payments-section_title">-->
    <!--    {{'User.Payments' | translate}}-->
    <!--  </h2>-->


    <div class="history-tools-panel">
        <form [formGroup]="form" (ngSubmit)="submit(1)">
            <div class="history-tools">
                <label>{{'User.Period-of-time' | translate}}</label>
                <select formControlName="timeFilter">
                    <option *ngFor="let item of historyTimeFilter, let i = index" [ngValue]="item">{{item.Name | translate}}</option>
                </select>
            </div>

            <div class="history-tools custom-tool" *ngIf="customFilterShow">
                <label>{{'User.From' | translate}}</label>
                <input type="datetime-local" formControlName="changedate">
            </div>

            <div class="history-tools custom-tool" *ngIf="customFilterShow">
                <label>{{'User.To' | translate}}</label>
                <input type="datetime-local" formControlName="changetTodate">
            </div>

            <div class="history-tools">
                <label>{{'User.Status' | translate}}</label>
                <select formControlName="status">
                    <option *ngFor="let statusFilter of paymentsFilter"
                            [ngValue]="statusFilter">{{statusFilter.Name | translate}}</option>
                </select>
            </div>

            <div class="history-tools">
                <label>{{'User.PaymentType' | translate}}</label>
                <select formControlName="type">
                    <option *ngFor="let typeFilter of getPaymentsService.paymentTypesList"
                            [ngValue]="typeFilter.Value">{{typeFilter?.Name}}</option>
                </select>

            </div>

            <div class="history-tools">
                <label></label>
                <button class="craft_btn show-btn">{{'User.Show' | translate}}</button>
            </div>


        </form>
    </div>


    <!--  <table>-->
    <!--    <tbody>-->
    <!--    <tr>-->
    <!--      <th>{{'User.Id' | translate}}</th>-->
    <!--      <th>{{'User.Type' | translate}}</th>-->
    <!--      <th>{{'User.Status' | translate}}</th>-->
    <!--      <th>{{'User.BetShop' | translate}}</th>-->
    <!--      <th>{{'User.Amount' | translate}}</th>-->
    <!--      <th>{{'User.Date' | translate}}</th>-->
    <!--      <th>{{'User.Action' | translate}}</th>-->
    <!--    </tr>-->
    <!--    <tr-->
    <!--      *ngFor="let item of getPaymentsService.paymentHistoryItemsList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: getPaymentsService.paymentHistoryItemsCount }, let i = index" class="Payments-{{item?.StatusName}}">-->
    <!--      <td>{{item?.Id}}</td>-->
    <!--      <td>{{item?.StatusTypeName}}</td>-->
    <!--      <td>{{item?.StatusName}}</td>-->
    <!--      <td>{{item?.BetShopId}}</td>-->
    <!--      <td>{{item?.Amount}}</td>-->
    <!--      <td>{{item?.CreationTime | date: 'dd/MM/yyyy h:mm'}}</td>-->
    <!--      <td>-->
    <!--        <button class="default_btn default_btn_red history_btn" type="submit" (click)="canselPayment(item.Id)"-->
    <!--                *ngIf="(item.Status == 1 || item.Status == 7) && item.Type == 1">-->
    <!--          {{'User.Cancel' | translate}}-->
    <!--        </button>-->
    <!--        <fa-icon [icon]="['fas', 'info-circle']" class="payment-info-icon" (click)="openInfoBlock(item.Comment)" *ngIf="(item.Status == 6) && item.Type == 1" title="{{'User.PaymentInfo' | translate}}"></fa-icon>-->
    <!--      </td>-->
    <!--    </tr>-->
    <!--    </tbody>-->
    <!--  </table>-->

    <div class="payments-block-head block-head">
        <div>{{'User.Id' | translate}}</div>
        <div>{{'User.Date' | translate}}</div>
        <div>{{'User.Type' | translate}}</div>
        <div>{{'User.Amount' | translate}}</div>
        <div>{{'User.PaymentSystem' | translate}}</div>
        <div>{{'User.Status' | translate}}</div>
        <div>{{'User.Action' | translate}}</div>
    </div>
    <ng-container *ngIf="getPaymentsService.paymentHistoryItemsList.length > 0; else emptyPayments">
        <section>
            <div class="bets-content" *ngFor="let item of getPaymentsService.paymentHistoryItemsList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: getPaymentsService.paymentHistoryItemsCount }, let i = index">
                <div class="payments-block block">
                    <!--      class="Payments-{{item?.StatusName}}"-->
                    <div class="payments-block_item block_item">{{item?.Id}}</div>
                    <div class="payments-block_item block_item">{{item?.CreationTime | date: 'dd/MM/yyyy HH:mm'}}</div>
                    <div class="payments-block_item block_item">{{'User.' + item?.StatusTypeName | translate}}</div>
    <!--                <div class="payments-block_item block_item ">{{ CurrencyId }} {{item?.Amount | number:'1.2-2'}}</div>-->
                    <div class="payments-block_item block_item displayed">
                        <p>{{ CurrencyId }}</p>
                        <p>{{item?.Amount | number:'1.2-2'}}</p>
                    </div>
                    <div class="payments-block_item block_item item-transl">{{item?.PaymentSystemName}}</div>
                    <div class="payments-block_item block_item">{{item?.StatusName}}</div>
                    <div class="payments-block_item block_item">
                        <button class="info-btn" type="submit" (click)="canselPayment(item.Id)"
                                *ngIf="(item.Status == 1 && item.Type == 1) || (item.Status == 7 && item.Type == 1 && allowCancelConfirmedWithdraw)">
                            {{'User.Cancel' | translate}}
                        </button>
                        <!--        <fa-icon [icon]="['fas', 'info-circle']" class="payment-info-icon" (click)="openInfoBlock(item.Comment)" *ngIf="(item.Status == 6) && item.Type == 1" title="{{'User.PaymentInfo' | translate}}"></fa-icon>-->
                        <button type="button" class="info-btn" (click)="openInfoBlock(item.Comment)" *ngIf="item.Comment !== null"
                                title="{{'User.PaymentInfo' | translate}}">{{'User.Info' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pagination_section" *ngIf="getPaymentsService.paymentHistoryItemsList.length > 0">
                <!--        <div class="">{{getPaymentsService.paymentHistoryItemsList.length}}-->
                <!--          of {{getPaymentsService.paymentHistoryItemsCount}}</div>-->
                <pagination-controls
                        autoHide="true"
                        (pageChange)="getPaymentData($event)"></pagination-controls>
            </div>
        </section>
    </ng-container>
    <ng-template #emptyPayments>
        <section class="empty-payments empty-block">
            <span class="icon-transaction icon"></span>
            <span class="empty-block-text">{{'User.Payments-empty' | translate}}</span>
        </section>
    </ng-template>


    <div class="error_message">{{errorMessage}}</div>


</div>
