<div class="payment-section">
<!--    <h2 class="account_title">-->
<!--        {{'User.Deposit' | translate}}-->
<!--    </h2>-->

    <div class="payment-section_content">
        <div  class="payment-section_content_block flex_around">
            <div class="content_row default-scroll payment-list-column">

                <div class="payment_header">{{'User.Select_payment' | translate}}</div>
                <div class="underline"></div>
                <ul class="payment_list">
                    <li class="payment_list_item" *ngFor="let item of paymentSystemList; let i = index"
                        (click)="selectPayment(item, false)"
                        [ngClass]="{'selected': item?.PaymentSystemId == currentPayment?.PaymentSystemId}">
                        <div class="payment_list_item_img" [ngStyle]="{'background-image': 'url(' + item.IconSrc + ')'}"></div>
                        <div class="payment_list_item__info">
                            <div class="info_text" style="-webkit-box-orient: vertical"
                                 [innerHTML]="'Deposit.' + 'PAYMENT_MESSAGE' + item?.PaymentSystemId | translate | sanitizer: 'html'"></div>

                            <div class="balance_info">
                                <div>{{"Payments.Minimum" | translate}} - {{item?.MinAmount | number}} ({{ CurrencyId}})
                                </div>
                                <div>{{"Payments.Maximum" | translate}} - {{item?.MaxAmount | number}} ({{ CurrencyId}})
                                </div>
                            </div>
                            <div class="balance_info" *ngIf="item?.CommissionPercent !== 0"
                                 [ngClass]="{'balance_info_commission' : item?.CommissionPercent !== 0}">
                                <div>{{"Payments.CommissionPercent" | translate}} - {{item?.CommissionPercent | number}} %</div>
                            </div>
                            <div class="balance_info" *ngIf="item?.FixedFee !== 0"
                                 [ngClass]="{'balance_info_commission' : item?.FixedFee !== 0, 'balance_info_fixed': item?.CommissionPercent !== 0 && item?.FixedFee !== 0}">
                                <div>{{"Payments.CommissionFixedFee" | translate}} - {{item?.FixedFee | number}} ({{CurrencyId}})</div>
                            </div>
                            <div class="balance_info balance_info_commission" *ngIf="item?.CommissionPercent === 0 && item?.FixedFee === 0">
                                <div>{{"Payments.Commission" | translate}} - {{ 0 | number}}</div>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>

            <div class="content_row right-part">
                <div class="payment_header ">{{'User.Enter_payment' | translate}}</div>
                <div class="underline"></div>
                <div class="info_text"
                     [innerHTML]="'Deposit.Info-text' | translate | sanitizer: 'html'"></div>

                <app-common-bonuses *ngIf="this.bonusData.length"
                                    [bonusesList]="this.bonusData"></app-common-bonuses>
                <label class="bonus-refused" (change)="bonusCheckboxChanged()" *ngIf="this.bonusData.length">
                    <input type="checkbox" [(ngModel)]="paymentControllerService.bonusRefused" (click)="preventUncheck()">
                    {{'User.BonusRefused' | translate}}
                </label>

                <div class="content_row form-column">
                    <template #loadComponent></template>
                </div>

            </div>

        </div>

    </div>
</div>
<!--
<loader></loader>-->
