<div class="modal-content {{data.title}}">
  <div class="modal-body">
    <div class="{{data.title}}_body">
      {{'User.' + data.title | translate}}
      <div class="showUserName">{{data.loginData['UserName']}}</div>
    </div>
    <div class="extra-title">
      {{'Info.LoginInfoHeader' | translate}}
    </div>


    <div class="modal_content">
      <ul class="{{data.title}}_list">
        <li class="item_list" *ngIf="data.loginData['LastLogin'] !== null">
          <div class="title">{{'User.LastLogin' | translate}}</div>
          <div class="value">{{data.loginData['LastLogin'] | date: 'dd/MM/yyyy HH:mm'}}</div>
        </li>

        <li class="item_list" *ngIf="data.loginData['LastLoginIp'] !== null">
          <div class="title">{{'User.LastLoginIp' | translate}}</div>
          <div class="value">{{data.loginData['LastLoginIp']}}</div>
        </li>

        <li class="item_list" *ngIf="data.loginData['LastLogout'] !== null">
          <div class="title">{{'User.LastLogout' | translate}}</div>
          <div class="value">{{data.loginData['LastLogout'] | date: 'dd/MM/yyyy HH:mm'}}</div>
        </li>

        <li class="item_list" *ngIf="data.loginData['SportWins'] !== undefined">
          <div class="title">{{'User.SportWins' | translate}}</div>
          <div class="value" *ngIf="data.loginData['SportWins'] !== null">{{data.loginData['CurrencySymbol']}} {{data.loginData['SportWins'] | number: '1.2-2'}}</div>
          <div class="value" *ngIf="data.loginData['SportWins'] === null">{{data.loginData['CurrencySymbol']}} {{ 0 | number: '1.2-2'}}</div>
        </li>

        <li class="item_list" *ngIf="data.loginData['SportBets'] !== undefined">
          <div class="title">{{'User.SportBets' | translate}}</div>
          <div class="value" *ngIf="data.loginData['SportBets'] !== null">{{data.loginData['CurrencySymbol']}} {{data.loginData['SportBets'] | number: '1.2-2'}}</div>
          <div class="value" *ngIf="data.loginData['SportBets'] === null">{{data.loginData['CurrencySymbol']}} {{ 0 | number: '1.2-2'}}</div>
        </li>

        <li class="item_list" *ngIf="data.loginData['SportProfit'] !== undefined">
          <div class="title">{{'User.SportProfit' | translate}}</div>
          <div class="value" *ngIf="data.loginData['SportProfit'] !== null">{{data.loginData['CurrencySymbol']}} {{data.loginData['SportProfit'] | number: '1.2-2'}}</div>
          <div class="value" *ngIf="data.loginData['SportProfit'] === null">{{data.loginData['CurrencySymbol']}} {{ 0 | number: '1.2-2'}}</div>
        </li>

      </ul>
    </div>

    <div class="modal_footer">
      <div class="extra-footer">{{'Info.LoginInfoFooter' | translate}}</div>
      <button type="submit" (click)="confirm()" class="{{data.title}}_btn">{{'Info.Yes' | translate}}</button>
    </div>
  </div>
</div>
