<div class="mobile-tickets-section" [ngStyle]="layoutService.layoutStyle">
  <h2 class="mobile-tickets-section_title">{{'Ticket.Tickets' | translate}}</h2>

  <div class="add-tickets">
    <button type="button" class="craft_btn" (click)="openNewTicket()">{{'Ticket.New Ticket' | translate}}</button>
  </div>

  <div class="tickets_history" #ticketMessagesSection>
    <div class="tickets_history_item"
         *ngFor="let ticket of ticketsList | paginate: { itemsPerPage: 4, currentPage: page }, let i = index">
      <div class="tickets_history_item_topPanel">
        <div>
          {{ticket?.Id}}
        </div>
        <div>
          {{ticket?.CreationTime | date: 'short' }}
        </div>
      </div>
      <div class="tickets_history_item_middlePanel">
        <div
          class="info-item">{{ticket?.Status == 1 ? ('Settings.Active' | translate) : ('Settings.Closed' | translate)}}</div>
        <div class="info-item">{{ticket?.Subject}}</div>
      </div>

      <div class="open-message-block" #ticketMessagesBox *ngIf="i === expandedIndex">
        <div class="all-message" *ngFor="let item of messageList"
             [ngClass]="{'my-message':item.Type == 1, 'your-message': item.Type != 1}">
          <span
            class="author_message">{{item.Type == 1 ? ('User.You' | translate) : ('User.Support' | translate)}}</span>
          <span>{{item?.Message}}</span>
          <span>{{item?.CreationTime | date : 'd MMMM y HH:mm'}}</span>
        </div>


        <div class="send-message messages-block_item" *ngIf="messagesFetched && ticket.Status == 1">
          <form [formGroup]="sendMessageForm" novalidate (ngSubmit)="submit(ticket)">
            <div class="send-message-part">
              <textarea type="text" formControlName="Message"></textarea>
              <button class="craft_btn">{{'User.Send' | translate}}</button>
            </div>
          </form>
        </div>
      </div>

      <div class="tickets_history_item_bottomPanel">
        <div class="action-items">
          <div class="tickets_table_innerColumn">
            <fa-icon [icon]="['fas', 'trash-alt']" class="activate-delete-item" (click)="deleteTicket(ticket)"></fa-icon>
          </div>
          <div class="tickets_table_innerColumn">
            <fa-icon [icon]="['fas', ticket.Status == 1 ? 'times' : 'ban']" (click)="closeTicket(ticket)" [ngClass]="{'disable_item': ticket.Status == 2}"></fa-icon>
          </div>
          <div class="tickets_table_innerColumn">
            <fa-icon [icon]="['fas', (i === expandedIndex) ? 'minus' : 'plus']" (click)="openMessage(ticket, i)"></fa-icon>
            <span *ngIf="ticket?.UnreadMessagesCount > 0"
                  class="user-info_item_unreadMessagesCount user-info_item_unreadMessagesCount_ticket">{{ticket?.UnreadMessagesCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="pagination_section">
    <pagination-controls
      autoHide="true"
      (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

