<div>
    @switch (fragmentConfig.Config.type)
    {
        @case ('filter')
        {
            @if (fragmentConfig.Config.lazyLoad === false)
            {
                <div [ngStyle]="fragmentConfig?.Config.style" class="filter-category-box filter">
                    @if (hasFilterBox)
                    {
                        <div class="filter-fragments">
                            @for (fragment of fragments?.Search?.Items; track fragment.Id)
                            {
                                <casino-search [fragmentConfig]="fragment"></casino-search>
                            }
                            @for (fragment of fragments?.Menus?.Items; track fragment.Id)
                            {
                                <casino-menu [fragmentConfig]="fragment"></casino-menu>
                            }
                            @for (fragment of fragments?.Providers?.Items; track fragment.Id)
                            {
                                <casino-providers [fragmentConfig]="fragment"></casino-providers>
                            }
                        </div>
                    }
                    <ul class="product_list">
                        @for (game of games; track game.productId; let i = $index)
                        {
                            <li class="product_list_item">
                                <casino-game [game]="game"
                                             [loadingType]="i > 30 ? 'lazy' : 'eager'"
                                             [fragmentConfig]="fragmentConfig"
                                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                                </casino-game>
                            </li>
                        }
                        @if(leftGamesCount)
                        {
                            <button class="more-button" (click)="markForSave = true; casinoFilterService.nextPage();">{{'Game.See More' | translate}} <span>({{leftGamesCount}})</span></button>
                        }
                    </ul>
                </div>
            }
            @else
            {
                <div infinite-scroll #infiniteScrollRef="infiniteScroll" (onLoadItems)="loadMoreItems()" [isLoading]="isLoading" [leftItemsCount]="leftGamesCount" [ngStyle]="fragmentConfig?.Config.style" class="filter-category-box filter">
                    @if(hasFilterBox)
                    {
                        <div class="filter-fragments">
                            @for (fragment of fragments?.Search?.Items; track fragment.Id)
                            {
                                <casino-search [fragmentConfig]="fragment"></casino-search>
                            }
                            @for (fragment of fragments?.Menus?.Items; track fragment.Id)
                            {
                                <casino-menu [fragmentConfig]="fragment"></casino-menu>
                            }
                            @for (fragment of fragments?.Providers?.Items; track fragment.Id)
                            {
                                <casino-providers [fragmentConfig]="fragment"></casino-providers>
                            }
                        </div>
                    }

                    <ul class="product_list">
                        @for (game of games; track game.productId; let i = $index)
                        {
                            <li class="product_list_item">
                                <casino-game [game]="game"
                                             [loadingType]="i > 30 ? 'lazy' : 'eager'"
                                             [fragmentConfig]="fragmentConfig"
                                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                                </casino-game>
                            </li>
                        }

                        @if (leftGamesCount && infiniteScrollRef.showTotals())
                        {
                            <div class="left-count">
                                {{leftGamesCountMessage()}}
                            </div>
                        }
                    </ul>
                </div>
            }
        }
        @case ('search')
        {
            @if (fragmentConfig.Config.lazyLoad === false)
            {
                <div [ngStyle]="fragmentConfig?.Config.style"
                     class="filter-category-box">
                    <div class="title-field">
                        <div></div>
                        <div class="back-section" (click)="backFromSearch()">
                            <i class="icon-back"></i>
                            <p>{{'Category.back'| translate}}</p>
                        </div>
                        @if(categoryName)
                        {
                            <div class="filter-title">{{'Category.' + categoryName | translate}}</div>
                        }
                    </div>
                    <ul class="product_list">
                        @for (game of games; track game.productId; let i = $index)
                        {
                            <li class="product_list_item">
                                <casino-game [game]="game"
                                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                                </casino-game>
                            </li>
                        }
                        @if(leftGamesCount)
                        {
                            <button class="more-button" (click)="markForSave = true; casinoFilterService.nextPage();">{{'Game.See More' | translate}} <span>({{leftGamesCount}})</span></button>
                        }
                    </ul>
                </div>
            }
            @else
            {
                <div infinite-scroll #infiniteScrollRef="infiniteScroll" (onLoadItems)="loadMoreItems()" [isLoading]="isLoading" [leftItemsCount]="leftGamesCount" [ngStyle]="fragmentConfig?.Config.style"
                     class="filter-category-box">
                    <div class="title-field">
                        <div></div>
                        <div class="back-section" (click)="backFromSearch()">
                            <i class="icon-back"></i>
                            <p>{{'Category.back'| translate}}</p>
                        </div>
                        @if (categoryName)
                        {
                            <div class="filter-title">{{'Category.' + categoryName | translate}}</div>
                        }
                    </div>
                    <ul class="product_list">
                        @for (game of games; track game.productId; let i = $index)
                        {
                            <li class="product_list_item">
                                <casino-game [game]="game"
                                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                                </casino-game>
                            </li>
                        }
                        @if (leftGamesCount && infiniteScrollRef.showTotals())
                        {
                            <div class="left-count">
                                {{leftGamesCountMessage()}}
                            </div>
                        }
                    </ul>
                </div>
            }
        }
        @case ('horizontal')
        {
            <div class="category"
                 [attr.label-position]="fragmentConfig?.Config?.label"
                 [attr.show-all-position]="fragmentConfig?.Config?.showAllLabel"
                 [ngStyle]="fragmentConfig?.Config.style">
                <header class="header" [innerHTML]="'Game.' + fragmentConfig.Title | translate | sanitizer : 'html'"></header>
                <main>
                    <div class="games" #slider="slider" horizontal-scroll>
                        @for (game of games; track game.productId)
                        {
                            <casino-game class="sliderSelector" [game]="game" [fragmentConfig]="fragmentConfig"
                                         (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                            </casino-game>
                        }
                    </div>
                </main>
                @if(fragmentConfig.Config.showAll)
                {
                    <div [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]" (click)="scrollToTop(471)" class="show-all">{{'Category.ShowAll' | translate}}</div>
                }
            </div>
        }
        @case ('horizontal-grid')
        {
            @switch (fragmentConfig?.Config?.showAllLabel)
            {
                @case ('top')
                {
                    <div class="horizontal-grid-container" [class]="fragmentConfig?.Config?.showAllLabel">
                        <div class="header-box" [style.margin]="fragmentConfig?.Config.style.margin">
                           <header class="header" [innerHTML]="'Game.' + fragmentConfig.Title | translate | sanitizer : 'html'"></header>
                           @if(fragmentConfig?.Config?.showAllLabel)
                           {
                               <div class="show-all-label">
                                   <span class="icon-arrow-to-left" (click)="hGridSlider.changeSlide(-1)"></span>
                                   <span class="show-all-label-text" [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]">{{'Category.ShowAll' | translate}}</span>
                                   <span class="icon-arrow-right" (click)="hGridSlider.changeSlide(1)"></span>
                               </div>
                           }
                        </div>
                        <div [ngStyle]="fragmentConfig?.Config.style"
                             class="filter-category-box category">
                            <div class="horizontal-grid" #hGridSlider="slider" horizontal-scroll>
                                @for(group of games | groupByRows : fragmentConfig?.Config; track $index)
                                {
                                    <ul class="product_list sliderSelector">
                                        @for (game of group; track game.productId)
                                        {
                                            <li class="product_list_item">
                                                <casino-game [game]="game"
                                                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                                                </casino-game>
                                            </li>
                                        }
                                        @if(fragmentConfig.Config.showAll)
                                        {
                                            <button (click)="scrollToTop()"  [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]" class="more-button" >{{'Category.ShowAll' | translate}}</button>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
        @case ('grid')
        {
            <div [ngStyle]="fragmentConfig?.Config.style"
                 class="filter-category-box category">
                <header class="header" [innerHTML]="'Game.' + fragmentConfig.Title | translate | sanitizer : 'html'">
                </header>
                <ul class="product_list">
                    @for (game of games; track game.productId; let i = $index)
                    {
                        <li class="product_list_item">
                            <casino-game [game]="game"
                                         (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                            </casino-game>
                        </li>
                    }
                    @if(fragmentConfig.Config.showAll)
                    {
                        <button (click)="scrollToTop()" *ngIf="fragmentConfig.Config.showAll" [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]" class="more-button" >{{'Category.ShowAll' | translate}}</button>
                    }
                </ul>
            </div>
        }
    }

</div>
<div class="scrollTop" (click)="scrollToTop()"><i class="icon-next-arrow"></i></div>

