<div class="tm-403-section">
  <div class="tm-403-section_top">
    <div class="tm-403-section_container">
      <div class="tm-403-section_content">
        <a href="/" class="error-logo" [ngStyle]="{'background-image':
        'url(../../../../../../../assets/images/' + ('Error403.403_error' | translate)}"></a>
      </div>
    </div>
  </div>
  <main class="tm-403-section_content_top">
    <div class="tm-403-section_content_text">
      <h1>{{'Error403.Forbidden' | translate}}</h1>
      <p>{{'Error403.Message1' | translate}}</p>
      <p>{{'Error403.Message2' | translate}}</p>
    </div>
  </main>
</div>
