<div class="withdraw_payment_section2 deposit-cash">

    <div class="withdraw_payment_section2__form">
        <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit()">
            <div class="scrallablePart">
                <app-common-accounts [templateType]="2"></app-common-accounts>
            </div>
            <div class="payment-form">
                <div class="payment-form-field">
                    <div class="payment-form-field__column all-amount">
                        <input type="text" class="payment-input" required
                               (click)="$event.stopPropagation()"
                               formControlName="CardNumber"/>
                        <span class="floating-label">{{'Withdraw.Amount' | translate}} *</span>
                        <span class="currency">{{currencyId}}</span>
                    </div>
                </div>

                <div class="payment-form-field">
                    <div class="payment-form-field__column">
                        <input type="text" class="payment-input"  (click)="$event.stopPropagation()"
                               required
                               formControlName="ExpirationDate"/>
                        <span class="floating-label">{{'Withdraw.ExpiryDate' | translate}} *</span>
                    </div>
                </div>
                <div class="payment-form-field__column_btn">
                    <button type="submit" [disabled]="submitted || paymentForm.invalid" class="default_btn default_btn_red payment-btn">
                        <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
                    </button>
                    <div class="error_message longTag">
                        {{errorMessage}}
                    </div>
                    <div class="success_message" *ngIf="successMessage">
                        {{'Withdraw.' + successMessage | translate}}
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>


