<div class="modal-content {{data.title}} {{data.title}}_type_{{data.type}}">
    <div class="modal-body-message-block">

        <div>
            <app-base-error-message [infoText]="data.message" *ngIf="data.type == '2'"></app-base-error-message>
            <app-base-success-message [infoText]="data.message" *ngIf="data.type == '1'"></app-base-success-message>
        </div>

        <div class="modal_footer">
            <button type="submit" (click)="close()" class="{{data.title}}_btn">{{'Info.Ok' | translate}}</button>
        </div>
    </div>
</div>
