@import "../../../../../../../../styles/helpers/variables";
@import "../../../../../styles/helpers/variables";

.casino-game {
  display: block;
  width: 100%;
  height: auto;
  position: relative;

  .icon-user-info {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
    visibility: hidden;
  }
  .category-icon
  {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon-star-info {
    position: absolute;
    top: itemTop(m-icon-star-info, 8px);
    color: white;
    z-index: 1;
    right: itemRight(m-icon-star-info, 10px);
    font-size: 18px;
    cursor: pointer;
    visibility: hidden;
  }

  .show-hovered-game-names {
    position: absolute;
    height: auto;
    width: 100%;
    top: 86%;
    color: #ffffff;
    padding: 0 16px;
    font-weight: 400;
    font-size: var(--m-hovered-game-names-title, 18px);
    line-height: 21px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    display: var(--m-show-hovered-game-names-display, block);
    align-items: center;
    justify-content: space-between;

    .title {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 65%;
      white-space: nowrap;
    }
    .game-rating {
      span {
        margin-left: var(--m-show-hovered-game-names-rating-span, 0px);
      }
    }

    .icon-star-info2 {
      display: none;
    }
  }
  .title
  {
    display: none;
    position: absolute;
    bottom: -2px;
    left: 0px;
    z-index: 1;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    background: var(--casino-game-title-shown-background-color, #1d2e4a);
    border-bottom-left-radius: var(--casino-game-title-shown-border-bottom-left-radius, 0px);
    border-bottom-right-radius: var(--casino-game-title-shown-border-bottom-right-radius, 0px);
    padding: var(--casino-game-title-shown-padding, 0px);
    width: 100%;
  }

  .icon-layer {
    display: none;
  }

  .game-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      outline: none;
      border: none;
    }

    .game-img-wrapper {
      transition: opacity .3s;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 10px;
    }
  }

  &.has-game-name {
    .icon-user-info {
      right: 10px;
    }

    .icon-layer {
      position: absolute;
      top: 22px;
      font-size: 64px;
      color: itemColor(m-icon-layer, #e8d838);
      text-align: center;
      width: 100%;
      display: block;
      visibility: hidden;
    }

    .game-img {
      height: calc(100% - 52px);
    }

    .show-hovered-game-names {
      visibility: visible;
      padding: 13px;
      border-radius: 6px;
      background-color: var(--m-casino-game-title-background-color, #1d2e4a);
      display: flex;
      justify-content: space-between;
      margin-top: -9px;

      .icon-star-info2 {
        display: block;
        font-size: 18px;
        color: var(--m-game-rating-star-color, #FAC917);
      }
    }
  }

  &.active-item {
    .game-img {
      .game-img-wrapper {
        background: rgba(46, 91, 124, .2);
        backdrop-filter: blur(10px);
        opacity: 1;
      }
    }

    .game-open, .game-btn, .icon-layer {
      visibility: visible;
    }

    .game-open, .game-btn, .show-hovered-game-names {
      visibility: visible;
    }

    .icon-user-info {
      visibility: visible
    }

    .icon-star-info {
      visibility: visible
    }
    &.has-game-name
    {
      .title
      {
        display: block;
      }
    }
  }

  .game-open {
    position: absolute;
    height: auto;
    right: var(--m-casino-game-real-btn-right, 0);
    left: var(--m-casino-game-real-btn-left, 0);
    top: var(--m-casino-game-real-btn-top, 17%);
    visibility: hidden;
    text-align: center ;

    &.game-open-demo {
      top: var(--m-casino-game-demo-btn-top, 50%);
      left: itemLeft(m-product-demo-button, 0);
      text-transform: var(--m-casino-game-demo-btn-text-transform, none);
      .game-btn_demo-pic {
        display: var(--m-casino-game-btn_demo-pic-display, none);
        width: var(--m-casino-game-btn_demo-pic-width, auto);
        height: var(--m-casino-game-btn_demo-pic-height, auto);
        padding: var(--m-casino-game-btn_demo-pic-padding, 0);
        margin: var(--m-casino-game-btn_demo-pic-margin, 0);
        border: var(--m-casino-game-btn_demo-pic-border, none);
      }
    }
    &.game-open-center {
      top: var(--m-casino-game-real-btn-center-top, var(--m-casino-game-real-btn-top, 17%));
      .game-btn_real {
        display: var(--m-casino-game-real-btn-display, inline-block);
      }
      .game-btn_real-pic {
        display: var(--m-casino-game-real-btn-img-display, none);
        width: var(--m-casino-game-real-btn-img-width, auto);
        height: var(--m-casino-game-real-btn-img-height, auto);
        margin: var(--m-casino-game-real-btn-img-margin, 0);
        justify-content: center;
        align-items: center;
        .game-btn_real-pic-inner {
          width: auto;
          padding: var(--m-casino-game-real-btn-img-padding, 0);
          border-radius: var(--m-casino-game-real-btn-img-border-radius, 50%);
          border: var(--m-casino-game-real-btn-img-border, none);
        }
      }
    }
    &.game-open-top {
      .game-btn_real {
        display: var(--m-casino-game-real-btn-display, inline-block);
      }
      .game-btn_real-pic {
        display: var(--m-casino-game-real-btn-img-display, none);
        width: var(--m-casino-game-real-btn-img-width, auto);
        height: var(--m-casino-game-real-btn-img-height, auto);
        margin: var(--m-casino-game-real-btn-img-margin, 0);
        justify-content: center;
        align-items: center;
        .game-btn_real-pic-inner {
          width: auto;
          padding: var(--m-casino-game-real-btn-img-padding, 0);
          border-radius: var(--m-casino-game-real-btn-img-border-radius, 50%);
          border: var(--m-casino-game-real-btn-img-border, none);
        }
      }
    }
  }

  .game-btn {
    display: inline-block;
    width: var(--m-casino-game-demo-btn-width, 118px);
    line-height: var(--m-casino-game-demo-btn-line-height, 32px);
    padding: var(--m-casino-game-demo-btn-padding, 0 5px);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--m-casino-game-demo-btn-border-radius, 16px);
    color: var(--m-casino-game-demo-btn-color, $color-white);
    font-size: fontSize(m-product-real-button, 18px);

    &_real {
      max-width: 118px;
      width: 100%;
      height: 35px;
      line-height: 35px;
      border-radius: 6px;
      box-shadow: 0px 7px 10px 0 rgba(24, 33, 48, 0.94);
      background-image: linear-gradient(to bottom, itemColor(m-product-real-button-down, #1376f8), itemColor(m-product-real-button-up, #194074));
      background-color: color(m-product-real-button-background);
      font-size: 14px;
    }

    &_demo {
      font-size: var(--m-casino-game-btn_demo-text-decoration, 14px);
      text-decoration: var(--m-casino-game-btn_demo-text-decoration, underline);
      border: var(--m-casino-game-demo-btn-border, none);
      border-radius: var(--m-casino-game-demo-btn-border-radius, 6px);
      height: var(--m-casino-game-demo-btn-height, auto);
      display: var(--m-casino-game-demo-btn-display, inline-block);
      margin: var(--m-casino-game-demo-btn-margin, 0);
      justify-content: var(--casino-game-demo-btn-justify-content, center);
      align-items: center;
      .game-btn_demo-text {
        margin-left: var(--m-casino-game-demo-btn-margin-left, 0);
      }
    }
  }

  .detailed-info {
    width: 100%;
    height: calc(100% - 52px);
    background: var(--m-detailed-info-background, #fff);
    color: var(--m-detailed-info-color, #002776);
    padding: 16px 24px 30px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;

    &.detailed-info-height {
      height: 100%;
    }

    .line {
      height: 1px;
      width: 168px;
      background-color: #E2E2E2;
      margin: auto;
    }

    > div {

      .name {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 4px;
        text-align: center;
      }

      .text {
        color: #676B80;
        font-size: 14px;
        line-height: 17px;
        padding-left: 10px;
        text-align: center;
      }

      .title {
        color: #333333;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 12px;

        .icon {
          font-size: 16px;
          color: #676B80;
          margin-right: 8px;

          &:before {
            color: #676B80;
          }
        }

        span:last-child {
          color: #333333;
        }
      }

      .content {
        font-size: 10px;
        text-transform: uppercase;

        > div {
          height: 12px;
          display: flex;
          justify-content: space-between;

          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
