<div  [ngStyle]="{'display' : selectedFragment ? 'block' : 'none'}">
  <div class="mobile-current-news-section" [ngStyle]="layoutService.layoutStyle" >
    <div class="news-title">
      <span class="section-name">{{newsTypes[currentNews?.Type] | translate}}</span>
      <span class="seperator">|</span>
      <span class="current-news-name" [innerHtml]="currentNews?.Title"></span>
    </div>

    <div class="current-news-section-content">
      <div class="current-news-image">
        <img src="../../../../../../../assets/images/news/{{currentNews?.ImageName}}">
      </div>

      <div class="news-info">
        <h2 [innerHtml]="currentNews?.Title"></h2>
        <div class="description-header" [innerHtml]="currentNews?.Description"></div>
        <p [innerHtml]="currentNews?.Content"></p>

      </div>
      <!--<div class="video-player">
         <video controls>
            <source src="../../../../../../../assets/videos/video.mp4" type="video/mp4">
         </video>
      </div>-->
      <div class="news-info">
        <p [innerHtml]="currentNews?.Content"></p>
        <p class="publish-date">
          <i class="icon-timezone"></i>
          <span>{{currentNews?.DeltaTime}} {{'ago' | translate}}</span>
        </p>
      </div>


    </div>
  </div>
</div>


<div class="section-header" *ngIf="!selectedFragment" [ngStyle]="layoutService.layoutStyle" >
  <h1 class="news-title">{{'News.News' | translate}}</h1>
  <div class="slides-dots">

    <div *ngFor="let item of newsFragments , let i = index">
      <span class="dot"  [class.selected]="currentIndex == i" (click)="currentSlide(i)"></span>
    </div>


  </div>
</div>

<div [ngStyle]="{'display' : selectedFragment ? 'none' : 'flex'}">
  <mobile-current-news [newsFragment]="fragment"  *ngFor="let fragment of newsFragments"></mobile-current-news>
</div>


<!-- <div class="section-header latest">
          <h1 class="news-title">{{'News.The Latest News' | translate}}</h1>
          <div class="slides-dots">
            <div *ngFor="let fragment of newsFragments, let i = index">
              <span class="dot slide-dot"  [class.selected]="selectedIndex == i" (click)="navigateFragment(i)"></span>
            </div>
          </div>
        </div>


        <div class="latest-news-section top-scrollbars">
          <div class="wrapper"></div>
          <div class="latest-news-block" *ngFor="let fragment of newsFragments, let i =index">
            <img class="latest-news-bg" src="../../../../../../../assets/images/news/{{latestNews[i].news.ImageName}}">
            <div class="news-title">
              <span class="section-name">{{latestNews[i].news.Type | translate}}</span>
              <span class="seperator">|</span>
              <span class="current-news-name" [innerHtml]="latestNews[i].news.Title"></span>
            </div>
            <div class="current-news-section">
              <div class="current-news-section-content">
                <div class="current-fragment-item" *ngFor="let item of fragment.News">
                  <div class="news_item"  [queryParams]="{id:latestNews[i].Id}"
                       [routerLink]="['/news']">
                    <img src="../../../../../../../assets/images/news/medium/{{item.ImageName}}"/>
                  </div>

                  <div class="news-info">
                    <h2 [innerHtml]="item.Title"></h2>
                    <div class="description-header" [innerHtml]="item.Description"></div>
                    <p [innerHtml]="item.Content"></p>

                    <p class="publish-date">
                      <i class="icon-timezone"></i>
                      <span>{{item.DeltaTime}} {{'ago' | translate}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->