.affiliate {
  overflow-x: scroll;
  height: var(--m-affiliate-btns-content-height, 64px);
  background: var(--m-affiliate-btns-content-background, transparent);
  padding: var(--m-affiliate-btns-content-padding, 0);
  border-radius: var(--m-affiliate-btns-content-border-radius, 0);

  .affiliate-btns {
    width: fit-content;
    display: flex;
    gap: 7px;

    .craft_btn {
      background: var(--affiliate-Commission-btn-background, #42495A);
      color: var(--affiliate-Commission-btn-color, var(--affiliate-submit-btn-color, #fff));
      height: var(--m-affiliate-submit-btn-height, 40px);
      padding: var(--m-affiliate-submit-btn-padding, 0 10px);
      border: var(--m-affiliate-submit-btn-border, 1px solid #5CAAD3);
      white-space: nowrap;
    }

    .active {
      background: var(--m-affiliate-submit-btn-selected-background, linear-gradient(rgba(25, 64, 116, 1), rgba(19, 118, 248, 1)));
      border: var(--m-affiliate-submit-btn-selected-border, none);
      color: var(--m-affiliate-submit-btn-selected-color, var(--affiliate-submit-btn-color, #fff))
    }
  }
}

.affiliate::-webkit-scrollbar {
  display: none;
}

.affiliate {
  -ms-overflow-style: none;
}

.affiliate-section {
  margin-top: var(--m-affiliate-section-form-margin-top, 25px);
  display: var(--m-affiliate-section-form-display, grid);
  grid-template-columns: var(--m-affiliate-section-form-column-grid-template-columns, 1fr);
  gap: var(--m-affiliate-section-form-gap, 20px);
  border-radius: var(--m-affiliate-section-form-border-radius, 0px);
  background: var(--m-affiliate-section-form-background, transparent);
  align-items: center;

  .error_message {
    font-size: 12px;
    top: 7px;
  }

  .success_message {
    left: var(--affiliate-success-message-settings, auto);
    bottom: -15px;
  }

  .affiliate-tab {
    .affiliate-tab-inner-title {
      display: var(--m-affiliate-tab-inner-title-display, none);
      width: var(--m-affiliate-tab-inner-title-width, 100%);
      margin: var(--m-affiliate-tab-inner-title-margin, 0 auto);
      font-size: var(--m-affiliate-tab-inner-title-font-size, 22px);
      font-weight: var(--m-affiliate-tab-inner-title-font-weight, 900);
      line-height: var(--m-affiliate-tab-inner-title-line-height, 30.05px);
      text-align: var(--m-affiliate-tab-inner-title-text-align, left);
      color: var(--m-affiliate-tab-inner-title-color, #fff);
    }
    .affiliate-tab-inner-description {
      margin: var(--m-affiliate-tab-inner-description-margin, 0 auto);
    }
    .affiliate-support-section {
      padding-top: var(--m-affiliate-section-support-padding-top, 50px);

      .support-part {
        display: var(--m-affiliate-section-support-display, grid);
        grid-template-columns: var(--m-affiliate-section-support-grid-template-columns, 1fr);
        gap: var(--m-affiliate-section-support-gap, 8px);
        align-items: center;
        width: var(--m-affiliate-section-support-width, auto);

        .support-part-item {
          //background: var(--affiliate-support-part-background-color, rgba(45, 52, 69, 1));
          height: var(--m-affiliate-support-part-height, 124px);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: var(--affiliate-support-flex-direction, column);
          color: var(--affiliate-support-part-color, rgba(19, 26, 44, 1));
          border-radius: var(--affiliate-support-part-border-radius, 5px);

          h3 {
            margin-bottom: var(--m-affiliate-support-part-title-margin-bottom, 3px);
            margin-top: var(--m-affiliate-support-part-title-margin-top, 0px);
            font-size: var(--m-affiliate-support-part-title-font-size, 30px);
            font-weight: var(--m-affiliate-support-part-title-font-weight, 700);
          }

          span {
            font-size: var(--m-affiliate-support-part-section-font-size, 18px);
            font-weight: var(--m-affiliate-support-part-section-font-weight, 500);
          }
        }
        .support-part-item:nth-child(1) {
          background: var(--affiliate-support-part1-background, var(--affiliate-support-part-background-color, rgba(45, 52, 69, 1)));
        }
        .support-part-item:nth-child(2) {
          background: var(--affiliate-support-part2-background, var(--affiliate-support-part-background-color, rgba(45, 52, 69, 1)));
        }
        .support-part-item:nth-child(3) {
          background: var(--affiliate-support-part3-background, var(--affiliate-support-part-background-color, rgba(45, 52, 69, 1)));
        }
        .support-part-item:nth-child(4) {
          background: var(--affiliate-support-part4-background, var(--affiliate-support-part-background-color, rgba(45, 52, 69, 1)));
        }
      }
    }
  }

  .form_field {
    position: relative;
    width: var(--m-affiliate-form-field-width, 100%);
    margin: var(--m-affiliate-form-field-margin, 0);

    .change-password-field-type2 {
      top: var(--m-affiliate-change-password-field-type-top, 14px);
    }
  }

  label {
    color: var(--affiliate-input-label-color, #fff);
    position: absolute;
    top: var(--affiliate-input-label-top, 11px);
    left: var(--affiliate-input-label-left, 8px);
    height: var(--affiliate-input-label-height, 25px);
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    pointer-events: none;
  }

  select, input {
    color: var(--affiliate-field-color, #fff);
    border-radius: var(--affiliate-field-border-radius, 5px);
    height: var(--affiliate-field-height, 40px);
    border: var(--affiliate-field-border, 1px solid #dbedff);
    background: var(--affiliate-field-background, transparent);
  }

  input:focus ~ label {
    width: var(--affiliate-input-field-label-width, inherit);
    height: var(--affiliate-input-label-focused-height, 11px);
    background: var(--affiliate-background-color, #FFFFFF);
    color: var(--affiliate-field-focus-label, #fff);
    top: var(--affiliate-label-top, 20px);
    font-size: var(--affiliate-background-color-font-size, 16px);
  }

  input:focus ~ .cut,
  input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
    display: block;
  }

  input:focus ~ .cut {
    display: block;
  }

  input:focus::placeholder {
    opacity: 1;
  }

  input::placeholder {
    opacity: 0;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    transform: var(--affiliate-label-transform, translateY(-27px) translateX(10px) scale(0.75));
    background-color: var(--affiliate-background-color, #131a2c);
    height: var(--affiliate-label-focused-height, 22px);
    font-size: var(--affiliate-font-size-label, 16px);
    color: var(--affiliate-focus-label-focused, #fff);
    text-align: var(--affiliate-focus-label-focused-text-align, left);
    width: var(--affiliate-focus-label-focused-width, auto);
    padding-left: var(--affiliate-padding-left-focus-label-focused, 5px);
    padding-right: var(--affiliate-padding-right-focus-label-focused, 10px);
    top: var(--affiliate-focused-input-label-top, 17px);
  }

  select:focus ~ label,
  select:not([value=""]):valid ~ label {
    transform: var(--affiliate-select-label-transform, translateY(-27px) translateX(10px) scale(0.75));
    top: var(--affiliate-focused-select-label-top, 17px);
    font-size: var(--affiliate-focused-label-font-size, 16px);
    color: var(--affiliate-focus-label-focused, #fff);
    background-color: var(--affiliate-background-color-focus-label-focused, #131a2c);
    padding-left: var(--affiliate-padding-left-focus-label-focused, 5px);
    padding-right: var(--affiliate-padding-right-focus-label-focused, 10px);
  }

  .checkbox-field {
    display: var(--affiliate-field-checkbox-display, flex);
    justify-content: var(--affiliate-field-checkbox-justify-content, flex-start);
    align-items: center;
    height: var(--affiliate-field-height, 40px);
    //padding: 0 10px;

    input {
      width: 17px;
      height: 17px;
      vertical-align: middle;
      //margin-left: auto;
      margin-right: 15px;
    }

    span {
      color: var(--affiliate-checbox-text-color, #fff);
    }
  }

  .communication-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .first-section {
      p {
        margin: 0;
        color: var(--affiliate-types-first-title-color, #fff);
        font-size: var(--affiliate-types-first-title-font-size, 16px);
        font-weight: var(--affiliate-types-first-title-font-weight, 400);
        white-space: nowrap;
      }

      span {
        color: var(--affiliate-types-second-title-color, rgba(219, 237, 255, 0.3));
        font-size: var(--affiliate-types-first-title-font-size, 16px);
        font-weight: var(--affiliate-types-first-title-font-weight, 400);
        white-space: nowrap;
      }
    }

    .second-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .second-section-types {
        span {
          cursor: pointer;
          font-size: 36px;
          padding: 4px;
          background: var(--affiliate-types-icons-background-color, #3d4658);
          color: var(--affiliate-types-icons-color, #fff);
          border-radius: var(--affiliate-types-icons-border-radius, 5px);
        }

        .icon-skype:hover {
          background: #00a9f0;
        }

        .icon-telegram:hover {
          background: #1c8adb;
        }

        .icon-whatsapp:hover {
          background: #27a11a;
        }
      }

    }
  }

  .submit-details {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: var(--affiliate-submit-btn-padding, 0 20px);
      font-weight: var(--affiliate-submit-btn-font-weight, 500);
      font-size: var(--affiliate-submit-btn-font-size, 16px);
      background: var(--affiliate-submit-btn-background, linear-gradient(rgba(25, 64, 116, 1), rgba(19, 118, 248, 1)));
      color: var(--affiliate-submit-btn-color, #fff);
      width: var(--affiliate-submit-btn-width, 100%);
    }
  }
}