<app-custom-block-menu [menuList]="tabsName"></app-custom-block-menu>
<div class="history-section">


  <div class="betting_statment">
    <div class="betting_statment__caption">
      <div class="mainTitle" title="{{'User.Bets-History' | translate}}"><span
        class="icon-cabinet"></span>{{'User.Bets-History' | translate}}</div>
      <div class="right-icons">
        <span class="icon-refresh"></span>
      </div>
    </div>

  </div>

  <div class="history-tools-panel">
    <form [formGroup]="form" (ngSubmit)="submit(1)">
      <div class="history-tools">
        <label>{{'User.Period-of-time' | translate}}</label>
        <select formControlName="timeFilter">
          <option *ngFor="let item of historyTimeFilter; let i = index" [ngValue]="i">
            {{item.Name | translate}}
          </option>
        </select>
      </div>

      <div *ngIf="customFilterShow" class="history-tools custom-tool">
        <label>From</label>
        <angular2-date-picker [(ngModel)]="date" [settings]="settings" (onDateSelect)="onDateSelect()"
                              formControlName="changedate"></angular2-date-picker>
      </div>

      <div *ngIf="customFilterShow" class="history-tools custom-tool">
        <label>To</label>
        <angular2-date-picker [(ngModel)]="todate" [settings]="settings" (onDateSelect)="onDateSelect($event)"
                              formControlName="changetTodate"></angular2-date-picker>
      </div>

      <div class="history-tools">
        <label>{{'User.Status' | translate}}</label>
        <select formControlName="operationFilter"
                [ngClass]="{'disable_item': getBetsHistoryService.betStatuses.length <= 0}">
          <option *ngFor="let item of getBetsHistoryService.betStatuses; let i = index" [ngValue]="item.Value">
            {{item?.Name}}
          </option>
        </select>
      </div>

      <div class="history-tools">
        <label></label>
        <button class="craft_btn show-btn">{{'User.Show' | translate}}</button>
      </div>
    </form>
  </div>

  <table>
    <tbody>
    <tr>
      <td>{{'User.Id' | translate}}</td>
      <td>{{'User.Date' | translate}}</td>
      <td>{{'User.Amount' | translate}}</td>
      <td>{{'User.Product-Name' | translate}}</td>
      <td>{{'User.Bet-Type' | translate}}</td>
      <td>{{'User.Status' | translate}}</td>
      <td>{{'User.Win-Amount' | translate}}</td>
      <td></td>
    </tr>
    <tr
      *ngFor="let item of getBetsHistoryService.betsHistoryList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: getBetsHistoryService.betsHistoryListCount }, let i = index"
      [ngClass]="{'won': item.State == 2, 'lost': item.State == 3}">
      <td>{{item?.BetDocumentId}}</td>
      <td>{{item?.BetDate | date: 'dd/MM/yyyy h:mm'}}</td>
      <td>{{item?.BetAmount | number}}</td>
      <td>{{item?.ProductName}}</td>
      <td>{{'Bet.' + item?.statusTypeName | translate}}</td>
      <td class="status-{{item?.statusName}}">{{item?.statusName}}</td>
      <td>{{item?.WinAmount | number}}</td>
      <td>
        <button type="button" class="craft_btn" (click)="openInfo(item)"
                *ngIf="item?.ProviderId == 100 || item?.ProviderId == 1">{{'User.Info' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>

  <loader></loader>

  <div class="pagination_section">
    <pagination-controls autoHide="true" (pageChange)="getBetsHistory($event)"></pagination-controls>
  </div>

</div>

