.user_id, .balance_section
{
  display: flex;
  flex-direction: var(--text-style2-direction,column);
  transform: var(--text-style2-text-transform, skew(25deg));
  justify-content: var(--text-style2-text-justify-content, unset);
  span:first-child{
    margin-right: 8px;
    color: var(--text-style-user-id-span-color, inherit);
  }
}
.header-user-name
{
  display:  var(--header-balance-user-name-display, none);
  margin: 0;
}
.header-balance-text {
  padding: var(--header-balance-text-padding, 0);
  color: var(--header-balance-text-span-color, inherit);
}
.balance_section
{
  cursor: var(--text-style2-cursor, default);
  position: relative;
  .balance-popup
  {
    position: absolute;
    top: 32px;
    left: -10px;
    display: none;
  }
  &.opened:not([href])
  {
    .balance-popup{display: block};
  }
}