<div class="deposit_payment_section deposit-cash mobile-device">
  <app-common-accounts [templateType]="2" style="position: relative; top:5px"></app-common-accounts>
  <div class="deposit_payment_section__form">
    <form [formGroup]="paymentForm" novalidate (ngSubmit)="submit(paymentForm)">
      <div class="payment-form-field payment-form-select">
        <label class="payment-form-field__label">{{'Withdraw.BankName' | translate}}*</label>
        <div class="payment-form-field__column">
          <select *ngIf="banks.length; else bankNameRef" formControlName="BankName" class="payment-select"
                  (click)="$event.stopPropagation()" (ngModelChange)="selectBank($event)">
            <option *ngFor="let bank of banks"
                    [value]="bank?.key">{{bank?.key}}</option>
          </select>
          <ng-template #bankNameRef>
            <input (click)="$event.stopPropagation()" type="text" class="payment-input"
                   formControlName="BankName" required/>
          </ng-template>
        </div>
      </div>

      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.AccountNumber' | translate}}*</label>
        <div class="payment-form-field__column">
          <select *ngIf="accounts.length; else accountNumberRef" formControlName="BankAccountNumber" class="payment-select" (click)="$event.stopPropagation()">
            <option *ngFor="let account of accounts"
                    [value]="account.BankAccountNumber">{{account.BankAccountNumber}}</option>
          </select>
          <ng-template #accountNumberRef>
            <input (click)="$event.stopPropagation()" type="text" class="payment-input"
                   formControlName="BankAccountNumber" required/>
          </ng-template>
        </div>
      </div>

      <div class="payment-form-field payment-form-select" (click)="$event.stopPropagation()" >
        <label class="payment-form-field__label">{{'Withdraw.NameSurname' | translate}}</label>
        <div class="payment-form-field__column">
          <input type="text" class="payment-input" placeholder="{{'Withdraw.NameSurname-placeholder' | translate}}" disabled ngModel="{{NameSurname}}" [ngModelOptions]="{standalone:true}"
          />
        </div>
      </div>
      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.SwiftCode' | translate}}*</label>
        <div class="payment-form-field__column">
          <input (click)="$event.stopPropagation()" type="text" class="payment-input"
                 formControlName="SwiftCode" required/>
        </div>
      </div>
      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.BankCountry' | translate}}*</label>
        <div class="payment-form-field__column">
          <select (click)="$event.stopPropagation()" required formControlName="BankCountry" class="payment-select"
                  >
            <option *ngFor="let country of countries"
                    [value]="country?.Id">{{country?.Name}}</option>
          </select>
        </div>
      </div>
      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.BankCity' | translate}}*</label>
        <div class="payment-form-field__column">
          <input (click)="$event.stopPropagation()" type="text" class="payment-input"
                 formControlName="BankCity" required/>
        </div>
      </div>
      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.BankAddress' | translate}}*</label>
        <div class="payment-form-field__column">
          <input (click)="$event.stopPropagation()" type="text" class="payment-input"
                 formControlName="BankAddress" required/>
        </div>
      </div>

      <div class="payment-form-field">
        <label class="payment-form-field__label">{{'Withdraw.Amount' | translate}}*</label>
        <div class="payment-form-field__column">
          <input *ngIf="!nominals; else nominalsRef" type="text" class="payment-input" (click)="$event.stopPropagation()"
                 formControlName="Amount" [(ngModel)]="amountValue" numbersOnly required/>
          <ng-template #nominalsRef>
            <app-common-payment-nominals [nominals]="nominals" (nominalChange)="onNominalChange($event)"></app-common-payment-nominals>
          </ng-template>
        </div>

        <div class="info-message" *ngIf="amountValue && CommissionPercent > 0">
          {{'Withdraw.Tax-amount' | translate}}
          : {{ (amountValue * CommissionPercent) / 100 | number: '.2'}} {{'Withdraw.Payout' | translate}}
          : {{amountValue - (amountValue * CommissionPercent) / 100 | number: '.2'}}
        </div>

      </div>

      <div class="payment-form-field">
        <div class="payment-deposit-btn-field">
          <button type="submit" [disabled]="submitted" class="payment-deposit-btn">
            <span class="payment-btn__span"> {{'Withdraw.Confirm' | translate}} </span>
          </button>

          <div class="error_message longTag">
            {{errorMessage}}
          </div>

          <div class="success_message" *ngIf="successMessage">
            {{'Withdraw.'+ successMessage | translate}}
          </div>
        </div>
      </div>
    </form>
  </div>

</div>


