<div class="mobile-transactions-tab">
    <div class="container-part">
        <form class="history-options">
            <div class="custom_dropdown_reg" dropdown>
                <div class="flex_between current_item">
<!--                    <div *ngIf="!selectedType" class="selected-item">{{ 'User.Type' | translate }}</div>-->
                    <div *ngIf="!selectedType" class="selected-item">{{ getTransactionsService.operationTypes[0]?.Name | translate }}</div>
                    <div *ngIf="selectedType" class="selected-item">{{ selectedType}}</div>
                    <div class="change-icon">
                        <span class="icon-arrow-right"></span>
                    </div>
                </div>
                <ul class="custom_dropdown_list right-top types">
                    <li class="custom_dropdown_list_items" *ngFor="let item of getTransactionsService.operationTypes; let i = index"
                        (click)="selectedTypeValue(item)">{{ item?.Name}}</li>
                </ul>
            </div>
            <div class="custom_dropdown_reg" dropdown>
                <div class="flex_between current_item">
<!--                    <div *ngIf="!selectedDate" class="selected-item">{{ 'User.Period-of-time' | translate }}</div>-->
                    <div *ngIf="!selectedDate" class="selected-item">{{ historyTimeFilter[0]?.Name | translate }}</div>
                    <div *ngIf="selectedDate" class="selected-item">{{ selectedDate | translate }}</div>
                    <div class="change-icon">
                        <span class="icon-arrow-right"></span>
                    </div>
                </div>
                <ul class="custom_dropdown_list right-top">
                    <li class="custom_dropdown_list_items" *ngFor="let item of historyTimeFilter; let i = index"
                        (click)="selectedDateValue(i, item)">{{ item?.Name | translate }}</li>
                </ul>
            </div>
        </form>
        <ng-container *ngIf="getTransactionsService.transactionsList.length > 0; else emptyTransactions">
            <div class="transactions-list-items-title">
                <div class="item-title">{{'User.Date' | translate}}</div>
                <div class="item-title">{{'User.Amount' | translate}}</div>
                <div class="item-title">{{'User.Type' | translate}}</div>
            </div>
            <section>
                <div class="transactions-list-items"
                     *ngFor="let item of getTransactionsService.transactionsList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: getTransactionsService.transactionsListCount }, let i = index">
                    <div class="transactions-part">
                        <div class="transactions-left-part">
                            <div class="transactions-block_item block_item">{{ item?.CreationTime | date: 'dd.MM HH:mm' }}</div>
                        </div>
                        <div class="transactions-center-part">
                            <div class="transactions-block_item block_item">{{ item?.Amount | number:'1.2-2' }} {{ currencySymbol }}</div>
                        </div>
                        <div class="transactions-right-part">
                            <div class="transactions-block_item block_item">{{ item?.OperationTypeName }}</div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pagination_section">
                <pagination-controls previousLabel="{{'User.Previous' | translate}}"
                                     nextLabel="{{'User.Next' | translate}}"
                                     autoHide="true"
                                     (pageChange)="getTransactionsHistory($event)"></pagination-controls>
            </div>
        </ng-container>
        <ng-template #emptyTransactions>
            <section class="empty-transactions empty-block transactions-list transactions-list-items">
                <span class="icon-transactions icon"></span>
                <span class="empty-block-text">{{ 'User.Transactions-empty' | translate }}</span>
                <span class="empty-history-text">{{ noHistory }}</span>
            </section>
        </ng-template>
    </div>
</div>