.nickname-form {
  width: 100%;

}

.form_first-login {
  margin: 0 auto;
  width: 100%;

  .form-cell {
    .form-field {
      label {
        display: none;
      }

      border-radius: 0;
      height: 36px;
      padding: 8px 0 4px 8px;
      margin: 10px 0;
      border-width: 1px;
      border-style: solid;
      border-bottom-color: #c4c4c4;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      position: relative;
      background-color: #e8f0fe;
      display: flex;
      align-items: center;

      &.required-input {
        border-top-color: #FF0029;
        border-left-color: #FF0029;
        border-right-color: #FF0029;
      }

      .pass-icon {
        font-size: 16px;
        margin-right: 10px;
        color: #888;
      }

      input {
        border: none;
        outline: 0;
        background-color: transparent;
        color: #888;
        width: 100%;
      }
    }
  }
}


.form_btn_first-login {
  .change_btn {
    width: 100%;
    border: none;
    background-color: #258ce4;
    height: 38px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;

    &:hover {
      background-color: #1a7fd5;
    }
  }
}

.change-type-section {
  display: flex;
  align-items: center;
  padding: 15px;

  &__label {
    font-size: 14px;
    margin-left: 10px;
    color: #888;
    font-weight: 500;
  }
}

.error_message {
  top: 5px;
  text-align: left;
  max-width: 100%;
  word-break: break-all;
  white-space: break-spaces;
}