
.map
{
  background-color: var(--character-hierarchy-bg-color,#FFFFFF);
  padding: 53px 0 82px 0;
  h2
  {
    color: var(--map-title-color,#000);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  .character-hierarchy
  {
    --position: absolute;
    width: 85%;
    height: 38vw;
    position: relative;
    margin: 0 auto;
    .map-image
    {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 100%;
      display: var(--character-hierarchy-bg-image-display, block);
    }
    .character-hierarchy-content
    {
      position: var(--position);
      width: 16vw;
      height: 15.5vw;
      .character-level
      {
        position: relative;
        width: 100%;
        /*height: 100%;*/

        img
        {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
        /*  height: 100%;*/

          &.level-item
          {
            width: 7vw;
            height: 7vw;
            position: absolute;
            top: 37%;
            left: 35%;
            max-width: 100%;
            max-height: 100%;
          }
          &.opened-lock
          {
            width: 28.105px;
            height: 39.869px;
            position: absolute;
            top: 69%;
            left: 14%;
          }
          &.closed-lock
          {
            width: 3vw;
            height: 4.5vw;
            position: absolute;
            top: 39%;
            left: 48%;
            transform: translate(-48%);
            z-index: 1;
          }
        }

      }
      .info
      {
        height: 11vw;
        width: 21vw;
        background-image: url("~assets/images/character-hierarchy/popover-box.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: -38%;
        right: -62%;
        z-index: 1;
        display: none;
        div
        {
          height: 100%;
          width: 100%;
          position: relative;

          p
          {
            width: 59%;
            display: -webkit-box;
            color: var(--character-hierarchy-item-color, #000);
            font-size: .8vw;
            font-weight: 600;
            letter-spacing: 0.8px;
            position: var(--position);
            top: 28%;
            right: 14%;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            &.level{display: none}
          }
          span
          {
            position: var(--position);
            top: 3%;
            right: 16%;
            color: var(--character-hierarchy-title-color, #fff);
            font-size: 1vw;
            font-weight: 700;
            display: inline-block;
            width: 30%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      &.level0
      {
        width: 16vw;
        height: 14vw;
        top: 9%;
        left: 10%;
        .character-level
        {
          .level-item
          {
            width: 8vw;
            height: 8vw;
            position: absolute;
            top: 20%;
            left: 25%;
          }
        }
      }
      &.level1
      {
        top: 42%;
        left: 23%;
      }
      &.level2
      {
        bottom: 25%;
        right: 31%;
        .character-level
        {
          .level-item
          {
            top: 44%;
            left: 27%;
          }
        }
      }
      &.level3
      {
        top: 2%;
        left: 35%;
        .character-level
        {
          .level-item
          {
            top: 35%;
            left: 27%;
          }
        }
      }
      &.level5{}
      &.level6{}
      &.last, &.level4
      {
        top: 15%;
        left:73%;
        height: 18.5vw;
        .character-level
        {
          .level-item
          {
            width: 8vw;
            height: 8vw;
            position: absolute;
            top: 32%;
            left: 25%;
          }
          .closed-lock{
            top: 28%;
            left: 54%;
          }
        }
      }
      &:hover
      {
        .info
        {
          display: block;
        }
      }
      &.active
      {
        filter: grayscale(0);
        .wrapper{-webkit-mask-image:none!important; background-color: transparent; opacity: 1; filter: grayscale(0);}
      }
      &.next-levels{
        .character-level{filter: grayscale(.6);}

        img{filter: grayscale(1);}
        .wrapper
        {
          /*-webkit-mask-image: url("~assets/images/character-hierarchy/last-level.png");
      mask-image: url("~assets/images/character-hierarchy/last-level.png");*/
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          mask-size: 100%;
          mask-repeat: no-repeat;
          mask-position: center;
          background-color: var(--wrapper-background-color,#000844);
          opacity: 0.6;
          filter: brightness(6.5);
        }
      }
    }
    &.change-layout
    {
      --position: static;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      gap: var(--character-hierarchy-content-item-gap,52px);
      width:var(--character-hierarchy-content-width, 85%);
      .character-hierarchy-content
      {
        position: relative;
        top: unset!important;
        bottom: unset!important;
        right: unset!important;
        left: unset!important;
        width:var(--character-hierarchy-content-item-width,275px);
        height: var(--character-hierarchy-content-item-height,318px) !important;
        border-radius: 6px;
        z-index: 1;
        .character-level
        {
          background-color: black;
          border-radius: 6px;
          height: 100%;
          .level-bg{height: 100%}
          .level-item{
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: var(--character-level-item-width, auto);
            height: var(--character-level-item-height, auto);
          }
          .closed-lock{
            width: 24px;
            top: -40px;
            left: -10px;
            transform: none;
          }
          .opened-lock{display: none}
        }
        .info{
          height: fit-content;
          width: 88%;
          position: absolute;
          top: unset;
          left: 17px;
          bottom: 40px;
          display: block;
          background-image: none;
          span, p
          {
            width: 100% !important;
            margin: 0;
            background-image: var(--character-hierarchy-item-bg-color, linear-gradient(to left, #000910 20%, transparent, 80%, #000910));
            display: inline-block;
          }
          span{text-align: center;}
          p
          {
            margin-bottom:4px;
            &:last-child
            {
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
          .level{display: -webkit-box!important;}
        }
        &.next-levels
        {
          .info {
            span {
              font-size: var(--character-title-font-size, 46px);
              color: var(--character-title-color, #fff);
              background: none;
              text-transform: uppercase;
              margin-bottom: var(--character-title-margin-bottom, 0);
              line-height: unset;
              height: unset;
            }

            p {
              height: var(--character-info-text-height, 20px);
              line-height: var(--character-info-text-height, 20px);
              font-size: var(--character-info-font-size, 14px);
              color: var(--character-info-color, #fff);
            }
          }
        }
        &.active
        {
          .info
          {
            span
            {
              font-size: var(--character-title-font-size,46px);
              color: var(--character-title-color,#fff);
              background: none;
              text-transform: uppercase;
              margin-bottom: var(--character-title-margin-bottom, 0);
              line-height: unset;
              height: unset;
            }
            p{
              height: var(--character-info-text-height, 20px);
              line-height: var(--character-info-text-height, 20px);
              font-size: var(--character-info-font-size,14px);
              color: var(--character-info-color,#fff);
            }
          }
        }
      }
    }
  }

}

