<div class="error_message different-values"
     *ngIf="(changePasswordForm.get('uOldPassword').value && (changePasswordForm.get('uOldPassword').value === changePasswordForm.get('uNewPassword').value) && isSubmited)">
    <span>{{ 'Error.please-enter-different-values' | translate }}</span>
</div>

<form [formGroup]="changePasswordForm" novalidate (ngSubmit)="saveResetPassword()">
    <div class="password-form-content form_{{className}}">
        <div class="form-cell form-cell_3">
            <div class="flex-item">
                <div class="form-field"
                     [ngClass]="{'required-input': changePasswordForm.get('uOldPassword').hasError('required') && !changePasswordForm.get('uOldPassword').hasError('uOldPassword') && !changePasswordForm.get('uOldPassword').hasError('maxlength') && changePasswordForm.get('uOldPassword').touched }">
                    <label>
                        {{'User.Old Password' | translate}}
                    </label>
                    <fa-icon *ngIf="showIcons" [icon]="['fas', 'unlock-alt']" class="pass-icon"></fa-icon>
                    <input type="{{changePasswordType ? 'text' : 'password'}}" formControlName="uOldPassword"
                           class="setting_field"
                           [placeholder]="(showPlaceHolder ? 'User.OldPassword-placeholder' : '') | translate"/>
                </div>
                <fa-icon [icon]="['fas', 'check']" *ngIf="!changePasswordForm.get('uOldPassword').hasError('required')  && !changePasswordForm.get('uOldPassword').hasError('maxlength') && changePasswordForm.get('uOldPassword').touched"></fa-icon>
            </div>

            <div class="error_message change-password-form"
                 *ngIf="changePasswordForm.get('uOldPassword').hasError('required') && !changePasswordForm.get('uOldPassword').hasError('uOldPassword') && !changePasswordForm.get('uOldPassword').hasError('maxlength') && changePasswordForm.get('uOldPassword').touched">
                <span>{{ 'Error.Required-field' | translate }}</span>
            </div>
        </div>

        <div class="form-cell form-cell_3">
            <div class="flex-item">
                <div class="form-field"
                     [ngClass]="{'required-input': changePasswordForm.get('uNewPassword').hasError('required') && !changePasswordForm.get('uNewPassword').hasError('uNewPassword') && !changePasswordForm.get('uNewPassword').hasError('maxlength') && changePasswordForm.get('uNewPassword').touched}">
                    <label>
                        {{'User.New password' | translate}}
                    </label>
                    <fa-icon  *ngIf="showIcons" [icon]="['fas', 'unlock-alt']" class="pass-icon"></fa-icon>
                    <input type="{{changePasswordType ? 'text' : 'password'}}"
                           formControlName="uNewPassword" class="setting_field"
                           [placeholder]="(showPlaceHolder ? 'User.NewPassword-placeholder' : '') | translate"/>
                </div>
                <fa-icon [icon]="['fas', 'check']" *ngIf="!changePasswordForm.get('uNewPassword').hasError('required')  && !changePasswordForm.get('uNewPassword').hasError('maxlength') && changePasswordForm.get('uNewPassword').touched"></fa-icon>
                <fa-icon [icon]="['fas', 'times']" *ngIf="changePasswordForm.get('uNewPassword').hasError('required') && !changePasswordForm.get('uNewPassword').hasError('uNewPassword') && !changePasswordForm.get('uNewPassword').hasError('maxlength') && changePasswordForm.get('uNewPassword').touched"></fa-icon>
            </div>

            <div class="error_message change-password-form"
                 *ngIf="changePasswordForm.get('uNewPassword').hasError('required') && !changePasswordForm.get('uNewPassword').hasError('uNewPassword') && !changePasswordForm.get('uNewPassword').hasError('maxlength') && changePasswordForm.get('uNewPassword').touched">
                <span>{{ 'Error.Required-field' | translate }}</span>
            </div>
        </div>
        <div class="form-cell form-cell_3">
            <div class="flex-item">

                <div class="form-field"
                     [ngClass]="{'required-input': changePasswordForm.get('confirmPassword').hasError('matchTo') && changePasswordForm.get('confirmPassword').dirty && !changePasswordForm.get('confirmPassword').hasError('required') }">
                    <label>
                        {{'User.Confirm-password' | translate}}
                    </label>
                    <fa-icon [icon]="['fas', 'unlock-alt']" class="pass-icon"></fa-icon>
                    <input type="{{changePasswordType ? 'text' : 'password'}}" formControlName="confirmPassword"
                           [placeholder]="(showPlaceHolder ? 'Register.ConfirmPassword-placeholder' : '') | translate"/>
                </div>

                <fa-icon [icon]="['fas', 'check']" *ngIf="!changePasswordForm.get('confirmPassword').hasError('matchTo') && changePasswordForm.get('confirmPassword').dirty && !changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched"></fa-icon>

                <fa-icon [icon]="['fas', 'times']" *ngIf="changePasswordForm.get('confirmPassword').hasError('matchTo') && changePasswordForm.get('confirmPassword').dirty && !changePasswordForm.get('confirmPassword').hasError('required')"></fa-icon>

            </div>

            <div class="error_message change-password-form"
                 *ngIf="changePasswordForm.get('confirmPassword').hasError('matchTo') && changePasswordForm.get('confirmPassword').dirty && !changePasswordForm.get('confirmPassword').hasError('required')">
                <span>{{ 'Error.PasswordMatchTo' | translate }}</span>
            </div>
        </div>

    </div>


    <div class="change-type-section">
        <input (change)="changePassType()"
               type="checkbox"/>
        <div class="change-type-section__label">
            {{'User.Show Password' | translate}}
        </div>
    </div>


    <div class="form-row form_btn_{{className}}">
        <div class="form-cell">
            <button type="submit" class="default_btn default_btn_blue change_btn">
                {{'User.Change Password' | translate}}
            </button>
        </div>
        <div style="position: relative">
            <div style="position: absolute; top:40px"
                 class="{{changePasswordMessage?.className}}">{{changePasswordMessage?.message}}</div>
        </div>
    </div>

</form>
